section.billing {
  max-width: rem(40);
  margin: rem(3) auto;
  background: white;
  padding: rem(2);
  font-size: rem(1); // see $we-changed-what-rem-means-and-now-we-regret-it

  h1 {
    @include title-1;
  }

  ul.subscriptions {
    margin: 0;
    padding: 0;
    list-style: none;

    dl {
      margin-top: rem(2);
    }

    dt, dd {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .manage-billing {
    margin-top: rem(2);

    button {
      display: inline-block;
      margin-right: rem(1);
    }
  }
}
