nav.main-nav {
  background: $main-nav-bg;
  color: white;
  position: fixed;
  width: 100%;
  z-index: $zindex-fixed;

  &:not(.open)>ul {
    // On mobile, we hide everything but the logo unless the user opens the menu
    display: none;

    @include media-when-we-pin-main-nav-sidebar {
      display: block;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      color: inherit;
      padding: rem(.75) $main-nav-padding;
    }

    li.parent.open>a {
      font-weight: bold;
    }

    li:not(.parent).open a {
      background: $main-nav-open-bg;
      font-weight: bold;
    }

    li li a {
      padding-left: 2 * $main-nav-padding;
    }

    border-bottom: 1px solid $item-border;
    @include media-when-we-pin-main-nav-sidebar {
      border-bottom: 0; // there's a big gap between them anyway
    }
  }

  ul:last-child {
    border-bottom: 0;
    padding-bottom: rem(.75);
  }

  form.hidden {
    display: none;
  }

  @include media-when-we-pin-main-nav-sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: $main-nav-sidebar-width;
    height: 100vh;

    ul {
      display: block;
    }

    header + ul {
      // the first <ul> stretches to the bottom of the page
      flex: 1 1 auto;
    }
  }

}

@import './MainNavHeader'
