.main-nav > header {
  display: flex;
  justify-content: space-between; // menu button on far right
  align-items: center; // center toggle button and logo

  $logo-aspect-ratio: 1600 / 218;
  $extra-logo-padding-on-right: rem(1);
  padding: $main-nav-padding;

  a {
    display: block;
  }

  img {
    display: block;
    // Hard-code height, not width, so page doesn't flicker during load
    height: ($main-nav-sidebar-width - 2 * $main-nav-padding - $extra-logo-padding-on-right) /
      $logo-aspect-ratio;
  }

  button.toggle-open {
    @include icon-button(
      $color: white,
      $focus-color: $main-nav-open-bg,
      $focus-bg: white,
      $active-color: $main-nav-bg
    );

    @include media-when-we-pin-main-nav-sidebar {
      // We don't need a toggle button when main-nav is always open
      display: none;
    }
  }
}
