{% extends "socialaccount/base.html" %}

{% load i18n_icu %}

{% block head_title %}{% trans_html "py.templates.socialaccount.authentication_error.title" default="Social Network Login Failure" %}{% endblock %}

{% block content %}
<h1>{% trans_html "py.templates.socialaccount.authentication_error.header" default="Social Network Login Failure" %}</h1>

<p>{% trans_html "py.templates.socialaccount.authentication_error.description" default="An error occurred while attempting to login via your social network account." %}</p>
{% endblock %}
