article.report {
  .add-block-prompt {
    text-align: center;
    position: relative;

    &:hover, &.active, &:focus-within {
      &::before {
        // Show a line on hover
        display: block;
        content: '';
        height: .3rem;
        position: absolute;
        top: calc(50% - .2rem);
        background: $brand-orange;
        left: 2rem;
        right: 2rem;
        border-radius: 1rem;
      }

      &>button, &>.dropdown>button {
        border: 2px solid $brand-orange;
        color: $brand-orange;
      }
    }

    &>button {
      // Bootstrap's .btn class has vertical-align: middle, and DropdownItem
      // uses that. Give our non-Bootstrap button the same vertical-align.
      vertical-align: middle;
    }

    &>button, &>.dropdown {
      display: inline-block;
      margin: 0 .2rem;
      position: relative; // Buttons appear above the line
    }

    &>button, &>.dropdown>button {
      background: white;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5rem; // round
      padding: .8rem;
      color: $medium-gray;
      font-size: 1.6rem;
      line-height: 1;

      &:hover {
        color: white ;
        background-color: $brand-orange;
      }
      &:active, &[aria-expanded=true], &:focus {
        color: $brand-orange;
        border-color: $brand-orange;
        background-color: composite-colors($dark-accent--soft-M, white);
      }
    }
  }
}
