article.report .report-container section.block {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

  .block-main {
    flex: 1 1 auto;

  }
  .block-actions {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    button {
      font-size: 2rem;
      margin-left: .5rem;
    }
  }
  &:hover {
    background-color: $hover-background;
    button.icon-button {
      opacity: 1;
      background-color: white;
      color: $light-gray;
      &:hover {
        color: white;
        background-color: $brand-text--dark;
      }
    }
  }
}

article.report .report-container.report-read-only section.block {
  // Read-only reports don't have .add-block-prompt elements, so we increase
  // the margin between blocks.
  margin-top: 3rem; // overrides the previous margin
}
