article.report {
  flex: 1 1 auto;
  overflow-y: auto; // allow scrolling (report-container is variable height)
  padding: 0 2rem 3.2rem;
  background-color: $WF-background;

  .report-container {
    max-width: 112rem;
    margin: 2rem auto 0;
    border: 2px solid $item-border;
    border-radius: .5rem;
    overflow-x: hidden;
    overflow-y: visible;
    background: white;
  }

  header {
    margin: 2rem;
  }
}

@import 'ShareCard';
@import 'AddBlockPrompt';
@import 'Block';
@import 'TextBlock';
@import 'TableBlock';
@import 'ChartBlock';
