@mixin report-markdown-editor() {
  // Reset awful "1em is 10px"
  font-size: rem(1);

  .autosize {
    margin-top: 1em;
    @include autosize-with-textarea;
  }

  .invisible-size-setter,
  textarea {
    outline: none;
    font-family: 'Roboto Mono', monospace;
    color: $brand-text--darker;
    padding: 1em;
    display: block;
    width: 100%;
    height: auto; // varies
    border-radius: 3px;
    border: 2px solid $Vlight-gray;
    background-color: $Vlight-gray;
    &:hover {
      border-color: $dark-accent--soft;
    }

    &:focus {
      border-color: $data-action--border; // overrides :hover
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0.5em 0 0 0.5em;
    }
  }
}
