article.report {
  .share-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: $report-editor-max-width;
    margin: 2rem auto 0;
    @include content-1;
    font-size: 1.4rem;
    line-height: 1.8rem;

    & > div {
      flex: 1 1 auto;
      max-width: calc(50% - 1rem); // 2rem gutter when not wrapped
    }

    h4 {
      @include title-3;
      font-size: 1.5rem;
      margin: 0;
    }

    .workflow-public,
    .share-url {
      margin-top: 0.5rem;
    }

    p {
      margin: 0;
    }

    .workflow-public {
      display: flex;
      align-items: center;

      button {
        @include action-button;
        @include button-orange--fill;
        @include font-sans-bold;
        font-size: 1.6rem;
        margin-left: 1.6rem;
      }
    }
  }
}
