article.report {
  .share-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 112rem;
    margin: 0 auto;
    border-radius: .5rem;
    @include content-1;
    font-size: 1.4rem;
    line-height: 1.8rem;

    p, h4 {
      margin: .3rem 0 0;
    }

    h4 {
      @include font-sans-bold;
    }

    &>* {
      margin-top: 2rem;
    }

    .prompt {
      display: flex;
      align-items: center;

      .status {
        margin-right: 1.6rem;
      }

      button {
        @include action-button;
        @include button-orange--fill;
        @include font-sans-bold;
        font-size: 1.6rem;
      }
    }

    .url {
      display: flex;
      align-items: center;

      .title {
        margin-right: 1.6rem;
      }

      .copy {
        @include font-sans-regular;
        border: 2px solid $item-border;
        border-radius: .3rem;
        background: white;
        padding: .7rem 1rem;
        word-break: break-all;
      }
    }
  }
}
