article.report {
  .share-card {
    flex: 0 0 auto;
    width: 30rem;
    padding: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;
    background: $item-border;
    @include font-sans-bold;
    font-size: 1.4rem;
    line-height: 1.8rem;

    .prompt {
      //display: flex;
      align-items: center;
      padding-bottom: 1.5rem;

      p {margin-bottom: 1rem;}

      .status {
        flex: 1 1 auto; // take up most space
      }

      button {
        @include action-button;
        @include button-orange--fill;
        @include font-sans-bold;
        font-size: 1.6rem;
      }
    }



    h4 {
      margin-top: 2rem;
      font: inherit;
    }

    .url {
      .copy {
        @include font-sans-regular;
        border-radius: .3rem;
        background: white;
        padding: .8rem 1rem;
        word-break: break-all;
      }
    }

    .accessible-to {
      @include content-1;
      margin-top: .5rem;
    }
  }
}
