article.report .report-container section.block-text {
  form {
    // Reset awful "1em is 10px"
    font-size: rem(1);

    textarea {
      font-family: monospace;
      padding: .5em;
      display: block;
      width: 100%;
      height: 10em;
    }
    .buttons {
      display: flex;
      justify-content: flex-end;

      button {
        margin: .5em;
      }
    }
  }
}
