{% extends 'minimum.html' %}
{% load bundle_path from webpack %}
{% load static %}
{% load workbench %}

{% block headscripts %}
  <script defer src="{% bundle_path 'login.js' %}"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% bundle_path 'style.css' %}" />
{% endblock %}

{% block body %}
  <div class="account-fullscreen-container">
    <div class="background"></div>
    <div class="container">
      <div class="account-bigbrand">
        <a class="logo-container" href="{{ workbench_config.home_url }}">
          <img src="{% static 'images/workbench-logo-with-white-text.svg' %}" class="logo"/>
        </a>
      </div>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="card card-block account-card mx-auto drop-shadow">
         {% block content %}{% endblock %}
      </div>
      {% include "locale_switcher.html" %}
    </div>
  </div>
{% endblock %}
