{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    {% render_bundle 'login' 'css' %}
  </head>

  <body>

  <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded border-bottom-1">
    <div class="navbar-brand">
      <img src="/static/images/logo.png" class="logo" />
      <h1 className="mb-0 mr-auto title-5"><a href="http://blog.cjworkbench.org">Workbench</a></h1>
    </div>
    <a class="nav-link" href="http://blog.cjworkbench.org">Blog</a>
  </nav>

  <div class="login-fullscreen-container">
    <div class="container">
      <div class="card card-block login-card mx-auto drop-shadow">
         <!-- <h1 class="text-center title-1 t-d-gray">CJ Workbench</h1> -->
         {% block content %}{% endblock %}
      </div>
    </div>
  </div>

    <!-- JavaScript scripts -->
    {% render_bundle 'login' 'js' %}

  </body>
</html>
