{% extends 'account/base.html' %}

{% load i18n_icu %}

{% block title %}{% trans_html "py.templates.account.email_confirm.confirmEmail.title" default="Confirm Email" %}{% endblock %}

{% block content %}
    {% if confirmation %}
        <form class="account_form" method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
          <legend class='t-d-gray title-1 text-center mb-3'>{% trans_html "py.templates.account.email_confirm.confirmEmail" default="Confirm Email" %}</legend>
          {% csrf_token %}
          <p class='message-body'><b>{{ confirmation.email_address.email }}</b></p>
          <button type="submit" class="button-white action-button mx-auto mt-3">{% trans_html "py.templates.account.email_confirm.confirm.button" default="Confirm" %}</button>
        </form>
    {% else %}
        <p class="content-1">{% trans_html "py.templates.account.email_confirm.notFound1" default="This e-mail confirmation link expired or is invalid. Usually, this means you confirmed already. You can sign in now." %}</p>
        <p class="content-1">{% trans_html "py.templates.account.email_confirm.notFound2" default="(If you know you never clicked any confirmation link before, <a0>sign up</a0> to start over.)" tag_a_href=account_signup %}</p>
        <div>
          <a class="btn btn-primary" href="{% url "account_login" %}">{% trans_html "py.templates._base.signIn" default="Sign In" %}</a>
          <a class="btn btn-secondary" href="{% url "account_signup" %}">{% trans_html "py.templates._base.signUp" default="Sign Up" %}</a>
        </div>
    {% endif %}
{% endblock %}
