{% extends 'account/base.html' %}

{% load i18n_icu %}

{% block title %}{% trans_html "accounts.email_confirm.configTitle" default="Confirm Email" %}{% endblock %}

{% block content %}
    <form method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
        <legend class='t-d-gray title-1 text-center mb-3'>{% trans_html "accounts.email_confirm.configTitle" default="Confirm Email" %}</legend>
        <fieldset>
            {% csrf_token %}
            <p class='message-body'>{% trans_html "account.email_confirm.confirmEmail" default='<b0>{email}</b0>' tag_b0='' arg_email=confirmation.email_address.email %}</p>
            <button type="submit" class="button-white action-button mx-auto mt-3">{% trans_html "account.email_confirm.confirm" default="Confirm" %}</button>
        </fieldset>
    </form>
{% endblock %}
