{% extends "account/base.html" %}
{% load account socialaccount %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}

    <form class="account_form login" autocapitalize="off" method="POST" action="{% url 'account_login' %}">
        <div class="row d-flex align-items-center mt-3 mb-5">
            <div class='col'></div>
            <div class=' col title-1 t-d-gray text-center'>Sign in</div>
            <div class='col switch mt-1'>
                <a href="/signup_closed_test" class='t-f-blue mb-1'>{% trans "Sign up" %}</a>
            </div>
        </div>

        {% csrf_token %}
        {{ form.as_p }}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class='text-center'>
            <a class="content-4 t-f-blue mb-5" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>

        <button class="button-blue action-button mx-auto mb-4" type="submit">{% trans "Sign In" %}</button>

    </form>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}


    {% if ACCOUNT_OPEN_SIGNUP %}
       <!--  <p class="login-footer content-3 t-d-gray text-center">
            {% trans "Don't have an account?" %}
        </p> -->
    {% endif %}
{% endblock %}
