{% extends "account/base.html" %}

{% load account_tags %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <form class="account_form" method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        <legend class='title-1 t-d-gray text-center mb-3'>{% trans "Sign In" %}</legend>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}

        {{ form.get_newsletter.errors }}
        {{ form.remember }}
        {{ form.remember.label_tag }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="action-button button-full-orange mx-auto mb-3">{% trans "Log in" %}</button>
        <div class='text-center'>
            <a href="{% url "account_password_reset" %}" class="btn btn-link content-4 t-f-blue mb-3 ">{% trans "Forgot password?" %}</a>
        </div>
    </form>
    {% if ACCOUNT_OPEN_SIGNUP %}
        <p class="login-footer content-3 t-d-gray text-center">
            {% trans "Don't have an account?" %}  <strong><a href="{% urlnext 'account_signup' %}" class='t-f-blue'>{% trans "Sign up" %}</a></strong>
        </p>
    {% endif %}
{% endblock %}
