{% extends "account/base.html" %}
{% load account socialaccount i18n_icu %}

{% block title %}{% trans_html "py.templates.account.login.title" default="Sign in" %}{% endblock %}

{% block content %}

    <form class="account_form login" autocapitalize="off" method="POST" action="{% url 'account_login' %}">
        <div class="mt-3 mb-5">
            <div class='sign-in'>{% trans_html "py.templates.account.login.title" default="Sign in" %}</div>
              <div class='switch mt-1 d-flex justify-content-center'>
                  <a href="/account/signup">Sign up</a>
              </div>
        </div>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers|length > 0 %}

        <div class="socialaccount_ballot">
            <div>
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        <div class="d-flex justify-content-center mb-4">
          <div class="content-2">or</div>
        </div>
        {% endif %}

        {% csrf_token %}
        {{form.login}}
        {{form.login.errors}}
        {{form.password}}
        {{form.password.errors}}
        {{form.non_field_errors.as_text}}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class='text-center mb-4'>
            <a class="content-1 t-white-u mx-auto" href="{% url 'account_reset_password' %}">{% trans_html "py.templates.account.login.forgotPasswordPrompt" default="Forgot Password?" %}</a>
        </div>
        <button class="button-white--fill action-button mx-auto mt-2 mb-3" type="submit">{% trans_html "py.templates.account.login.submitButton" default="Sign In" %}</button>
    </form>
{% endblock %}
