{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock %}

{% block content %}
    <form class="account_form" method="POST" action="{% url "account_logout" %}">
        <legend class='t-d-gray title-1 text-center mb-3'>{% trans "Log out" %}</legend>
        <fieldset>
            {% csrf_token %}
            <p class='t-d-gray content-3 text-center mb-3'>{% trans "Are you sure you want to log out?" %}</p>
            <button type="submit" class="button-blue action-button mx-auto">{% trans "Log out" %}</button>
        </fieldset>
    </form>
{% endblock %}
