{% extends "account/base.html" %}

{% load i18n_icu %}
{% load account  %}

{% block title %}{% trans_html "py.templates.account.password_reset.title" default="Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
    <form class="account_form" method="POST" action="">
        <legend class='title-1 t-d-gray text-center mt-3 mb-5'>{% trans_html "py.templates.account.password_reset.formHeader" default="Forgot your password?" %}</legend>
        {% csrf_token %}
        {{form.email}}
        {{form.email.errors}}
        <button type="submit" class="button-white--fill action-button mt-3 mb-4 mx-auto mt-3">
            {% trans_html "py.templates.account.password_reset.sendMeInstructions.button" default="Send me instructions" %}
        </button>
    </form>
  
    <script>
      document.querySelector('#id_email').focus()
    </script>
    <div class='text-center'>
        <a href="{% url "account_login" %}" class="content-1 t-white-u mb-5 ">{% trans_html "py.templates.account.password_reset.backToLogin.link" default="Back to login" %}</a>
    </div>
{% endblock %}
