{% extends "account/base.html" %}

{% load i18n_icu %}

{% block title %}{% trans_html "py.templates.account.password_change.title" default="Change password" %}{% endblock %}

{% block content %}
    <form class="account_form" method="POST" action="">
        <legend class='t-d-gray title-1 text-center mb-3'>{% trans_html "py.templates.account.password_change.formHeader" default="Change password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button-blue action-button mx-auto mt-3">{% trans_html "py.templates.account.password_change.saveButton" default="Save" %}</button>
        </fieldset>
    </form>
{% endblock %}
