{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Bad token" %}{% endblock %}

{% block content %}
    <h1 class='title-1 t-d-gray text-center mb-3'>{% trans "Bad token" %}</h1>
    {% url "account_password_reset" as url %}
    <p class='t-d-gray content-3 text-center mb-3'>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
{% endblock %}
