{% extends "account/base.html" %}

{% load i18n_icu %}
{% load account %}

{% block title %}{% trans_html "py.templates.account.password_reset_done.title" default="Password reset sent" %}{% endblock %}

{% block content %}
    <h1 class='title-1 t-d-gray text-center mb-5'>{% trans_html "py.templates.account.password_reset_done.header" default="Instructions sent!" %}</h1>
    {% if not resend %}
      <p class='t-d-gray title-3 text-center mb-5'>{% trans_html "py.templates.account.password_reset_done.checkYourEmail" default="Check your email to reset your password." %}</p>

    {% else %}
        <p class='message-body'>{% trans_html "py.templates.account.password_reset_done.weHaveResentThePass" default="We have resent the password email. If you do not receive it within a few minutes, contact us at <a0>{email}</a0>." tag_a0_href="mailto:hello@workbenchdata.com" arg_email="hello@workbenchdata.com" comment="The a0 tag is a mailto link to the email" %}</p>
    {% endif %}
        <a href="{% url "account_login" %}" class="content-1 text-center t-white-u ">{% trans_html "py.templates.account.password_reset_done.backToLogin.link" default="Back to login" %}</a>
{% endblock %}
