{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password reset sent" %}{% endblock %}

{% block content %}
    <h1 class='title-1 t-d-gray text-center mb-5'>{% trans "Instructions sent!" %}</h1>
    {% if not resend %}
        <p class='t-d-gray info-1 text-center mb-5'>{% blocktrans %}We just sent an email your way. If you do not receive it within a few minutes, try resending.
          <!-- does not display email -->
          <!-- <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p> -->
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="button-blue action-button mx-auto">{% trans "Resend" %}</button>
                </form>
    {% else %}
        <p class='t-d-gray content-3 text-center mb-3'>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
