{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
    <form class="account_form" method="POST" action="">
        <legend class='title-1 t-d-gray text-center mt-3 mb-5'>{% trans "Forgot your password?" %}</legend>
        {% csrf_token %}
        {{form.email}}
        {{form.email.errors}}
        <button type="submit" class="button-white--fill action-button mt-3 mb-4 mx-auto mt-3">
            {% trans "Send me instructions" %}
        </button>
    </form>
    <!-- doesn't display any email -->
    <!-- <p class="text-center, mt-4">{% blocktrans %}If you have any trouble resetting your password, contact us <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p> -->
    <script>
        $("#id_email").focus();
    </script>
    <div class='text-center'>
        <a href="{% url "account_login" %}" class="content-3 t-white-u mb-5 ">{% trans "Back to login" %}</a>
    </div>
{% endblock %}
