{% extends "account/base.html" %}

{% load i18n_icu %}
{% block head_title %}{% trans_html "py.templates.account.password_reset_from_key_done.title" default="Change Password" %}{% endblock %}

{% block content %}
    <legend class='title-1 t-d-gray text-center mt-3 mb-4'>{% trans_html "py.templates.account.password_reset_from_key_done.description" default="Your new password is set!" %}</legend>
    <div class='text-center'>
        <a href="{% url "account_login" %}" class="content-1 t-white-u mb-5 ">{% trans_html "py.templates.account.password_reset_from_key_done.backToLogin.link" default="Back to login" %}</a>
    </div>
{% endblock %}
