{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <legend class='title-1 t-d-gray text-center mt-3 mb-4'>{% if token_fail %}{% trans "Invalid link" %}{% else %}{% trans "Change Password" %}{% endif %}</legend>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="title-3 text-center">{% blocktrans %}This link is not valid anymore. Request a <a class="t-white-u" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</div>
    {% else %}
        {% if form %}
            <form class="account_form" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{form.password1}}
                {{form.password2}}
                <div class="d-flex justify-content-center">
                  <input type="submit" class="button-white--fill action-button"name="action" value="{% trans 'change password' %}"/>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your new password is set.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
