{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set your new password" %}{% endblock %}

{% block content %}
    <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
        <legend>{% trans "Set your new password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </fieldset>
    </form>
{% endblock %}
