{% extends "account/base.html" %}

{% load i18n_icu %}
{% block head_title %}{% trans_html "py.templates.account.password_reset_from_key.title" default="Change Password" %}{% endblock %}

{% block content %}
    <legend class='title-1 t-d-gray text-center mt-3 mb-4'>{% if token_fail %}{% trans_html "py.templates.account.password_reset_from_key.invalidLink"  default="Invalid link" %}{% else %}{% trans_html "py.templates.account.password_reset_from_key.changePass" default="Change Password" %}{% endif %}</legend>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="title-3 text-center">{% trans_html "py.templates.account.password_reset_from_key.notValidAnymore" default="This link is not valid anymore. Request a <a0>new password reset</a0>." tag_a0_href=passwd_reset_url tag_a0_class="t-white-u" comment="The a0 tag is a url to another page" %}</div>
    {% else %}
        {% if form %}
            <form class="account_form" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{form.password1}}
                {{form.password1.errors}}
                {{form.password2}}
                {{form.password2.errors}}
                <div class="d-flex justify-content-center">
                  <input type="submit" class="button-white--fill action-button"name="action" value="{% trans_html 'account.password_reset_from_key.input.changePassword.placeholder' default='change password' %}"/>
                </div>
            </form>
        {% else %}
            <p>{% trans_html "py.templates.account.password_reset_from_key.newPassIsSet" default="Your new password is set." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
