{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password reset sent" %}{% endblock %}

{% block content %}
    <h1 class='title-1 t-d-gray text-center mb-5'>{% trans "Instructions sent!" %}</h1>
    {% if not resend %}
      <p class='t-d-gray title-3 text-center mb-5'>{% blocktrans %}Check your email to reset your password.{% endblocktrans %}</p>

    {% else %}
        <p class='message-body'>{% blocktrans %}We have resent the password email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
        <a href="{% url "account_login" %}" class="content-3 text-center t-white-u ">{% trans "Back to login" %}</a>
{% endblock %}
