{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
    <form class="account_form" method="POST" action="">
        <legend class='title-1 t-d-gray text-center mb-3'>{% trans "Password reset" %}</legend>
        <p class="lead t-d-gray content-3 text-center mb-3">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button-blue action-button mx-auto mt-3">
            {% trans "Reset" %}
        </button>
    </form>
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
