{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <h1 class='title-1 t-d-gray text-center mb-3'>{% trans "This site is in private beta" %}</h1>
    <p class='t-d-gray content-3 text-center mb-3'>{% blocktrans %}If you have signup code you can enter it below.{% endblocktrans %}</p>
    <form method="get" action="">
        <div><input type="text" name="code" placeholder="{% trans 'Your signup code...' %}" /></div>
        <div><input type="submit" class="button-blue action-button mx-auto mt-3">Submit</div>
    </form>
{% endblock %}
