{% extends 'account/base.html' %}
{% block content %}
  <form method="post" class="account_form" action=''>
    <div class="row d-flex align-items-center mb-5">
            <div class='col'></div>
            <div class='title-1 t-d-gray text-center mb-5'>Create account</div>
            <div class='col switch'>
                <a href="/account/login" class='t-f-blue'>Log in</a>
            </div>
    </div>

    {% csrf_token %}
    {{ form.non_field_errors }}
    {# fields are broken out here so we can change the field order #}
    {{ form.first_name.errors }}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}

    {{ form.last_name.errors }}
    {{ form.last_name.label_tag }}
    {{ form.last_name }}

    {{ form.email.errors }}
    {{ form.email.label_tag }}
    {{ form.email }}

    {{ form.password.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}

    {{ form.password_confirm.errors }}
    {{ form.password_confirm.label_tag }}
    {{ form.password_confirm }}

    {{ form.get_newsletter.errors }}
    {{ form.get_newsletter }}
    {{ form.get_newsletter.label_tag }}
    <button type="submit" class="action-button button-full-blue mx-auto mb-3">Register</button>
  </form>
  <br />
<!--   <p class="login-footer content-3 t-d-gray text-center">
    Already have an account? </p> -->
{% endblock %}
