{% extends "account/base.html" %}

{% load i18n_icu %}
{% load workbench %}

{% block head_title %}{% trans_html "py.templates.account.verification_sent.title" default="Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    {% workbench_config as email_settings %}
    <h1 class="t-d-gray title-1 text-center mb-3">{% trans_html "py.templates.account.verification_sent.header" default="Verify Your E-mail Address" %}</h1>
    <p class='message-body'>{% trans_html "py.templates.account.verification_sent.description" default='We have sent an email for verification. If you do not receive it within a few minutes, contact us at <a0>{contactMail}</a0>.' arg_email=email tag_b0='' tag_a0_href=email_settings.help_mailto arg_contactMail=email_settings.help_email comment="The a0 tag is a mailto link for the contactMail." %}</p>
    <a href="/account/login/" class="button-white action-button mx-auto">{% trans_html "py.templates.account.verification_sent.backToLogin.link"  default="Back to login" %}</a>
{% endblock %}
