{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1 class="t-d-gray title-1 text-center mb-3">{% trans "Verify Your E-mail Address" %}</h1>
    <p class="t-d-gray content-3 mb-5">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <a href="/account/login/" class="content-3 text-center t-f-blue">Back to login</a>
{% endblock %}
