# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_mail/

# Asset bundles, downloaded modules, saved data
/node_modules/
/assets/bundles/
/assets/locale/_build

#pycharm
.idea/

#atom-ide
.ropeproject/

client_secret.json
intercom_secret.json
twitter_secret.json
stripe.env

.DS_Store
