# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
webpack-stats.json
db.sqlite3
dbdata/

# Asset bundles, static files, downloaded modules
/node_modules/
/assets/bundles/
/static/
/server/modules/dynamic
/config/modules/dynamic

#pycharm
.idea/
tmp/
