[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.6.1"
"beautifulsoup4" = "==4.7.1"
channels = "==2.3.1"
Django = "~=2.2.2"
"django-allauth" = "==0.37.0"
django-polymorphic = "~=2.0.3"
djangorestframework = "~=3.9.3"
"django-user-accounts" = "==2.1.0"
django-webpack-loader = "==0.7.0"
formulas = "~=1.0.0"
"html5lib" = "==1.0.1"
lxml = "==4.5.0"
psycopg2 = "~=2.8.2"
"python-intercom" = "==3.1.0"
"sendgrid-django" = "==4.2.0"
nltk = "*"
requests = "*"
requests-oauthlib = "*"
pyjwt = "*"
pandas = "~=0.25.0"
cchardet = "*"
aiodns = "*"
channels-rabbitmq = "==1.2.0"
asyncpg = "*"
oauthlib = "*"
jsonschema = "==3.0.1"
rfc3987 = "*"  # for jsonschema 'uri' format
aioamqp = "==0.14.0"
pyyaml = "*"
boto3 = "*"
pyarrow = "==0.16.0"
babel = "*"
thrift = "~=0.13.0"
pyroute2 = "==0.5.9"
pyspawner = "~=0.9.0"
pyicu = "*"
cjwmodule = "~=1.5.5"
pathspec = "*"
setuptools = "*"  # django-polymorphic depends on it but doesn't declare it
google-re2 = "==0.0.5"  # 0.0.5 is the latest to work on libre2-5 (newer ones use deprecated symbols)
cjwparse = "~=0.0.6"
cjwparquet = "~=1.0"
uvicorn = "*"
lz4 = "*"
natsort = "*"

[dev-packages]
black = "==20.8b1"
watchdog = "*"
http-process-proxy = "==0.0.10"

[requires]
python_version = "3.8"
