[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.6.1"
"beautifulsoup4" = "==4.7.1"
channels = "==2.2.0"
Django = "~=2.2.2"
"django-allauth" = "==0.37.0"
django-polymorphic = "~=2.0.3"
djangorestframework = "~=3.9.3"
"django-user-accounts" = "==2.1.0"
"django-webpack-loader" = "==0.6.0"
formulas = "==0.2.0"
gitpython = "==2.1.11"
"html5lib" = "==1.0.1"
lxml = "==4.3.0"
psycopg2 = "~=2.8.2"
"python-intercom" = "==3.1.0"
"sendgrid-django" = "==4.2.0"
xlrd = "==1.2.0"
nltk = "*"
requests = "*"
requests-oauthlib = "*"
pyjwt = "*"
pandas = "~=0.25.0"
cchardet = "*"
python-snappy = "*"
async-generator = "*"
aiodns = "*"
channels-rabbitmq = "~=1.1.3"
asyncpg = "*"
oauthlib = "*"
"fb-re2" = "*"
hext = "==0.2.0"
jsonschema = "==3.0.1"
rfc3987 = "*"  # for jsonschema 'uri' format
aioamqp = "*"
pyyaml = "*"
boto3 = "*"
pyarrow = "~=0.15.0"
babel = "*"
thrift = "~=0.11.0"
yajl-py = "*"
six = "*"  # yajl-py depends on it but doesn't declare so. https://github.com/pykler/yajl-py/issues/21
pyroute2 = "*"

[dev-packages]
watchdog = "*"
http-process-proxy = "==0.0.10"
black = "==19.3b0"

[requires]
python_version = "3.7"
