// Relies on @mixin module-search-input from _ModuleSearch.scss

.add-data {
  // This is the "+ ADD DATA" button or <WfModule>. .add-data-modal isn't
  // styled here because it's in a portal.
  .add-data-button {
    @include add-module-button-container;

    &>button {
      @include button-blue--fill; // the user _must_ click this button :)
    }
  }
}

.add-data-modal { // renders atop the selected pane
  // Cover the entire pane
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  // Center contents (no matter their size)
  display: flex;
  justify-content: center;
  align-items: center;

  &::before { // backdrop for modal
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include modal-backdrop; // color
  }

  .content {
    // Cover most of the backdrop
    width: 100%;
    height: 100%;

    position: relative; // get stacking context, so we're on top of parent::before

    display: flex; // so .body can auto-size itself and have a scrollbar
    flex-direction: column;

    //box-shadow: $menu-shadow;
    background: $WF-background;
    //border-radius: .5rem;
    overflow: hidden; // respect the border-radius

    header { // this header is designed to not look like a modal, in order to cover and better integrate the WF
      display: block;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 2rem;
      padding: 2rem;
      background-color: $WF-background;
      color: $brand-text--dark;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        h5, .modal-title {
          @include title-2;
          margin: 0 2rem 0 0;
        }

        .close {
          cursor: pointer;
          font-size: 3rem;
          color: $document-blue;
          &:hover {
            color: $brand-text--dark;
          }
        }
      }

      .search {  //TODO Create a new class of search field that is slightly bigger than the ones in the WF -- this type would be used to search for lessons, content, assets across the platform etc.
        width: 45rem;
        margin: 0 auto;
        flex: 0 0 auto;
        @include module-search-field;
        @include content-3;

        &::before {
          top:.8rem;
          font-size: 1.9rem;
          color: $item-border;
          opacity: 1;
        }

        input {
          padding: 1rem 4rem;
          background: white;
          height: 4rem;
          border-color: $item-border;
        }

        button.reset {
          top: 1.1rem;
          font-size: 1.5rem;
        }
      }
    }

    .body {
      flex: 1 1 auto;
      display: flex; // to size children -- in particular, to make empty-search-results full-height
      flex-direction: column;
      // Scroll vertically on all but the largest screens
      overflow: auto;
      padding:  0 7rem 5rem 7rem;
      @include content-1;
      background-color: $WF-background;
    }
  }

  .modules { // display as columns
    display: grid;
    margin-top: 3rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, auto));
    justify-content: center;

    &.no-results {
      flex: 1 1 auto; // fill the modal. We don't want this if we _have_ results -- we may want the box shorter
      margin-top: 5rem;
      justify-content: center;

      p {
        margin: 0;
        @include title-2;
      }
    }

    a {
      grid-column-start: auto;
      grid-row-start: auto;
      width: 28rem;
      height: 15rem; // set fixed height to keep constrain design. users will have to fit guide
      font: inherit;
      background-color: white;
      color: inherit;
      box-shadow: none;
      border-radius: .5rem;
      border: 1px solid $item-border;
      padding: 2rem;
      display: flex; // icon to left of title
      //box-shadow: $button-area;
      position: relative;
      box-shadow: $button-area;


      &:hover {
        box-shadow: $button-area--hover;
        top: -3px;
      }

      &.lesson-highlight {
        border: 2px solid $brand-learn;
      }

      i {
        font-size: 1.8rem;
        margin-right: 1rem;
      }

      h4 {
        font-size: 1.4rem;
        font-weight: bold;
        align-items: center;
        margin-bottom: 1rem;

      }

      p {
        //margin-left: -2.5rem;
      }

      &:hover {
        text-decoration: none;
        h4 span {
          text-decoration: underline;
        }
      }
    }
  }
}
