.module-stack {
  flex: 0 0 auto; // auto-width: width of contents (including scrollbar)
  padding-top: 1.5rem;
  background-color: $WF-background;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;

  .in-between-modules {
    position: relative;
    margin: 0;
    &:last-child {
      height: 1rem;
    }
  }

  .caught-error { // when a module does not load
    text-align: center;
    color: $error-prompt;
    @include content-1;
    padding: 1rem;
    background-color: white;
  }

  // Big button to call the module search at the bottom of stack
  .module-search-last {
    @include add-module-button-container;
    position: relative; // XXX should probably be margin-top: 1.5rem, but that's hard to fix now because the "ADD STEP" modal would shift by 1.5rem
    top: 1.5rem;
    margin-bottom: 20rem; // so there's always a scrollbar, and clicking "ADD STEP" doesn't add one //FIXME @adam Would be much better to have the scrollbar not pushing the table, and not displayed when there is no need to.

    &>button {
      &:not(:hover):not(.active):not(.lesson-highlight) {
        // Color this one differently from all other buttons on the site
        background: transparent;
      }
    }
  }

  .empty-read-only {
    // "This Tab has no Steps.", sorta in the middle of the pane where modules normally go
    width: $module-width;
    margin: 0 $module-margin-right 0 $module-margin-left;
    text-align: center;
    @include content-1;
    margin-top: 45%;
  }

  // Button to call the module search between modules
  .module-search-in-between {
    width: $module-width;
    margin-left: $module-margin-left;
    position: relative;
    height: 2.2rem;

    &:hover, &:focus-within {
      z-index: 2; // appear above the next module
    }

    button.search {
      display: block;
      position: absolute;
      width: $module-width;
      height: 1.4rem;
      cursor: pointer;
      border: 0;
      opacity: 0;
      background: lighten($brand-orange,8%);
      color: white;
      margin-top: .4rem;
      font-size: 1rem;
      border-radius: 1rem;
      transition-property: opacity;
      transition-delay: .06s; // [adamhooper, 2019-03-28] why? Seems Workbench would feel snappier without transition here -- So that it does not flash when you hover past it. [PFC 2019-03-31]

      i.icon-add {
        position: relative;
        top: 0rem;
      }

      span {
        display: none; // no text
      }

      &:hover, &.active {
        opacity: 1;
      }

      &.lesson-highlight {
        opacity: 1;
      }
    }
  }

  // Drop zone to place a module between others in the stack
  .module-drop-zone {
    display: block;
    position: absolute;
    top: -5rem;
    bottom: -5rem;
    width: 100%;
    z-index: 2;

    i {
      display: none;
    }

    &.is-drag-hovering .highlight {
      pointer-events: none;
      margin: 5rem $module-margin-right 0 $module-margin-left;
      border-radius: 1rem;
      height: 1.5rem;
      background-color: $brand-background--action;

      i {
        display: block;
        color: darken($brand-workspace, 5%);
        position: relative;
        left: 50%;
        top: 3px;
        font-size: 1rem;
      }
    }
  }

  // Module stack in zen mode
  &.zen-mode {
    .wf-module:not(.zen-mode),
    .in-between-modules {
      display: none;
    }

    .wf-module.zen-mode {
      .module-card {
        width: 50rem;
      }

      &::after {
        display: none; // nix the little line after each module
      }

      // No need to collapse the epxanded python module - this is solo module display
      .context-collapse-button {display: none;}

      .module-card-header {
        height: 5.5rem;
        padding-top: 1rem;

      }

      // Notes are the same width as module-stack

      textarea[name="notes"], .editable-notes-read-only {
        width: 50rem;
      }
    }
  }
}
