nav.pane-select {
  // values Copy/pasted from _Tabs.scss....
  $tabs-border: $document-blue;
  $report-button-padding: .8rem 1.5rem .6rem;
  $overlap-width: 3px;

  display: flex;
  line-height: 0; // there are some `display: inline-block` elements and we want them to line up
  //border-top: 2px solid $tabs-border;
  background: $pane-select-tab-bg;
  padding: 0 1.5rem 0;

  .tabs {
    //flex: 1 1 auto; // consume all the space
  }

  .report {
    flex: 0 0 auto;
    white-space: nowrap;
    margin-left: 2rem;

    button {
      // Sorta copy/pasted from _Tabs.scss
      font: inherit;
      font-size: 1.4rem;
      line-height: 1.5;
      border: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: $report-button-padding;
      background: $pane-select-tab-bg;
      color: $pane-select-tab-fg;

      i {
        margin-right: .5rem;
        vertical-align: -.2rem; // aargh, chart icon doesn't line up with baseline
      }

      &:disabled {
        background: $pane-select-selected-tab-bg;
        color: $pane-select-selected-tab-fg;
      }
    }
  }
}
