@mixin media-when-we-pin-main-nav-sidebar {
  @include media-breakpoint-up(md) {
    @content;
  }
}
$main-nav-sidebar-width: rem(15);
$main-nav-open-bg: $heading-bg;
$main-nav-bg: $document-blue;
$main-nav-padding: rem(1.5);
$main-padding: rem(1);
$main-padding-desktop: rem(2);

.page {
  font: rem(.9) $font-family-sans-serif;
  padding: 0 $main-padding;

  main {
    header {
      h1 {
        margin: 0;
        font-weight: bold;
        color: $main-nav-open-bg;
      }
    }
  }

  @include media-when-we-pin-main-nav-sidebar {
    margin-left: $main-nav-sidebar-width;
    padding: 0 $main-padding-desktop;

    main {
      max-width: rem(55);
      margin: 0 auto;

      header {
        margin: 0;
        padding: rem(5) 0;
      }
    }
  }
}

@import './MainNav/index'
