version: '3.4'

# See also:
# docker-compose.override.yml (for dev mode only -- uses 'build')
# docker-compose.cloudbuild.yml (for cloudbuild only -- uses 'image')

services:
  db:
    image: postgres:10
    networks:
      default:
        aliases: [ 'workbench-db' ]
    environment:
      POSTGRES_USER: 'cjworkbench'
      POSTGRES_PASSWORD: 'cjworkbench'
      POSTGRES_DB: 'cjworkbench'

  rabbitmq:
    image: rabbitmq:3.7.8
    environment:
      # Use just one CPU
      RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS: '+S 1:1 +stbt ts +A 12'

  migrate:
    #image:
    #build:
    # Depends on minio because `import server.minio` pings it to ensure bucket
    # Dpeends on rabbitmq so that rabbitmq is already warm when we launch
    # integration-test
    depends_on: [ 'db', 'minio', 'rabbitmq' ]
    environment:
      PYTHONUNBUFFERED: '1'
      ASGI_THREADS: '2'
      CJW_PRODUCTION: 'True'
      CJW_DB_HOST: workbench-db
      CJW_DB_PASSWORD: cjworkbench
      CJW_RABBITMQ_HOST: amqp://guest:guest@rabbitmq/
      CJW_SECRET_KEY: cjw-secret-key
      CJW_MOCK_EMAIL: 'True'
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
      MINIO_URL: http://minio:9000
      MINIO_BUCKET_PREFIX: integrationtest

  minio:
    image: minio/minio:RELEASE.2019-03-13T21-59-47Z
    environment:
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
    command: server /data

  git-server:
    #image:
    #build:

  worker:
    #image:
    #build:
    depends_on: [ 'db', 'rabbitmq', 'minio' ]
    environment:
      PYTHONUNBUFFERED: '1'
      ASGI_THREADS: '5'
      CJW_RABBITMQ_HOST: amqp://guest:guest@rabbitmq/
      CJW_PRODUCTION: 'True'
      CJW_DB_HOST: workbench-db
      CJW_DB_PASSWORD: cjworkbench
      CJW_SECRET_KEY: cjw-secret-key
      CJW_MOCK_EMAIL: 'True'
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
      MINIO_URL: http://minio:9000
      MINIO_BUCKET_PREFIX: integrationtest
    volumes:
      - local_mail:/app/local_mail

  cron:
    #image:
    #build:
    depends_on: [ 'db', 'rabbitmq', 'minio' ]
    environment:
      PYTHONUNBUFFERED: '1'
      ASGI_THREADS: '2'
      CJW_RABBITMQ_HOST: amqp://guest:guest@rabbitmq/
      CJW_PRODUCTION: 'True'
      CJW_DB_HOST: workbench-db
      CJW_DB_PASSWORD: cjworkbench
      CJW_SECRET_KEY: cjw-secret-key
      CJW_MOCK_EMAIL: 'True'
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
      MINIO_URL: http://minio:9000
      MINIO_BUCKET_PREFIX: integrationtest

  frontend:
    #image:
    #build:
    #no ports: on cloudbuild
    depends_on: [ 'db', 'rabbitmq', 'minio' ]
    environment:
      PYTHONUNBUFFERED: '1'
      ASGI_THREADS: '5'
      CJW_RABBITMQ_HOST: amqp://guest:guest@rabbitmq/
      CJW_PRODUCTION: 'True'
      CJW_DB_HOST: workbench-db
      CJW_DB_PASSWORD: cjworkbench
      CJW_SECRET_KEY: cjw-secret-key
      CJW_MOCK_EMAIL: 'True'
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
      MINIO_URL: http://minio:9000
      MINIO_BUCKET_PREFIX: integrationtest
      STATIC_URL: http://minio:9000/integrationtest-static/
    volumes:
      - local_mail:/app/local_mail

  integration-test:
    #image:
    #build:
    depends_on: [ 'db', 'worker', 'cron', 'frontend', 'git-server' ]
    command: [ "sh", "-c", "until curl --output /dev/null http://frontend:8080 --silent --head --fail; do sleep 1; done; xvfb-run -a -s '-screen 0 1200x768x24' python -m unittest discover -v integrationtests -f" ]
    shm_size: 2g # prevent Firefox crashing ~5% of startups
    volumes:
      - local_mail:/app/local_mail
    environment:
      PYTHONUNBUFFERED: '1'
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
      MINIO_URL: http://minio:9000
      MINIO_BUCKET_PREFIX: integrationtest

volumes:
  local_mail: {}  # worker/frontend write emails; integration-test reads them

networks:
  default: {}
