.param-aggregations {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.aggregation {
    & + li.aggregation {
      // Spacing between items
      padding-top: .5rem;
    }

    select.operation {
      // 1. operation: has top radius, not bottom radius
      @extend %custom-select;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .column {
      // 2. (optional) colname: has no radius
      .react-select__control {
        background-color: $table-background;
        border-radius: 3px;
        border-color: transparent;
        margin-top: $group-margin;
        &:hover {
          border-color: darken($Vlight-gray,5%);
        }
      }
    }

    label.outname {
      // 3. outname: no top radius
      display: flex;
      margin: 0;

      span {
        font-size: 1.4rem;
        flex: 0 0 auto;
        line-height: 3.1rem; // line up with <input>
        border: 2px solid $table-background;
        border-right: 0;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        padding: 0 1.2rem; // line up with <select> innards above it
        color: $brand-text--medium;
        margin-top: $group-margin;
      }

      input {
        @extend %module-parameter;
        background-color: $table-background;
        border-color: transparent;
        color: $brand-text--medium;
        padding: 0 1.3rem; // same as <span>
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        display: block;
        flex: 1 1 auto;
        margin-top: $group-margin;
        &:hover {
          cursor: text;
          border-color: darken($Vlight-gray,5%);
        }
      }
    }

    .delete {
      text-align: right;

      button {
        cursor: pointer;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 1.2rem;
        background: inherit;
        color: $light-gray;
        //margin-top: $group-margin;
      }

      i {
        margin-right: 1rem;
      }
    }
  }

  button.add {
    cursor: pointer;
    font: inherit;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: $group-margin;
    margin-left: 0;
    padding: 0;
    border: 0;
    background: inherit;
    color: inherit;
  }
}
