.param-aggregations {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li.aggregation {
    & + li.aggregation {
      // Spacing between items
      padding-top: .5rem;
    }

    select.operation {
      // 1. operation: has top radius, not bottom radius
      @extend %custom-select;
      border-radius: 3px 3px 0 0;
    }

    .column {
      // 2. (optional) colname: has no radius
      .react-select__control {
        background-color: $table-background;
        border: 2px solid $Vlight-gray;
        border-top-color: transparent;
        border-radius: 0;
        &:hover {
          border-color: darken($Vlight-gray, 7%);
        }
      }
    }

    label.outname {
      // 3. outname: no top radius
      display: flex;
      margin: 0;

      span {
        font-size: 1.4rem;
        flex: 0 0 auto;
        line-height: 3.1rem; // line up with <input>
        border: 2px solid $Vlight-gray;
        border-top-color: transparent;
        border-right: 0;
        border-radius: 0 0 0 3px;
        padding: 0 1.2rem; // line up with <select> innards above it
        color: $placeholder;
      }

      input {
        @extend %module-parameter;
        background-color: $table-background;
        padding: 0 1.3rem; // same as <span>
        border-radius: 0 0 3px 0;
        border-top-color: transparent;
        display: block;
        flex: 1 1 auto;
        &:hover {
          border-color: darken($Vlight-gray, 7%);
        }
      }
    }

    .delete {
      margin-top: $param-group-margin;
      text-align: right;

      button {
        cursor: pointer;
        margin: 0;
        padding-right: 0;

        border: 0;
        font: inherit;
        font-size: 1.1rem;
        background: inherit;
        color: $medium-gray;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  button.add {
    cursor: pointer;
    font: inherit;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: $param-group-margin;
    margin-left: 0;
    padding: 0;
    border: 0;
    background: inherit;
    color: inherit;
    &:hover {
      color: $brand-text--darker;
    }
  }
}
