.param-filters {
  @extend %content-2;
  line-height: 1.5rem; //FIXME fix class of text that does not wrap

  h5 {
    @extend .content-1;
    color: $brand-orange;
    text-transform: uppercase;
    line-height: 1.6rem;
    margin-bottom: 0;
  }

  .filter {
    border: 1px solid $brand-orange;
    border-radius: 5px;
    padding: 1rem;

    & + .filter {
      margin-top: 1rem;
    }

    .filter-heading {
      position: relative;

      button.delete { // delete filter group
        position: absolute;
        right: -1rem;
        top: -.5rem;
        border: 0;
        color: $brand-orange;
      }
    }

    .filter-operator {
      text-align: left; // in a filter, operators stay on the left
    }
  }

  .filter-operator {
    // both &>.filter-operator and .filter>.filter-operator
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .4rem;

    button, span {
      background: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
      border: 0;

      &.unselected-operator {
        cursor: pointer;
        color: $text-muted;
        &:hover {
          color: $brand-text--dark;
        }
      }

      &.selected-operator {
        //font-weight: bold;
        color: $brand-orange--darker;
      }

      &:last-child {
        margin-left: .5rem;
        border-left: 1px solid $light-gray;
        padding-left: .4rem;
      }
    }
  }

  .add-filter {
    // both &>.add-filter and .filter>.add-filter
    button {
      background: none;
      border: 0;
      padding: 0;
      margin: 0;
      cursor: pointer;
      color: $brand-text--dark;

      &:hover {
        color: $brand-orange;
      }
    }

    button + button {
      margin-left: .5rem;
      border-left: 1px solid $light-gray;
      padding-left: .4rem;
    }
  }

  &>.add-filter {
    text-align: center;
    margin-top: .5rem;
  }

  .filter {
    &>.add-filter {
      margin-top: .5rem;
    }
  }

  .subfilter {
    position: relative; // to position button.delete

    button.delete { // delete condition
      margin-top: $param-group-margin;
      position: absolute;
      right: 0;
      border: 0;
      color: $light-gray;
      margin-right: .5rem;
    }
  }

  .value {
    .autosize {
      @extend %autosize-with-textarea;
      &>* {
        @extend %module-parameter;
        height: auto; // unset %module-parameter height: our height varies
      }
    }
  }

  button.delete { // for all button.delette
    font-size: 1.1rem;
    background-color: transparent;
    opacity: .7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  select {
    @extend %custom-select;
  }
}
