.module-card-params .groups {
  padding-bottom: .5rem;

  .group-dates {
    margin-top:$param-group-margin;
    text-align: right;
    font-size: 1.3rem;
    line-height: 1.4rem;
    position: relative;

    label {
      display: flex;
      align-items: center;
      right: 0px;
      position: absolute;
      margin-bottom: 0;


      input::after { // to diplay checkbox correctly bug? // FIXME
        position: absolute;
        top: 1px;
      }
    }
  }

  .date-granularities {
    margin-top: 2.5rem;
    border-radius: .5rem;

    .custom-select {
      @extend %custom-select;
    }

    .date-granularity h5 {
      @extend %content-1;
      color: $placeholder;
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    label {
      display: block;
      margin: 0;
      font: inherit;
      font-size: 1.4rem;
    }
    .no-date-selected {
      margin-top: 2.5rem;
      padding: 1.5rem;
      background-color: $brand-workspace--light;
      color: $brand-workspace;
      font-weight: bold;
      @extend .content-1;
      text-align: left;
      word-wrap: break-word;
      border-radius: .5rem;

      button {
        color: $brand-workspace;
        border-color: $brand-workspace;
      }
    }
  }
}
