.module-card-params .groups {
  padding-bottom: 2rem;

  .group-dates {
    text-align: right;
    font-size: 1.2rem;
  }

  .date-granularities {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    label {
      display: block;
      margin: 0;
      font: inherit;
      font-size: 1.4rem;
    }
  }
}
