.module-card-params .groups {
  padding-bottom: 2rem;

  .group-dates {
    text-align: right;
    font-size: 1.2rem;
    position: relative;

    label {
      display: flex;
      align-items: center;
      right: 0px;
      position: absolute;
    }
  }

  .date-granularities {
    margin-top: 2.5rem;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    label {
      display: block;
      margin: 0;
      font: inherit;
      font-size: 1.4rem;
    }
    .no-date-selected {
      margin-top: 2.5rem;
      padding: 1.5rem;
      background-color: $brand-workspace--light;
      color: $brand-workspace;
      @extend .content-1;
      text-align: left;
      word-wrap: break-word;
      margin-bottom: 1rem;
    }
  }
}
