.param-rename-entries {
  padding: 1rem 0 2rem 0;

  max-height: 25rem;
  overflow-y: auto;

  .rename-entry:not(:first-child) {
    margin-top: 1rem;
  }

  label {
    @extend %content-1;
    color: $text-muted;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0;
  }

  .rename-container {
    position: relative; // to absolutely position button

    .rename-input {
      @extend %module-parameter;
      flex: 1 1 auto;
      padding: 0 1rem;
      white-space: nowrap;
      display: block;
      line-height: 3.3rem;
      width: 100%;
      resize: none;
      overflow: hidden;
      cursor: text;
      border-radius: 3px;
    }

    .rename-delete {
      @extend .button-icon;
      cursor: pointer;
      font-size: 1.3rem;
      position: absolute;
      right: .2rem;
      top: .2rem;
      bottom: .2rem;
      width: 3rem;
      height: auto; // override .button-icon
      background-color: $Vlight-gray;
      opacity:0;
      &:hover::before {
        color:$brand-text--dark;
      }
    }

    &:hover .rename-delete {
      opacity: 1;
    }
  }
}
