.param-valueselect {
  .value-list-container {
    // Copied from Refine.scss:.group-list-selector
    margin-top: .3rem;
    border: 1px solid $brand-orange;
    border-radius: .5rem;
    padding: .8rem .6rem .3rem;
  }

  .value-list {
    @include font-nunito-regular;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    max-height: 30rem;
    overflow: hidden; // react-window will put a scrollbar

    label.value {
      display: flex;
      vertical-align: middle;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      margin: 0; // Bootstrap margin messes with autosizing
      padding: 4px 0;

      input[type=checkbox] {
        flex: 0 0 auto;
        vertical-align: middle;
        height: 1.6rem;
      }

      .text {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .count {
        flex: 0 0 auto;
        margin-left: 1rem;
        margin-right: .5rem;
        @include font-nunito-extra-light;
      }
    }
  }
}
