.param-valueselect {
  .all-none-buttons {
    button {
      @include content-2;
      color: $brand-text--dark;
      background-color: transparent;
      cursor: pointer;
      border: 0;
      text-transform: uppercase;

      &:first-child {
        border-right: 1px solid $dark-accent--strong;
        padding: 0 .6rem 0 0;
      }

      &:last-child {
        padding: 0 0 0 .6rem;
      }

      &:hover {
        color: $brand-orange;
      }

      &:disabled {
        cursor: default;
        color: $text-muted;
      }
    }
  }

  .value-list {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    max-height: 30rem;

    .ReactVirtualized__Grid.ReactVirtualized__List.react-list {
      width: 25.5rem !important; // FIXME no !important

      .ReactVirtualized__Grid__innerScrollContainer {
        max-width: 100% !important; // // FIXME no !important 
      }
    }


    .value {
      display: flex;
      font-size: 1.3rem;
      vertical-align: middle;
      position: relative;
      justify-content: space-between;

      label {
        flex: 0 1 auto;
        display: flex;
        cursor: pointer;
        overflow: hidden;

        input[type="checkbox"] {
          flex: 0 0 auto;
          vertical-align: middle;
          height: 1.6rem;
          height: 1.6rem;
          &::after {
            top: 2px;
          }
        }

        .text {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .count {
        margin-left: 1rem;
        text-align: right;
        float: right;
        font-weight: 200;
      }
    }
  }
}
