.version-select, .version-select-simpler {
  margin-top: 1rem;

  .update-frequency-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


    .version-box-option {
      font-size: 1.3rem;
    }

    .last-checked {
      @extend %content-2;
      color: $text-muted;
    }

    .update-option {
      top: 1rem;

      action-link {
        color: red;
      }
    }
  }

  .version-row {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .version-item {
    font-size: 1.3rem;
    color: $brand-text--dark;
    display: flex;
    align-items: flex-end;

    .no-versions {
      margin-left: .5rem;
    }

    button {
      // button looks like a link
      border: 0;
      margin: 0;
      padding: 0;
      display: inline;
      background: inherit;
      font: inherit;
      color: $workspace-action;
      font-weight: bold;
      cursor: pointer;
      margin-left: .5rem;

      &:hover {
        color: $link-hover-success;
      }
    }
  }


  .version-row>button { // fetch button
    @extend .action-button;
    @extend .button-blue;

    &[disabled] {
      @extend .button-orange;
      color: transparent!important;
      background-color: $brand-orange--light;
    }
    &:hover .spinner::after {
      background-color: $brand-orange--light;
    }
  }
}

.version-select-simpler {
  border-top: 1px solid $Vlight-gray;
  padding-top: 2rem;
  margin-bottom: 0.8rem;
}

.update-frequency-modal {
  @include content-1; // because body font-size is 10px

  .big-radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .form-check-input {
      margin-bottom: -.2rem;
      &::after {
       top:-2px;
      }
    }

    .form-check-label {
      @include content-1;
    }

    &>label {
      width: 8rem;
      margin-right: 1rem;
      flex: 0 0 auto;

      input { display: none; }
      color: $brand-workspace;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
      text-align: center;
    }

    .big-radio-details {
      margin-left: 1rem;
      cursor: default;
      label {
        @include content-1;
        color: $brand-text--dark;
      }
    }
  }

  .big-radio-checked>label .radio {
    cursor: default;
    @extend .action-button;
    @extend .button-blue--fill;
  }
  .big-radio-unchecked>label .radio {
    cursor: pointer;
    @extend .action-button;
    @extend .button-gray;
  }

  .big-radio-unchecked {
    opacity: .6;
  }

  .big-radio-checked {
    opacity: 1;
  }

  .big-radio-auto-update-false {
    margin-top: 2rem;
  }

  .big-radio-auto-update-false .big-radio-details {
    // Line up with label, which is ~2 lines high
    padding-top: .75rem; // label padding
  }

  .form-group.frequency {
    .input-group {
      flex-wrap: nowrap;
    }

    input.form-control[type=number] {
      @include module-parameter;
      width: 6rem;
      margin-right: 1rem;
      font: inherit;
      text-align: right;
    }

    select {
      @include module-parameter;
      font: inherit;
    }
  }
}
