.version-select {
  margin-top: 1rem;

  .update-frequency-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .version-box-option {
      font-size: 1.3rem;
    }

    a {
      @include content-1;
      @include action-link;

      &:not(:link) {
        cursor: inherit;
        color: $text-muted;
      }
    }

    .last-checked {
      @include content-2;
      color: $text-muted;
    }
  }

  .version-row {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .version-item {
    font-size: 1.3rem;
    color: $brand-text--dark;
    display: flex;
    align-items: flex-end;

    .no-versions {
      margin-left: 0.5rem;
    }

    button {
      // button looks like a link
      border: 0;
      margin: 0;
      padding: 0;
      display: inline;
      background: inherit;
      font: inherit;
      color: $workspace-action;
      font-weight: bold;
      cursor: pointer;
      margin-left: 0.5rem;

      &:hover {
        color: $link-hover-success;
      }
    }
  }

  .version-row > button {
    // fetch button
    @include action-button;
    @include button-blue;

    .spinner {
      $spinner-color: $brand-orange;
      position: absolute !important;

      // overlap into the border's margin. There's tons of room because we use
      // rounded buttons and the spinner is also round
      // https://projects.lukehaas.me/css-loaders/
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(
        left,
        $spinner-color 10%,
        rgba($spinner-color, 0) 42%
      );
      background: -webkit-linear-gradient(
        left,
        $spinner-color 10%,
        rgba($spinner-color, 0) 42%
      );
      background: -o-linear-gradient(
        left,
        $spinner-color 10%,
        rgba($spinner-color, 0) 42%
      );
      background: linear-gradient(
        to right,
        $spinner-color 10%,
        rgba($spinner-color, 0) 42%
      );
      position: relative;
      -webkit-animation: spinner-in-button 1.4s infinite linear;
      animation: spinner-in-button 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);

      &::before {
        width: 50%;
        height: 50%;
        background: $spinner-color;
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
      }

      &::after {
        background: $brand-orange--light;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    &[disabled] {
      @include button-orange;
      color: transparent; // no text
      background-color: $brand-orange--light;
    }
    &:hover .spinner::after {
      background-color: $brand-orange--light;
    }
  }
}

.update-frequency-modal {
  @include content-1; // because body font-size is 10px

  .big-radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & > label {
      width: 8rem;
      margin-right: 1rem;
      flex: 0 0 auto;

      input {
        display: none;
      }
      color: $brand-workspace;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
      text-align: center;
    }

    .big-radio-details {
      margin-left: 1rem;
      label {
        @include content-1;
        color: $brand-text--dark;
      }
      button {
        @include button-orange;
      }
    }
  }

  .big-radio-checked > label .radio {
    cursor: default;
    @include action-button;
    @include button-blue--fill;
  }
  .big-radio-unchecked > label .radio {
    cursor: pointer;
    @include action-button;
    @include button-gray;
  }

  .big-radio-unchecked {
    opacity: 0.6;
  }

  .big-radio-checked {
    opacity: 1;
  }

  .big-radio-auto-update-false {
    margin-top: 2rem;
  }

  .big-radio-auto-update-false .big-radio-details {
    // Line up with label, which is ~2 lines high
    padding-top: 0.75rem; // label padding
  }

  .big-radio-auto-update-true {
    .input-group {
      flex-wrap: nowrap;

      .custom-select {
        border-radius: 0.3rem;
      }
    }

    input.form-control[type='number'] {
      @include module-parameter;
      width: 6rem;
      margin-right: 1rem;
      font: inherit;
      text-align: right;
    }

    select {
      @include module-parameter;
      font: inherit;
    }

    button {
      @include action-button;
      margin-left: 1rem;
    }
  }

  .quota-exceeded {
    margin-top: 3rem;
    background-color: $Vlight-gray;
    padding: 2rem;
    border-radius: 5px;

    h5 {
      @include title-3;
      margin-bottom: 1rem;
      color: $brand-red;
    }

    table {
      margin-top: 1rem;
      border-collapse: collapse;
    }

    th,
    td {
      vertical-align: top;
      padding: 0.5rem;
      padding-bottom: 1rem;
    }

    .n-fetches-per-day {
      padding-left: 0;
      text-align: right;
    }

    td.workflow {
      padding-right: 0;

      ul {
        color: $brand-text--dark;
        list-style: none;
        margin: 0.5rem 0 0;
        padding: 0;
      }
    }

    a {
      color: $workspace-action;
      font-weight: bold;
    }

    .request-lift {
      font-weight: bold;

      a {
        font-weight: normal;
        @include action-button;
        @include button-pink-fill;
        margin-left: 1rem;
      }
    }
  }

  .email-updates {
    margin-top: 2rem;
    border-top: 1px solid $page-background;
    padding-top: 2rem;

    input {
      // checkbox
      margin-bottom: -0.2rem;
      &::after {
        top: -2px;
      }
    }

    label {
      @include content-1;
      cursor: pointer;
    }
  }

  button.close {
    @include action-button;
    border: 0;
  }

  .modal-footer {
    button.close {
      border: 1px solid $brand-text--dark;
      color: $brand-text--dark;
    }
  }
}
