{% extends "openid/base.html" %}

{% load i18n_icu  %}

{% block head_title %}{% trans_html "py.templates.openid.login.title" default="OpenID Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans_html "py.templates.openid.login.header" default="OpenID Sign In" %}</h1>


<form id="openid_login_form" class="openid_login" method="post" action="{% url 'openid_login' %}">
{% csrf_token %}
{{form.as_p}}
<button type="submit">{% trans_html "py.templates.openid.login.signInButton" default="Sign In" %}</button>
</form>

{% endblock %}
