@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Mono.woff2') format('woff2');
}

@mixin font-sans-light {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin font-sans-regular {
  font-family: $font-family-sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin font-sans-bold {
  font-family: $font-family-sans-serif;
  font-style: normal;
  font-weight: bold;
}
