@font-face {
  font-family: 'Nunito Sans';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/NunitoSans-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 600;
  font-style: bold;
  src: url('../fonts/NunitoSans-Bold.woff2') format('woff2');
}

@mixin font-nunito-extra-light {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin font-nunito-regular {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin font-nunito-bold {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
}
