@font-face {
  font-family: 'Nunito Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/NunitoSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 200;
  font-style: normal;
  src: url('../fonts/NunitoSans-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-Regular.woff2') format('woff2');
}
