#import-from-github-form {
  input[type=url] {
    @include module-parameter;
  }

  .import-github-error, .import-github-success {
    @include font-sans-light;
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin: 2rem 0;
  }

  .import-github-error {
    color: $brand-red;
  }

  .import-github-success {
    color: $link-hover-success;
  }
}
