%font-nunito-extra-light {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-style: normal;
}

%font-nunito-regular {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

%font-lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
}

%font-nunito-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-style: normal;
}
