$module-parameter-padding: .5rem 1rem;

@mixin module-parameter {
  @include content-1;
  display: block;
  width: 100%;
  height: 3.5rem;
  padding: $module-parameter-padding;
  color: $brand-text--darker;
  border-radius: 3px;
  border: 2px solid $Vlight-gray;
  background-color: $Vlight-gray;
  outline: none;

  &:hover {
    border-color: $dark-accent--soft;
  }

  &:focus {
    border-color: $data-action--border; // overrides :hover
  }
}
%module-parameter {
  @include module-parameter;
}

@mixin autosize-with-textarea {
  // HTML <div> with the following structure:
  // <div class="this-div">
  //   <div class="invisible-size-setter">Value value value</div>
  //   <textarea ...>Value value value</textarea>
  // </div>
  //
  // That is, the _contents_ of .invisible-size-setter and textarea are the
  // same. We set position=relative and textarea position absolute -- this
  // makes the textarea take the size of its contents.
  position: relative;
  word-break: break-all;

  .invisible-size-setter, textarea {
    white-space: pre-wrap;
  }

  .invisible-size-setter {
    visibility: hidden;

    &:empty::before {
      content: ' ';
      display: inline;
    }
  }

  textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    resize: none;
  }
}
%autosize-with-textarea {
  @include autosize-with-textarea;
}
