
// Main colors  (*・‿・)ノ⌒*:･ﾟ✧

$brand-workspace: #48C8D7;
$brand-learn: #ffaad3;
$brand-orange: #FBAA6D;
$brand-red: #E24F4A;
$WF-background: #E9EBEE;
$module-background:#f8f8f8;
$page-background: #f2f2f2;
$table-background: #f4f4f4;
$modal-color: $brand-workspace;
$table-header: #719BB0;
$hover-background: #F5F5F5;

// Secondary Colors (づ ￣ ³￣)づ

$SuperLightGray: #f9f9f9;
$light-gray: #b4b4b4;
$medium-gray: #a2a2a2;
$dark-gray: #8b8b8b;
$Vlight-gray: lighten($dark-gray,39%);

$font-family-sans-serif: 'Nunito Sans', sans-serif;

$modal-footer: #F5F7F8;
$table-border: #D7E4E7;

$dark-blue: #577485;
$dark-orange:#F88630;

$heading-bg: #7a9bb0;
$header-hover: #8AABC0;
$input-alt-bg: #96afc3;
$input-alt: white;
$input-alt-placeholder: $SuperLightGray;

$error-prompt: lighten($brand-red,18%);
$error-prompt--light: lighten($brand-red,35%);
$error-prompt--Vlight: lighten($brand-red,37%);

// menus
$data-action--border: lighten($brand-orange,7%);

// Text colors ＼(＾O＾)／
$brand-text--darker: #2B2A2A;
$brand-text--dark: #555555;
$brand-text--medium: #7D7D7D;
$labels: #A0A0A0;
$link-hover-success: #2D9DAA;
$brand-text--learn: #FFB5D8; // for lesson panel

$text-muted: $medium-gray;

// Accent: transparent light or dark color use on top of backgrounds
// [adamhooper, 2019-01-09] DO NOT USE: transparent borders lead to one of two
// outcomes: a page with an _enormous_ number of colors (because colors atop
// colors multiply the number of potential colors) or a page with few colors
// that we've never actually _defined_. Instead of these, use the color we want.//FIXME PIERRE

$dark-accent--soft: rgba(0,0,0,.05); // DO NOT USE: rgba is bad FIXME
$dark-accent--soft-M: rgba(0,0,0,.075); // DO NOT USE: rgba is bad FIXME
$dark-accent--medium: rgba(0,0,0,.1); // DO NOT USE: rgba is bad
$dark-accent--strong: rgba(0,0,0,.15); // DO NOT USE: rgba is bad

$light-accent--soft: rgba(255,255,255,.05); // DO NOT USE: rgba is bad FIXME
$light-accent--medium: rgba(255,255,255,.1); // DO NOT USE: rgba is bad FIXME
$light-accent--strong: rgba(255,255,255,.2); // DO NOT USE: rgba is bad
$light-accent--Vstrong: rgba(255,255,255,0.5); // DO NOT USE: rgba is bad
$light-accent--Extrastrong: rgba(255,255,255,0.9); // DO NOT USE: rgba is bad

$table-header--light: lighten($table-header,18%);

$brand-workspace--Vlight: lighten($brand-workspace,41%);
$brand-workspace--light: lighten($brand-workspace,39%);
$brand-workspace--medium: lighten($brand-workspace,15%);

$brand-background: rgba($brand-workspace--medium, .25); // used for blending in backgrounds // DO NOT USE
$brand-background--action:rgba($brand-workspace--medium, .60); // DO NOT USE

$brand-orange--light: lighten($brand-orange,26%);
$brand-orange--medium: lighten($brand-orange,12%);
$brand-orange--medium-dark: lighten($brand-orange,9%);
$brand-orange--darker: darken($brand-orange,10%);

$brand-learn--Vlight:lighten($brand-learn,15%);
$brand-learn--light:lighten($brand-learn,13%);
$brand-learn--med-light:lighten($brand-learn,10%);
$brand-learn--medium:lighten($brand-learn,5%);

$table-header--light:lighten($table-header,13%);

// Overlays

$light-overlay: rgba(255,255,255,.5); // DO NOT USE: rgba is bad (see comment elsewhere)


// Input fields  ᕕ( ᐛ )ᕗ

$placeholder: #A0A0A0;

// box shadows ~~~~ ༼ つ ◕_◕ ༽つ

$menu-shadow:-5px 8px 15px 0px rgba(0,0,0,0.08);
$centered-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
$button-area:-4px 4px 20px 0px $dark-accent--medium;
$button-area--hover:-1px 1px 2px 1px $dark-accent--medium;
$overlay-shadow:-0.5rem 0.5rem 2.5rem 0 rgba(0,0,0,0.10);

// Modules (ᵔᴥᵔ)

$module-action: lighten($table-header,20%);
$module-width: 28rem;
$module-margin-right: 2rem;
$module-margin-left: 4rem;
$module-color-ok: $brand-workspace--medium;
$module-color-unreachable: lighten($light-gray,5%);
$module-color-selected: $module-action;
$module-color-busy: $brand-orange;
$module-color-error: $error-prompt;
$module-padding: 1rem;
$param-group-margin: .3rem;
$param-margin: .8rem;

// Helper ⊂(◉‿◉)つ

$module-popover-border-width: 2px;

// Animations

$buttons-anim: all 0.1s;
