// A fairly-common <select> style
%custom-select {
  @extend %module-parameter;
  @extend %content-1;
  cursor: pointer;
  color: $brand-text--darker;
  box-shadow: none;
  background-size: 0px;
  border: 2px solid transparent;
  box-shadow: none;
  height: 3.5rem;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/caret-down.png");
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: 97% 51%;

  &:hover {
    border-color: darken($Vlight-gray, 7%);
  }

  &:focus{
    box-shadow: none;
    border-color: $data-action--border;
  }
}

.custom-select {
  @extend %custom-select;
}
