/* --- Icon font set --- */

@font-face {
  font-family: 'Workbench';
  src: url('../fonts/Workbench.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Workbench' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-notepad:before {
  content: "\e934";
  font-size: 1.4rem;
}
.icon-sentiment:before {
  content: "\e929";
}
.icon-addc:before {
  content: "\e900";
}
.icon-addm:before, .icon-removec:before {
  content:"\e937"
}
.icon-bin:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-chart:before {
  content: "\e903";
}
.icon-linechart:before{
  content: "\e92d";
}
.icon-barchart:before{
  content: "\e92e";
}
.icon-check:before {
  content: "\e904";
}
.icon-checkbox-fill:before {
  content: "\e905";
}
.icon-checkbox-unchecked:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";

}
.icon-code:before {
  content: "\e908";
}
.icon-database:before {
  content: "\e909";
}
.icon-doc:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-duplicate:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90e";
}
.icon-folder:before {
  content: "\e90f";
}
.icon-full-screen:before {
  content: "\e910";
}
.icon-group:before {
  content: "\e911";
}
.icon-info:before {
  content: "\e912";
}
.icon-join:before {
  content: "\e913";
}
.icon-more:before {
  content: "\e914";
}
.icon-note:before {
  content: "\e915";
}
.icon-notification-filled:before {
  content: "\e916";
}
.icon-notification:before {
  content: "\e917";
}
.icon-process:before {
  content: "\e918";
}
.icon-redo:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-settings:before {
  content: "\e91b";
}
.icon-share:before {
  content: "\e91c";
}
.icon-sigma:before {
  content: "\e91d";
}
.icon-caret-down:before {
  content: "\e91e";
}

.icon-caret-up:before {
  content: "\e921";
}

.icon-caret-left:before {
  content: "\e91f";
}
.icon-caret-right:before {
  content: "\e920";
}

.icon-grip:before{
  content: "\e92a";
}

.icon-table:before {
  content: "\e922";
}
.icon-transform:before {
  content: "\e923";
}
.icon-transform-v:before {
  content: "\e92f";
}
.icon-twitter:before {
  content: "\e924";
}
.icon-undo:before {
  content: "\e925";
}
.icon-upload:before {
  content: "\e926";
}
.icon-url:before {
  content: "\e927";
}
.icon-wrangle:before {
  content: "\e928";
}

.icon-add:before {
  content:"\e930";
}

.icon-facebook:before{
  content:"\e92b"
}

.icon-google-drive:before{
  content:"\e92c"
}

.icon-help:before{
  content:"\e933";
}

.icon-reshape:before{
  content:"\e935";
}

.icon-scraper:before{
  content:"\e936";
}

.icon-bullet-next:before {
  content:"\e938";
}

.icon-bullet-current:before {
  content:"\e939";
}

.icon-merge:before {
  content:"\e93a";
}

.icon-split:before {
  content:"\e93b";
}

.icon-book:before {
  content:"\e93c";
}

.icon-star:before {
  content:"\e93d";
}

.icon-census:before {
  content::"\e93e";
}

.icon-no-notification:before {
  content::"\e93f";
}

.icon-sort-up:before {
  content::"\e940";
}
.icon-sort-down:before {
  content::"\e941";
}

.icon-play:before {
  content: "\e942";
}

.icon-number:before {
  content: "\e943";
}

.icon-chrono:before {
  content: "\e944";
}

.icon-clean:before {
  content: "\e945";
}

.icon-text:before {
  content: "\e946";
}

.icon-concatenate:before {
  content: "\e947";
}

.icon-scatterplot:before {
  content: "\e948";
}

.icon-word-cloud:before {
  content: "\e949";
}

.icon-columns:before {
  content: "\e94a";
}

.icon-calculator:before {
  content: "\e94b";
}

.icon-meedan:before {
  content: "\e94c";
}

.icon-loc:before {
  content: "\e94d";
}

.icon-loc:before {
  content: "\e94e";
}
