/* --- Icon font set --- */

@font-face {
  font-family: 'Workbench';
  src: url('../fonts/Workbench.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Workbench' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notepad:before {
  content: "\e948";
}

.icon-sentiment:before {
  content: "\e94b";
}

.icon-addc:before {
  content: "\e93d";
}

.icon-removec:before {
  content:"\e94f"
}

.icon-bin:before {
  content: "\e93c";
}

.icon-calendar:before {
  content: "\e943";
}

.icon-chart:before {
  content: "\e93b";
}

.icon-linechart:before{
  content: "\e926";
}

.icon-check:before {
  content: "\e94a";
}

.icon-close:before {
  content: "\e925";
}

.icon-code:before {
  content: "\e924";
}

.icon-doc:before {
  content: "\e93a";
}

.icon-download:before {
  content: "\e939";
}

.icon-duplicate:before {
  content: "\e91c";
}

.icon-edit:before {
  content: "\e923";
}

.icon-filter:before {
  content: "\e922";
}

.icon-full-screen:before {
  content: "\e936";
}

.icon-group:before {
  content: "\e921";
}

.icon-join:before {
  content: "\e93f";
}

.icon-more:before {
  content: "\e935";
}

.icon-note:before {
  content: "\e934";
}

.icon-notification-filled:before {
  content: "\e944";
}

.icon-notification:before {
  content: "\e933";
}

.icon-redo:before {
  content: "\e932";
}

.icon-undo:before {
  content: "\e92a";
}

.icon-search:before {
  content: "\e920";
}

.icon-share:before {
  content: "\e91f";
}

.icon-sigma:before {
  content: "\e930";
}

.icon-caret-down:before {
  content: "\e945";
}

.icon-caret-up:before {
  content: "\e92d";
}

.icon-caret-left:before {
  content: "\e92f";
}

.icon-caret-right:before {
  content: "\e92e";
}

.icon-transform:before {
  content: "\e91e";
}

.icon-transform-v:before {
  content: "\e92c";
}

.icon-twitter:before {
  content: "\e92b";
}

.icon-upload:before {
  content: "\e91b";
}

.icon-url:before {
  content: "\e902";
}

.icon-database:before {
  content: "\e929";
}

.icon-wrangle:before {
  content: "\e928";
}

.icon-add:before {
  content:"\e91a";
}

.icon-google-drive:before{
  content:"\e919"
}

.icon-help:before {
  content:"\e936";
}

.icon-reshape:before{
  content:"\e918";
}

.icon-scraper:before{
  content:"\e8eb";
}

.icon-bullet-next:before {
  content:"\e946";
}

.icon-bullet-current:before {
  content:"\e947";
}

.icon-merge:before {
  content:"\e916";
}

.icon-split:before {
  content:"\e915";
}

.icon-star:before {
  content:"\e914";
}

.icon-census:before {
  content::"\e931";
}

.icon-no-notification:before {
  content::"\e912";
}

.icon-sort-up:before {
  content::"\e941";
}

.icon-sort-down:before {
  content::"\e942";
}

.icon-play:before {
  content: "\e911";
}

.icon-number:before {
  content: "\e910";
}

.icon-clean:before {
  content: "\e940";
}

.icon-text:before {
  content: "\e913";
}

.icon-concatenate:before {
  content: "\e938";
}

.icon-scatterplot:before {
  content: "\e90f";
}

.icon-word-cloud:before {
  content: "\e949";
}

.icon-columns:before {
  content: "\e90d";
}

.icon-calculator:before {
  content: "\e93e";
}

.icon-meedan:before {
  content: "\e901";
}

.icon-loc:before {
  content: "\e90c";
}

.icon-import-tab:before {
  content: "\e949";
}
