html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;  
  font-family: Avenir;
  background-color: #f6f6f6;    
}

/* height 100% needed on all parents so that output pane flexbox can fill available vertical screen space  */
#root {
  height: 100%;
}


/* ---- Navbar ----- */

.navbar {
  height: 3.5rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #48C8D7;
  color: #FFFFFF;
  border-bottom: 1px solid;
}


/* ---- Login ---- */
.login-fullscreen-container {
  height: 80vh;
  display: flex;
  align-items: center;
}

.login-card input {
  width: 100%
}

.login-card ::-webkit-input-placeholder {
  color: #ccc
}

/* ---- Workflow list ---- */

.workflows-container {
  margin-top: 5rem;
}

.new-workflow-button {
  border: 1px solid #48C8D7;
  color: #48C8D7;
}

.workflows-list {
  border: 0;     
  background-color: #f6f6f6;      
}

.workflow-in-list {
  background-color: #ffffff;
  margin-bottom: 1px;
  color: #686768;
  font-weight: 500;
  color: #686768;
  border: 0;
}

.workflow-in-list:hover {
  background-color: #f8f8f8;
}

/* These context menu styles also apply to those on the Workflow page */
.context-menu-icon {
  /*height: 27px;	*/
  /*width: 27px;	*/
  /*border-radius: 3px;	*/
  background-color: #FFFFFF;
  border: 0;
}

.context-menu-icon:hover {
  background-color: #F9F9F9;
  border: 1px solid #CECECE;
}

.context-menu-icon:active {
  border: 1px solid #CECECE;  
  background-color: #EDECEC;
}

/* ---- Workflow page ---- */

/* Contains navbar + workflow. */
.workflow-root {
  height: 100%;
}

/* Contains modulestack + output pane. Position below nav */
.workflow-container {
  display: flex;
  flex-flow: row;
  height: calc(100% - 3.5rem);
  margin-top: 3.5rem;
}

.modulestack-left {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  background-color: #F6F6F6;
}

.modulestack-header {
  color: #686768;
  padding: 10px;
}

.modulestack-list {
  background-color: #F2F2F2; 
  padding: 10px;
  border: 1px solid #EDECEC;
}

.outputpane-right {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  position: relative;
}

.outputpane-box {
  height: calc(100% - 3.5rem);
  width: 50%;
  border: 1px solid #EDECEC;
  background-color: #F2F2F2;
  padding: 15px;
  position: fixed;
}

.outputpane-header {
  height: 3rem;
  border: 1px solid #EDECEC;
  background-color: #FFFFFF;
  color: #A2A2A2;
}

.outputpane-data {
  height: calc(100% - 3rem);
  border: 1px solid #EDECEC;
  overflow: hidden; /* important as it prevents grid contents from interfering with window resizing */
}


/* ---- WfModule ---- */

/*To be changed with new styles*/
.bg-selected-module {
  /*background-color: #abc;*/
}

.border-selected-module {
  border: 2px solid #FBAA6D;
}

.panel-wrapper {
}

.wfModuleErrorMsg {
  border: 1px solid black;
  margin: 3px;
  border-radius: 3px;
  background-color: #ddd;
  text-align: center;
}

.wfmoduleStringInput{
  width: 100%;
  resize: none;
}

.wfmoduleNumberInput{
  width: 100%;
  resize: none;
}

.wfmoduleTextInput{
  width: 100%;
  resize: vertical;
}

.wfmoduleButton{
  width: 20%;
}


/* ---- Status lights ---- */
.ready-light {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: lightgreen;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.busy-light {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.error-light {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: red;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

