/* File is getting large; time to divide into modules? */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito+Sans');
@import './components/OutputPane.scss';


html {
  height: 100vh;
  /* sets the basis for `rem` styling units */
  font-size: 10px;
}

body {
  margin: 0px;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  background-color:#f6f6f6;
  color: #686768;
}

/* height 100% needed on all parents so that output pane flexbox can fill available vertical screen space.
  Not sure why position absolute is needed, but it gets push down the screen (not flush with top) otherwise. */
#root {
  height: 100vh;
	width: 100%;
}

::-webkit-scrollbar-thumb{
  width:0.2rem;
  opacity: 0.2;
}

/* ---- NEW Type styles: use on all newly styled elements: phase out olds on edit ----- */

/* --- Text Sizing ---  */
.logo-1 {
	font-size: 2.4rem;
	line-height: 2.4rem;
  font-family: 'lato', sans-serif;
  letter-spacing: -0.4px;
}

.logo-2 {
	font-size: 2rem;
	line-height: 2rem;
  font-family: 'lato', sans-serif;
  letter-spacing: -0.4px;
}
.logo-2:hover {
  text-decoration: none;
  color:#fff;
}
.title-1 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 2.5rem;
}
.title-2 {
	font-size: 2.2rem;
	font-weight: normal;
	line-height: 2.2rem;
  letter-spacing:0.8px;
  font-family: 'nunito', sans-serif;

}
.title-3 {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.8rem;
  letter-spacing: 0.2px;
}
.title-4 {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
}
.title-5 {
	font-size: 1.1rem;
	font-weight: 900;
	line-height: 2rem;
}
/* for editable workflow title  */
.title-workflow {
	font-size: 1.8rem;
	font-weight: 500;
  line-height: 2.4rem;
  color: #686768;
}

.content-1 {
	font-size: 1.4rem;
	font-weight: 900;
  line-height: 1.4rem;
  opacity: 0.6;
}
.content-2 {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
}
.content-3 {
	font-size: 1.3rem;
	line-height: 1.6rem;
}
.content-4 {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.1rem;
}
.content-5 {
	font-size: 1.3rem;
	line-height: 1.3rem;
  font-weight: 500;
}

.code-1 {
  font-family: "PT Mono";
	font-size: 1.4rem;
	line-height: 2.4rem;
}

.info-1 {
	font-size: 1.2rem;
	font-weight: 100;
	line-height: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
}
.info-2 {
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.table-1 {
	font-size: 1.3rem;
	font-weight: 200;
	line-height: 1.8rem;
}
.table-2 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.1rem;
}

.note {
  padding: 0.5rem;
  font-size: 1.6rem;
	font-weight: 100;
  line-height: 2.8rem;
  background: rgba(251,170,109,0.2);
}

/* --- Colors ---  */

/* Text  */
.t-white {
  cursor: default;
  color: #FFFFFF;
  white-space: nowrap;
}

.t-white-u {
  cursor:pointer;
  color: #FFFFFF;
  text-decoration: underline !important;
}

.t-vl-gray {
  color: #FFF;
}
.t-l-gray {
  color: #F5F5F5;
}
.t-m-gray {
  color: #B4B4B4;
}

.t-d-gray {
  color: #686768;
}
.t-d-blue {
  color: #577485;
}
.t-f-blue {
  cursor: pointer;
  color: #48C8D7;
}
.t-f-blue:hover {
  cursor: pointer;
  color: #2D9DAA;
}
.t-orange {
  color: #F8AA6D;
}
.t-o-red {
  color: #e24f4a;
}
/* Backgrounds  */
.b-vl-gray {
  background-color: #FAFAFA;
}
.b-l-gray {
  background-color: #F2F2F2;
}
.b-m-gray {
  background-color: #B4B4B4;
}
.b-d-gray {
  background-color: #686768;
}
.b-d-blue {
  background-color: #577485;
}
.b-f-blue {
  background-color: #48C8D7;
}
.b-orange {
  background-color: #F8AA6D;
}
.b-table-row {
  background-color: #EDF4F6;
}
.b-table-column {
  background-color: #E1E9EB;
}
.b-output-blue-1 {
  background-color: #DBECF1;
}
.b-output-blue-2 {
  background-color: #BFDDE4;
}
.b-output-red-1 {
  background-color: #F3B9B7;
}
.b-output-red-2 {
  background-color: #E24F4A;
}

/* --- Icon font set --- */

@font-face {
  font-family: 'Workbench';
  src: url('../fonts/Workbench.woff?4bznb4') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Workbench' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sentiment:before {
  content: "\e929";
}
.icon-addc:before {
  content: "\e900";
}
.icon-bin:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-chart:before {
  content: "\e903";
}
.icon-linechart:before{
  content: "\e92d";
}
.icon-barchart:before{
  content: "\e92e";
}
.icon-check:before {
  content: "\e904";
}
.icon-checkbox-fill:before {
  content: "\e905";
}
.icon-checkbox-unchecked:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";

}
.icon-code:before {
  content: "\e908";
}
.icon-database:before {
  content: "\e909";
}
.icon-doc:before {
  content: "\e90a";
}
.icon-download:before {
  content: "\e90b";
}
.icon-duplicate:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90d";
}
.icon-filter:before {
  content: "\e90e";
}
.icon-folder:before {
  content: "\e90f";
}
.icon-full-screen:before {
  content: "\e910";
}
.icon-group:before {
  content: "\e911";
}
.icon-info:before {
  content: "\e912";
}
.icon-join:before {
  content: "\e913";
}
.icon-more:before {
  content: "\e914";
}
.icon-note:before {
  content: "\e915";
}
.icon-notification-filled:before {
  content: "\e916";
}
.icon-notification:before {
  content: "\e917";
}
.icon-process:before {
  content: "\e918";
}
.icon-redo:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
  color:white;
}
.icon-settings:before {
  content: "\e91b";
}
.icon-share:before {
  content: "\e91c";
}
.icon-sigma:before {
  content: "\e91d";
}
.icon-sort-down:before {
  content: "\e91e";
  font-size: .6rem;
  margin-top: .1rem;
}

.icon-sort-up:before {
  content: "\e921";
  font-size: .6rem;
  margin-bottom: .1rem;
}

.icon-sort-left:before {
  content: "\e91f";
}
.icon-sort-right:before {
  content: "\e920";
}

.icon-grip:before{
  content: "\e92a";
}

.icon-table:before {
  content: "\e922";
}
.icon-transform:before {
  content: "\e923";
}
.icon-transform-v:before {
  content: "\e92f";
}
.icon-twitter:before {
  content: "\e924";
}
.icon-undo:before {
  content: "\e925";
}
.icon-upload:before {
  content: "\e926";
}
.icon-url:before {
  content: "\e927";
}
.icon-wrangle:before {
  content: "\e928";
}

.icon-add:before {
  content:"\e930";
}

.icon-facebook:before{
  content:"\e92b"
}

.icon-google-drive:before{
  content:"\e92c"
}

.icon-help:before{
  content:"\e933";
  font-size: 1.3rem;
}

/* Customized icons, not in font sent  */

.small-sort{
  font-size: 0.7rem;
}


.icon-knowledge:before{
  content:"\e933";
  Color:#fff;
  font-size: 1.5rem;
}

.icon-note:before{
  font-size: 1.5rem;
}

.icon-collapse:before{
  content:"\e931";
  font-size:2.2rem;
}

.icon-collapse-o:before{
  content:"\e932";
  font-size:2.2rem;
}

.icon-facebook-gray:before{
  content:"\e92b";
  color:#b4b4b4;
}

.icon-search-white:before {
  content: "\e91a";
  color:rgba(250,250,250,0.5);
}

.icon-add-orange:before {
  content: "\e900";
  color:#FBAA6D;
  font-size: 3rem;
}

.icon-add-blue:before {
  content: "\e900";
  color:rgba(118,155,176,1);
  font-size: 3rem;
}

.icon-sort-down-vl-gray:before {
  content: "\e91e";
  color: #FAFAFA;
}

.icon-sort-up-vl-gray:before {
  content: "\e921";
  color: #FAFAFA;
}

.icon-sort-right-vl-gray:before {
  content: "\e920";
  color: #FAFAFA;
}

.icon-sort-left-vl-gray:before {
  content: "\e91f";
  color: #FAFAFA;
}

.close-open-toggle{
  opacity: 0.6;
}

.close-open-toggle:hover{
  opacity: 1;
  cursor: pointer;
}

.icon-close-white:before {
  content: "\e907";
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 1.2rem;
}

.icon-more-white:before {
  content: "\e914";
  color: #FFFFFF;
}

.icon-grip:before{
  font-size: 3rem;
}

/* icon next to Wf Module title */
.WFmodule-name{
  margin-top: 0.1rem;
}

.module-icon {
  font-size: 1.4rem;
}

/* icons embedded within buttons or menus  */
.menu-icon {
  width: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.icon-duplicate:before {
  content: "\e90c";
  font-size: 1rem;
}

.button-icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.module-menu-icon {
  font-size: 1.2rem ;
}

.dopdown-item:focus,
.dropdown-item:hover {
  color:#686768;
  background-color:transparent;
}

/************** ---- Parameters and Data Input ---- ************/

.parameter-base {
  height:3.5rem;
  border-radius: 0;
  border: 1px solid #E7E7E7;
  background-color: #FFFFFF !important;
}

.text-field {
  padding: 0 1.25rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  line-height: 3.5rem;
  width: 100%;
  resize: none;
  overflow:hidden;
}

.number-field{
  width: 100%;
  resize: none;
  line-height: 3.5rem;
  padding: 0 0 0 1.25rem;
  border-radius:0px;
  border-color:#e7e7e7;

}

.text-field input::placeholder {
  color: #B4B4B4;
}

.import-url-field input::placeholder {
  color: #B4B4B4;
}

.text-field-large {
  height: 12rem;
  width: 100%;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  resize: vertical;
  overflow:hidden;
}

.text-field-readonly {
  padding:0 1.5rem 0 0;
  background: transparent;
  border:none;
  white-space: nowrap;
  width:43rem;
  line-height: 1.5rem;
  height: 1.5rem;
  resize: none;
}

.url-link{
  width: 100%;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  margin-bottom: 1rem;
}

/* ---- Dropdowns and Lists---- */

.line-item-data {
  height: 4rem;
  background-color: #FFFFFF;
  color: #686768;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 1px;
}

.line-item-data:hover {
  background-color: #F5F5F5;
}

.line-item-data-selected {
  height: 4rem;
  background-color: #48C8D7;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
}

.dropdown-selector {
  width: 15rem;
  font-size: 1.3rem;
  color:#686768;
  border-radius:0;
}

.input-dropdown {
  height: 4rem !important;
  color: #686768;
  background-color: #FFFFFF;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
  border-radius:0px;
  border: 1px solid #E7E7E7
}


.dropdown-menu {
  margin-top: 0.5rem;
  border:1px solid rgba(118,155,176,0.2);
  border-radius: 5px;
  box-shadow: -0.5rem 0.5rem 2.5rem 0 rgba(0,0,0,0.10);
  padding:0.5rem 0 0.5rem 0;
}

.dropdown-menu-item {
  height: 4rem;
  width: 14rem;
  background-color: #FFFFFF;
  color: rgba(104,103,104,0.6);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  cursor:pointer;
}

.dropdown-menu-item:hover {
  background-color: #F9f9f9;
  cursor: pointer;
  color: rgba(104,103,104,1);
}

.dropdown-divider{
  opacity: 0;
}

/*Style form controls */
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{
  border-radius: 0px;
  border: 1px solid #E7E7E7;
  height: 3.5rem;
}

.form-control:focus{
  border-color: #48C8D7;
}

.form-control{
  height:3.5rem!important;
  border-radius: 0px;
  border: 1px solid #E7E7E7;
}

select.form-control {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding: 0 1.25rem;
}



/* Registration/login/etc before we dig in to the form widgets */

.account_form input[type="text"], .account_form input[type="password"], .account_form input[type="email"] {
  width: 100%;
  height:4rem;
  padding-left:1rem;
  margin-bottom:1.5rem;
  font-size: 1.5rem;
  background-color: #fff;
}

.account_form label{
  font-size: 1.2rem;
}

.account_form input:active {
  box-shadow: 0 0 0px 1px #48C8D7;
}

.account_form input[type="checkbox"] {
  display:inline-block;
  width: 1.5rem;
}

.account_form .action-button {
  margin-top: 3rem;
}

/*** Module Parameters spacing within modules ***/

.label-margin {
  margin-bottom: 0.1rem;
  color:#b2b2b2;
}

.label{
  margin-bottom: 0px;
}


/* Margin for a group of parameters (can include several lines)*/

.parameter-margin:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Margin for a line of 1 parameters, part of a group */
.param-line-margin:not(:last-child){
  margin-bottom:1rem;
}

/* Margin for a line of X parameters, part of a group */
.paramX-line-margin{
  margin-bottom:1rem;
  display:flex;
}

.paramX-line-margin:last-child{
  margin-bottom:0rem;
}

/* Margins for 2 lined parameters, part of a group */
.param2-line-margin{
  width:20.75rem;
  margin-right:.5rem;
  padding:0;
}

.param2-line-margin:last-child{
  margin-right:0;
}

/* Margins for 3 lined parameter, part of a group*/
.param3-line-margin{
  display: inline-block;
  width:32.3%;
  margin-right: 0.5rem;
}

.param3-line-margin:last-child{
  margin-right: 0;
}

/* ---- Buttons ---- */

.modal-solo-button {
  float: right;
  margin-right: 2rem;
  width: 15%;
}


/* - Button Colors - */
.button-white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-align: center;
  background-color: transparent;
}

.button-gray {
  color: #A2a2a2;
  border: 1px solid #a2a2a2;
  text-align: center;
  background-color: none;
}
.button-gray:active {
  background-color: #a2a2a2;
  color: #FFFFFF;
}

.button-blue {
  color: #48C8D7;
  border: 1px solid #48C8D7 ;
  text-align: center;
  background-color: transparent;
}

.button-orange {
  color: #FBAA6D;
  border: 1px solid #FBAA6D ;
  text-align: center;
  background-color: transparent;
}

.button-blue:active {
  background-color: #48C8D7 !important;
  color: #FFFFFF !important;
}

.button-full-blue {
  background-color: #48C8D7;
  color: #FFFFFF;
	text-align: center;
  border:none;
}

.button-white-full {
  background-color: #FFF;
  color: #48C8D7;
	text-align: center;
  border:none;
}

.button-full-orange {
  background-color:#FBAA6D;
  color: #FFFFFF;
	text-align: center;
  border:1px solid #FBAA6D;

}
.button-full-orange:hover {
  background-color: #FFFFFF;
  color: #FBAA6D;
}


/* Context button in modules */

.context-button {
  cursor: pointer;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:#8b8b8b;
  border-radius: 5rem;
  opacity: 0.5;
  margin-right:0.5rem;
}
.context-button:hover {
  border: none;
  background-color: #edecec;
  color:#8b8b8b;
  opacity: 1;
}

.context-button.btn-secondary.active{
  background: #E7EAEB;
  border:0;
  border-radius: 5rem;
  color:#686768;
  opacity:1;
}

.help-button {
  cursor: pointer;
  border-radius:5rem;
  width:2.5rem;
  height:2.5rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:#8b8b8b;
  opacity: 0.5;
  margin-right:1rem;
  margin-left:1rem;
}

.help-button:hover {
  border: none;
  background-color: #edecec;
  color:#8b8b8b;
  opacity: 1;
  decoration:none;
}

.btn{
  -webkit-transition:all 0.1s;
}

.menu-test-class{
  height:2.5rem;
}

.navbar-context-button {
  cursor: pointer;
  border:0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin-right: 3rem;
  border-radius: 5rem;
  opacity:0.8;
}

.navbar-context-button:hover{
  background: rgba(255,255,255,0.1);
  opacity: 1;
}

.navbar-context-button.btn-secondary.active{
  background: rgba(255,255,255,0.3);
  opacity: 1;
}

/*overriding React styles for contextual button*/

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 transparent;
}

.btn-secondary.active{
  background-color: rgba(255,255,255,0.4);
  color:transparent;
}

.show > .btn-secondary.dropdown-toggle {
  color:#fff;
  background-color: rgba(255,255,255,0.2);
  border-color: transparent;
}

.action-button {
  cursor: pointer;
  min-width: 7rem;
	height: 4rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
	font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0 1.8rem 0 1.8rem;
  -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.action-button:hover {
	opacity: 0.5;
}

.react-fine-uploader-file-input-container{
  display: flex!important;
  align-items: center;
  cursor:pointer;
}

.facebook-share {
  height: 2rem;
  width:6.5rem;
  background-color: #3c5b97;
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:3px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.facebook-share:hover{
  background-color:#2f4e87;
  color:#fff;
  text-decoration: none;
}


/* ---- Login ---- */

.navbar-login {
  display:none;
}

.login-bigbrand .logo{
  width: 4.2rem;
  margin-bottom: 0.5rem;
}

.login-bigbrand h1 a {
  font-size: 5rem;
  color:#fff;
  margin: 1rem;
  padding: 1.3rem 0 1 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.login-bigbrand h1 a:hover {
  text-decoration: none;
}

.login-fullscreen-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: radial-gradient(#31D9ED 25%, #0C93C0); /*fallback*/
  background-image: url("/static/images/signin-icons-bgd.png"), radial-gradient(#31D9ED 25%, #0C93C0);
  background-size: cover;
}
.login-card {
  height: auto;
  width: 44rem;
  padding: 3rem 3rem 5rem 3rem;
  border: none;
  border-radius: 0px;
  box-shadow: -5px 8px 20px 0px rgba(0,0,0,0.15);
}

.login-card :-webkit-input-placeholder {
  color: #ccc
}

.account_form .title-1 {
  margin-bottom:0;
}

.account_form .text-center a {
  padding-bottom: 2rem;
}

.account_form .switch a {
  font-size: 1.5rem;
  margin-left:3rem;
  margin-top:1rem
}

/* --------Preloader/spinner------*/

#spinner-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color:rgba(250,250,250,0.5);
}
#spinner-l1 {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    border-top-color: #00CBE1;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#spinner-l2 {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    border-top-color: #FBAA6D;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#spinner-l3 {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    border-top-color: #E24F4A;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* ---- Workflow list ---- */

.container{
}

.workflows-container {
  margin-top:6rem;
}

.workflows-list {
  border: 0;
  margin-top: 1.5rem;
  background-color: transparent;
}

.workflows-card-title {
  margin-left: 2.4rem;
  margin-bottom: 1rem;
}

.workflows-list .workflows-sub-list {
  padding:1px 1px 1px 1px;
  background-color: #EDECEC;
}

.workflow-in-list {
  height: 7rem;
  margin-bottom: 1px;
  border: 0;
  border-radius:0;
  padding: 0 2.5rem;
  Background:#fff;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.workflow-in-list:hover {
  background-color: #fafafa;
}

.workflows-sub-list:last-child .workflow-in-list:last-child {
  margin-bottom: 0px;
}

.workflow-link:hover {
  text-decoration: none;
}

.wf-list-elmt{
  margin-top:auto;
  margin-bottom: auto;
}

/*workflow in worfklow list*/

.wf-id-name{
  margin-top: 1.7rem;
}

.metadataSeparator{
  margin:0 0.5rem 0 0.5rem;
  text-align: center;
}

.list-inline-item:not(:last-child){
  margin-right: 0px;
}


/******** ---- Workflow page ---- *********/

/* Contains all of Workflow page */

.workflow-root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: fixed;
  width: 100%;
}

/* Contains Navbar, Modulestack, and Outputpane */
.workflow-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contains Modulestack and Outputpane */
.workflow-columns {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  min-height:100vh;
}


/***** ---- Navbar ----- *****/

.navbar {
  flex: 0 0 6rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #48C8D7;
  color: #FFFFFF;
  padding: 0.5rem 4rem 0.5rem 4rem;
}

.title-metadata-stack {
  display:block;
  width:100%;
  padding: 0.2rem 0;
}

img.logo {
  vertical-align: middle;
  margin-right: 1rem;
}

.navbar-brand h1, img.logo {
  width:2.5rem;
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand h1 a {
  color: white;
}
.navbar-brand h1 a:hover {
  text-decoration: none;
}

.navbar-workflows .action-button {
  margin-right: 4rem;
}

/*navbar:Workflow page*/

.navbar-workflows {
  flex: 0 0 6rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #48C8D7;
  color: #FFFFFF;
  padding: 0.5rem 4rem 0.5rem 1.5rem;
}

.nav-link {
  cursor: pointer;
  margin-right: 5rem;
}

.nav-link:hover{
  text-decoration: underline;
  color: #fff;
}

.editable-name-container{
  margin-bottom: 0.2rem;
  margin-right: 3.5rem;
  min-width: 32rem;
}


.editable-title-field {
  margin-bottom: 0.2rem;
  min-width: 100%;
  border: none;
  outline: none;
  padding: 0;
  resize: none;
  background: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
	line-height: 2.4rem;
  color: #FFFFFF;
  padding-right:1.5rem;
}



.editable-title-field:hover{
  background-color: rgba(250,250,250,0.2);
}

.workflow-meta{
  margin-bottom: 0;
}

/* Module Stack */
.modulestack {
  flex: 0 0 41rem;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  background-color: #e9ebee;
  overflow: scroll;
  height:100vh;
}
.modulestack-list {
  min-height:100%;
  width: 100%;
  padding-bottom: 30rem;
  padding-top: 1.5rem;
}
.modulestack-list.dragging {
  background: rgba(118,155,176,0.15);
}
.modulestack-empty {
  cursor: default;
  width: 38rem;
  margin-top: 1.5rem;
  padding: 6rem 0;
  border: 4px dashed #FBAA6D;
  opacity: 0.4;
}
.modulestack-empty.dragging {
  border-color: rgba(118,155,176,0.5);
}

.card-block{
  position:relative;
 }

/* --- Module Library --- */

/*Expand and Search*/
.module-library-open {
  height: 100%;
  width: 200px;
  flex: 0 0 200px;
  background-color: #577485;
}
.module-library-closed {
  width: 60px;
  flex: 0 0 60px;
  background-color: #577485;
}
.module-library-closed:hover{
  cursor:pointer;
}
.expand-lib{
  height:6rem;
  border-bottom: 1px solid rgba(255,255,255, .1);
}
.expand-lib-button{
  padding:2rem 1.2rem 1.5rem 1.5rem;
}

.module-library-open .library-nav-bar {
  height: 10rem;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  position: relative;
  text-align: left;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 1rem;
}

/* To conceal the transition animation when selecting from Library in collapsed state */
.hide-animation {
  display: none;
}

/*Categories and module list*/

.ml-cat{
  overflow-y:auto;
}

.library-card-category-closed {
  margin-left: 0rem;
  margin-right:0rem;
}

.library-card-category-closed:hover {
  margin-left: 0rem;
  margin-right:0rem;
  background-color: #4E6878;
}

.module-library-open .card,
.module-library-closed .card {
  border: 0;
  background-color: rgba(0,0,0,0);
  border-radius: 0;
}

.module-library-closed > .card,
.module-library-closed > .list {
  border-bottom: 1px solid rgba(255,255,255, .1);
}

.card .first-level {
  cursor: pointer;
  height: 3.5rem;
  width: 100%;
  padding-left: 1rem;
  opacity: 0.7;
}

.card .first-level:hover {
  background-color: #4E6878;
  opacity:1;
}

.ml-sort{
  font-size: 0.6rem;
  position: absolute;
  left:16.5rem;
  padding-bottom:0.2rem;
}

/*When Categories are open */

.library-card-category-open {
  max-height: calc(100vh - 40rem);
  box-shadow: 0px -1px 0px #4A6676, 0px 1px 0px #4A6676;
}

.library-card-category-open .first-level{
  background-color:#547081;
  opacity: 1;
}

.library-card-category-open .ml-list{
  background-color:#547081;
  opacity: 1;
  cursor:pointer;
}

.library-card-category-open .ml-list-mini {
  background-color:#547081;
  opacity: 1;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  left: 60px;
  top: 0;
}

.card .second-level {
  opacity: 0.7;
  position: relative;
  height: 4rem;
  padding-left: 2.5rem;
  color:#fff;
}

.card .second-level:hover {
  background-color: #4E6878;
  opacity: 1;
}

.ml-handle{
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity:0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ml-handle:hover{
  opacity:0.6;
}

.cat-container {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-icon{
  font-size: 1.4rem;
  color: #ffffff;
}

.ml-icon-container{
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-icon-search{
  font-size: 1.4rem;
  color: #ffffff;
  margin-right: 0.9rem;
}

.ml-module-name{
  margin-left:0.6rem;
  margin-top: 0.2rem;
}

.ml-module-card { 
  width: 200px;
}


/* --- the Search Modules within the Module Library header - ModuleSearch.js --- */

.search-bar {
  border-radius: 30px;
  height:3.5rem;
  background-color: rgba(250,250,250,0.2);
}
.search-bar:hover {
  box-shadow: 0 0 0 1px rgba(250,250,250,0.35);
}
/*Actual search with autosuggest component*/
.react-autosuggest__container {
  width: 100%;
  background-color:transparent;
}

.react-autosuggest__container input {
  border: 0px solid #DDDDDD;
  color:white;
  background-color:transparent;
}
/* If we want to style the placeholder differently than the typed text */
 .react-autosuggest__input::placeholder {
  color: rgba(250,250,250,0.5);
}

/* does not accept a 'color' parameter  */
.react-autosuggest__input {
  width: 100%;
  height: 100%;
  padding-left: 0.3rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

/*search result*/
.react-autosuggest__suggestions-container--open {
  margin-top: 2.7rem;
  margin-left: -5.3rem;
  display: block;
  position: absolute;
  border: 0px;
  background-color: #577485;
  color:#fff;
  font-weight: 300;
  font-size: 1.6rem;
  width: 100%;
  z-index: 2;
  height:100vh;
}

.react-autosuggest__suggestions-list {
  border-bottom: 1px solid #4A6676;
  padding: 0;
  margin-bottom: 0rem;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 0;
  margin: 0;
}

.react-autosuggest__suggestion-inner {
  cursor: pointer;
  height: 4rem;
  padding: 0.5rem 0  0.5rem 2.8rem;
  color: #fff;
  opacity: 0.7;
  display:flex;
  align-items: center;
}

.react-autosuggest__suggestion--highlighted .react-autosuggest__suggestion-inner  {
  background-color: #4E6878;
  width:100%;
  opacity:1;
}

.suggest-handle{
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  position: absolute;
  left: 0rem;
  width: 100%;
  height: 4rem;
}



.suggest-handle:hover{
  opacity: 0.6;
}

.react-autosuggest__section-container {
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  display: flex;
  align-items: center;
  padding: 0.2rem 0 0 2rem;
  font-size: 1.3rem;
  color: #FFF;
  opacity: 1;
  height: 3.5rem;
}

.ml-description {
  display: none;
}

.ml-divider {
  margin-top: 1rem;
  border-top: 1px solid rgba(255,255,255, .2);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/* AddNotificationButtonClosed */

.notification-button-popout {
  background-color: #4E6878 !important;
  z-index: 100;
  position: absolute;
  left: 60px;
  top: 252px;
}

/* ImportModuleFromGitHub */

.import-module {
  border-bottom: 1px solid rgba(255,255,255, .1);
}

.import-module-button {
  cursor: pointer;
  color: #FAFAFA;
  padding-top: 2rem;
  opacity: 0.7;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align:center;
}

.import-module-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;

}

.import-github-error {
  height: 4rem;
  color: #E24F4A;
  margin-top:2rem;
  padding-left:0rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.9rem;
}

.import-github-success {
  height: 4rem;
  color: #1CA8B9;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.9rem;
  margin-top: 2rem;
  padding-left: 0rem;
}

.test-button{
  cursor: pointer;
}

/* help button */


.help-container{
  position: absolute;
  bottom: 10rem;
  left: 1.5rem;
}

.help-shortcut{
  margin: auto;
  background-color: rgba(250,250,250,0.2);
  height: 3rem;
  width:3rem;
  z-index: 1000;
  border-radius: 50px;
  border:2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -0.5rem 0.5rem 2.5rem 0 rgba(0,0,0,0.40);
  opacity:0.6;
  cursor:pointer;
  -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;

}

.help-shortcut:hover{
  opacity: 0.8;
}

.help-container a:hover{
  text-decoration: none;
}

/*Table*/

.react-grid-HeaderCell{
  background-color: #7A9BB0;
  color:white;
  border-right:0px;
  border-bottom:0px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.react-grid-Grid{
  border:#b4b4b4;
}

.react-grid-Cell{
  border-color:rgba(237,237,237,1);
  padding-right:1rem;
  padding-left:1rem;
  border-right: none;
  border-bottom: none;
}

.react-grid-Cell:not(.editing) .react-grid-Cell__value{
  font-size: 1.2rem;
}

.react-grid-Row--odd .react-grid-Cell{
  background-color: rgba(237,244,246,0.8);
}

.react-grid-Row--odd:hover .react-grid-Cell,.react-grid-Row--even:hover .react-grid-Cell{
  background-color: #C9E8F1;
}


/* ---- WfModule ---- */

.wf-card{
  width: 38rem;
  margin-bottom: 0.5rem;
  background-color: rgba(250,250,250,0.8);
  position: relative;
  transition: all 0.5s ease-out;
}

.wf-card.placeholder {
  height: 0.5rem;
  background-color: #7A9BB0;
  opacity:0.5;
  padding-bottom:0;
}

.module-card-info {
  width:100%;
}
.module-card-header {
  clear:left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin:0.3rem 1.5rem 0 1.5rem;
  height:4rem;
}

.module-header-buttons{
  display:none;
}

.module-header-buttons:hover{
  display:flex;
}

.notification-badge{
  display: flex;
}

.notification-badge-icon{
  font-size: 1.2rem;
  cursor: pointer;
}

.module-card-params {
  padding: 0.2rem 1.5rem 1.5rem 1.5rem;
}

.module-description {
  margin-bottom: 2rem;
  font-family: 'Nunito Light', sans-serif;
  font-size: 1.3rem;
	font-weight: 300;
  line-height: 2.1rem;
  color: #A2A2A2;
  display:none;
}

.wf-module-error-msg {
  border: 0px;
  padding: 1rem 1.5rem;
  margin:0 1.5rem;
  border-radius: 0px;
  background-color: rgba(232,114,110,0.6);
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Nunito Light', sans-serif;
  text-align: left;
}

.wfmoduleButton{
  width: 20%;
}

/*Charts module using Chartbuilder*/

.module-card-params a{
  display: none;
}

.svg-credit-data {
  display:none;
}

div.renderer-wrapper{
  margin-bottom: 1.5rem;
}

.grid-lines{
  opacity: 0.5;
}

.zero{
  opacity: 0.3;
}

.chartbuilder-svg{
  border:1px #f1f1f1 solid;
}

svg .svg-background{
  opacity: 1;
  fill:#fff;
  border: 1px red;
}


/* ---- Wf Module status bars ---- */

/* a dummy div around output status bar, for positioning purposes  */
.output-bar-container {
  position: absolute;
  height: 100%;
  width:100%;
}
/* all good NOT IN USE ANYMORE?? PIERRE 1/10/2018*/
/* .module-output-bar-white {
  width:0.3rem;
  height: 100%;
  background-color: transparent;
} */

/* all good & selected */
.module-output-bar-blue {
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(118,155,176,0.5);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.module-output-bar-blue:after {
	border: solid transparent;
	content: " ";
	border-left-color: rgba(118,155,176,0.3);
	border-width: 2.25rem 0 2.25rem 1rem;
  margin-left: 38rem
}

/* standby  */
.module-output-bar-orange {
  height: 100%;
  background-color: transparent;
  border:2px solid rgba(251,170,109,0.7);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.module-output-bar-orange:after {
  border: solid transparent;
	content: " ";
	border-left-color: rgba(251,170,109,0);
	border-width: 2.5rem 0 2.5rem 1rem;
  margin-left: 38rem
}
/* error  */
.module-output-bar-pink {
  height: 100%;
  background-color: transparent;
  border:2px solid rgba(0,114,110,0);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.module-output-bar-pink:after {
	content: " ";
	position: absolute;
	border:2px solid rgba(232,114,110,0.3);
  margin-left: 38.3rem;
  height: 4.5rem;
}
/* error & selected */
.module-output-bar-red {
  height: 100%;
  background-color: transparent;
  border:2px solid rgba(232,114,110,0.5);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.module-output-bar-red:after {
  content: " ";
	position: absolute;
	border:2px solid rgba(232,114,110,0.3);
  margin-left: 38.3rem;
  height: 4.5rem;
}

/*checkbox-list*/


.checkbox-container {
  background-color: #FFFFFF;
  height: 3.5rem;
  width: 49.7%;
  margin: 0.5px;
  padding: 0 1.5rem;
  display:flex;
  align-items: center;
}

.list-wrapper{
  resize: vertical;
  height: 12rem;
  min-height: 6rem;
  overflow: auto;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
}

.list-scroll{
  overflow-y:auto;
}

/*Solo-checkboxes*/
.checkbox-content{
  overflow:hidden;
}
.checkbox-wrapper{
  margin-right: 3rem;
  margin-top:-1rem;
  display:inline-block;
  overflow:hidden;
}

/*Bigger size for non webkit browsers*/

input[type=checkbox]
{
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -o-transform: scale(1.3); /* Opera */
}

/*Check box hack for Webkit supported browser: Chrome and Safari*/
input[type=checkbox]
{
  -webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	padding: 0.7rem;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

/*checkbox at login*/
label[for=id_remember]{
  margin-bottom: 1rem;
  position: absolute;
  margin-left: 0.5rem;
  opacity: 0.6;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: inset 0px 1px 0px #FBAA6D;
}

input[type=checkbox]:checked {
	background-color: #FBAA6D;
	border: 1px solid #FBAA6D;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type=checkbox]:checked:after {
  font-family:'Workbench';
	content: '\e904';
	font-size: 0.8rem;
	position: absolute;
	top: 1.5px;
	left: 2.5px;
	color: #fff;
}


/* ---- Dialog Boxes ---- */

.modal-dialog{
  max-height:50rem;
  width: 48rem;
  border: 0;
  position:absolute;
  margin:auto;
  top: 0; left: 0; bottom: 0; right: 0;
}



.modal-content{
  border:0;
  border-radius:0px;
}

.modal-header {
  height: 6rem;
  padding: 2rem;
  background-color: #FAFAFA;
}

.modal-header .modal-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-body{
  padding:0px;
}

.dialog-body {
  background-color: #FFF;
  padding: 2rem;
  border: 0;
  max-height: 40rem;
  overflow: scroll;
}

.list-body{
  background-color: #edecec;
  border: 0;
  max-height: 40rem;
  overflow: scroll;

}

.dialog-body p{
  font-size: 1.5rem;
  font-weight: 100;
}

.dialog-body.content-3{
  font-size: 1.5rem;
}

.close {
  font-size:2rem;
  color:#b4b4b4;
}

.icon-close {
  font-size:1.2rem;
  color:#b4b4b4;
}

.icon-close:hover{
  color:black;
}

.form-group {
  margin-bottom:0;
}


/* imported modal setting cancelled */
.modal-footer{
  border-top:0;
  display: block;
}

/* new style for dialog..footer */
.dialog-footer {
  background-color: #FAFAFA;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eceeef;
}

/* Data version modal */

.alert-setting-modal {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  border-right: 1px solid #E9E9E9;

}

.alert-setting {
  margin-right: 1rem;
  width:60%;
}

/* from Export Data modal, in WfModuleContextMenu  */

.download-icon-box {
	height: 3.5rem;
	width: 6rem;
	border-top: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#b4b4b4;
  border-radius: 0px;
}


.download-icon-box:hover {
  background-color: #F8F8F8;
  decoration:none;
}


/* ---- Data Module: data versions box */

.version-box {
  border: 1px solid #E9E9E9;
  display: flex;
  flex-direction: row;
  margin-top:-0.5rem;
  padding: 1.2rem;
  align-items:top;
}

.version-item {
  width: 14rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
}

.frequency-item {
  width: 10.5rem;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 1rem;
}

.centered{
  margin:auto;
  text-align: center;
}

/* --- UpdateFrequencySelect --- */

.update-freq-settings {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#updateFreqNum {
  display: inline;
  width: 5rem;
}

#updateFreqUnit {
  display: inline;
  width:10rem;
  border-radius: 0px!important;
}

select {
  border-radius: 0px;
}

/*Upload module*/

.dropzone{
  height:8rem;
  border: 3px dashed #FBAA6D;
  cursor:pointer;
  opacity: 0.5;
  color:#FBAA6D;
  margin-bottom: 1.5rem;
}

.dropzone:hover{
  opacity: 1;
}

/*Progress bar*/
.react-fine-uploader-gallery-progress-bar-container{
  height:1px;
  opacity:1;
  width: 37rem;
  top:9rem;
  background: #FBAA6D;
  box-shadow: none;
}
.react-fine-uploader-file-progress-bar-container,
.react-fine-uploader-gallery-total-progress-bar-container{
  height:1px;
  opacity:1;
  margin-top:0rem;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  width: 37rem;
  background: #FBAA6D;
  box-shadow: none;
}
.react-fine-uploader-file-progress-bar,
.react-fine-uploader-gallery-total-progress-bar
{
  width: 100%;
  opacity:1;
  background: #FBAA6D;
  box-shadow: none;
  height:1px;
}

/*dropzone button gets set up within the version box when file is loaded*/

.dropzone-button{
  position:absolute!important;
  right:2.75rem;
  bottom:2.75rem;
}

.upload-box{
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.file-info p{
  margin:0;
}

.connected-account p{
  margin:0;
  margin-top: -1rem;
}

/* --- Editable text fields --- */

.module-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.8rem;
	line-height: 1.8rem;
  color: #FFFFFF;
  width: 100%;
  background: none;
}

.module-notes {
  padding: 1rem;
}

.editable-notes-field {
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
	line-height: 2.6rem;
  color: #686768;
  padding: 0 1.5rem;
  background-color:rgba(72,200,215,0.2);
  display: table;
}

.editable-notes-field:hover {
  background-color:rgba(72,200,215,0.3);
}

.editable-text {
  background-color: red;
}

/* Ace editor */

.ace-tomorrow .ace_gutter {
  background: #7A9BB0!important;
  color:#fff!important;
}

.ace-tomorrow .ace_gutter-active-line {
  background-color: #fff!important;
  opacity: 0.2!important;
}



/* --- Chartbuilder - override all sorts of styles to integrate --- */

/* TODO this should inherit from content-3 t-d-gray, just cut and paste right now */
.chartbuilder-main h2 {
  font-size: 1.3rem;
	line-height: 1.3rem;
  color: #686768;
}


/* TODO this should inherit from content-3 t-d-gray, just cut and paste right now */
.chartbuilder-main .editor-label {
  font-size: 1.3rem;
	line-height: 1.3rem;
  color: #686768;
}

/* Suppress ChartBuilder step numbers */
.chartbuilder-main .step-number {
  display: none;
}

/* TODO this should inherit from action-button and button-gray */
.chartbuilder-main .cb-button {
  cursor: pointer;
  height: 4rem;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
	font-size: 1.4rem;
	font-weight: 900;
  line-height: 1.4rem;
  color: #686768;
  border: 1px solid #686768;
  text-align: center;
  background-color: transparent !important;
  margin: 0 1rem 0 1rem !important;
  padding: 0 1rem 0 1rem !important;
}

.chartbuilder-main .active {
  background-color: #48C8D7 !important;
  color: #FFFFFF !important;
	text-align: center;
  border: 0px !important;
}

/* TODO copied from text-field t-d-gray content-2... but stripped down  */
.chartbuilder-main .cb-text-input input {
  height: 4rem;
  width: 100%;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  color: #686768;
}


/* TODO height (but not width) copied from dropdown-selector */
.chartbuilder-main .cb-dropdown-select {
  height: 4rem;
}

/* Hiden canvas element used for image export;
   https://quartz.github.io/Chartbuilder/ has display: none so we do too  */
.chartbuilder-canvas {
  display: none;
}

/* color picker */
.color-picker.color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.color-picker.pop-over {
  position: absolute;
  z-index: 1060;
  top:100%;
  left:-75%;
}

.color-picker.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.input-group-btn > .color-picker.button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.color-picker.button-icon {
  font-size: 0.6rem;
}

.color-picker .block-picker input {
  display: none;
}

.drop-alert.active {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FBAA6D;
  opacity: 0.3;
}

.drop-alert.over {
  opacity: 0.5;
}
