@import 'bootstrap/scss/bootstrap.scss';

@import './variables';
@import './mixins';
@import './fonts';

@import './components/Embed.scss';
@import './components/Fonts.scss';
@import './components/Icons.scss';
@import './components/Buttons.scss';
@import './components/Accounts.scss';
@import './components/Spinner.scss';
@import './components/Navbar.scss';
@import './components/WorkflowList.scss';
@import './components/WorkflowPage.scss';
@import './components/Lesson.scss';
@import './components/LessonList.scss';
@import './components/Metadata.scss';
@import './components/ModuleSearch.scss';
@import './components/ModuleStack.scss';
@import './components/Modules.scss';
@import './components/Table.scss';
@import './components/CellEditor.scss';
@import './components/GoogleConnect.scss';
@import './components/UploadFile.scss';
@import './components/Input_components.scss';
@import './components/Modales.scss';
@import './components/Code_editor.scss';
@import './components/Chartbuilder.scss';
@import './components/Alerts.scss';
@import './components/Facets.scss';
@import './components/data_version.scss';


html {
  height: 100vh;
  /* sets the basis for `rem` styling units */
  font-size: 10px;
}

body {
  margin: 0px;
  height: 100%;
  @extend %font-nunito-regular;
  background-color:$page-background;
  color: $brand-text--dark;
}

/* height 100% needed on all parents so that output pane flexbox can fill available vertical screen space.
  Not sure why position absolute is needed, but it gets push down the screen (not flush with top) otherwise. */

#root {
	width: 100%;
  background-color:$page-background;
}

::-webkit-scrollbar-thumb{
  width:0.2rem;
  opacity: 0.2;
}
