/* File is getting large; time to divide into modules? */

html {
  height: 100%;
  /* sets the basis for `rem` styling units */
  font-size: 10px;
}

body {
  margin: 0px;
  height: 100%;  
  font-family: Avenir;
  background-color: #f6f6f6;    
  color: #686768;
}

/* height 100% needed on all parents so that output pane flexbox can fill available vertical screen space.
  Not sure why position absolute is needed, but it gets push down the screen (not flush with top) otherwise. */
#root {
  height: 100%;
	width: 100%;
	position: absolute;
}

/* ---- NEW Type styles: use on all newly styled elements: phase out olds on edit ----- */

/* --- Text Sizing ---  */

.title-1 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 2.5rem;
}
.title-2 {
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 2.2rem;
}
.title-3 {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.8rem;
}
.title-4 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5rem;
}
.title-5 {
	font-size: 1.1rem;
	font-weight: 900;
	line-height: 2rem;
}

.content-1 {
	font-size: 1.4rem;
	font-weight: 900;
  line-height: 1.4rem;
  opacity: 0.6;
}
.content-2 {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
}
.content-3 {
	font-size: 1.3rem;
	line-height: 1.3rem;
}
.content-4 {
	font-size: 1.2rem;
	font-weight: 900;
	line-height: 1.2rem;
}

.code-1 {
  font-family: "PT Mono";
	font-size: 1.4rem;
	line-height: 2.4rem;
}

.info-1 {
	font-size: 1.3rem;
	font-weight: 300;
	line-height: 2.1rem;
}
.info-2 {
	font-size: 1rem;
	font-weight: 900;
	line-height: 1rem;
}

.table-1 {
	font-size: 1.3rem;
	font-weight: 900;
	line-height: 1.8rem;
}
.table-2 {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.1rem;
}

.note {
  font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.8rem;
}

/* --- Colors ---  */
/* WARNING: watch out for over-rides on Bootstrap classes  */

/* Text  */
.t-vl-gray {
  color: #FAFAFA;
}
.t-l-gray {
  color: #F5F5F5;
}
.t-m-gray {
  color: #B4B4B4;
}
.t-d-gray {
  color: #686768;
}
.t-d-blue {
  color: #577485;
}
.t-f-blue {
  color: #48C8D7;
}
.t-orange {
  color: #F8AA6D;
}

/* Backgrounds  */
.b-vl-gray {
  background-color: #FAFAFA;
}
.b-l-gray {
  background-color: #F5F5F5;
}
.b-m-gray {
  background-color: #B4B4B4;
}
.b-d-gray {
  background-color: #686768;
}
.b-d-blue {
  background-color: #577485;
}
.b-f-blue {
  background-color: #48C8D7;
}
.b-orange {
  background-color: #F8AA6D;
}
.b-table-row {
  background-color: #EDF4F6;
}
.b-table-column {
  background-color: #E1E9EB;
}
.b-output-blue-1 {
  background-color: #DBECF1;
}
.b-output-blue-2 {
  background-color: #BFDDE4;
}
.b-output-red-1 {
  background-color: #F3B9B7;
}
.b-output-red-2 {
  background-color: #E24F4A;
}



/* ---- OLD Text Type styles: phase out to new with any edit ----- */
/* (Watch out for repeated class names!)  */

/* not in style guide - remove/replace */
.title {
	height: 	0.9375rem;
	font-size: 	0.9375rem;
	font-weight: 500;
	line-height: 	0.9375rem;
}

.list-title {
	height: 1.375rem;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.375rem;
}

.title-white {
	height: 1.125rem;
	color: #FFFFFF;
	font-family: Avenir;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.125rem;
}

.title-line-item-gray {
	height: 0.8125rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 0.8125rem;
}

.module-library-line-item-title {
	height: 0.9375rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 0.9375rem;
}

.setting-gray {
	height: 0.8125rem;  
	color: #686768;
	font-family: Avenir;
	font-size: 0.8125rem;
  line-height: 0.8125rem;
}

.setting-blue {
	height: 0.8125rem;
	color: #48C8D7;
	font-family: Avenir;
	font-size: 0.8125rem;
	line-height: 0.8125rem;
}

.setting-orange {
	height: 0.8125rem;
	color: #FBAA6D;
	font-family: Avenir;
	font-size: 0.8125rem;
	line-height: 0.8125rem;
}

.setting-big-light-gray {
	height: 0.75rem;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 900;
	line-height: 0.75rem;
}

.data-light-gray {	
  color: #A2A2A2;	
  font-family: Avenir;	
  font-size: 0.875rem;	
  font-weight: 500;	
  line-height: 0.875rem;
  height: 0.875rem;  
}

.data-gray {
	color: #686768;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 500;
  line-height: 0.875rem;
  height: 0.875rem;
}

.data-paragraph-gray {
	color: #686768;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 500;
  line-height: 1.5rem;
  height: 1.5rem;
}

.data-pragraph-light-gray {
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 500;
  line-height: 1.5rem;
  height: 1.5rem;
}

.table-row-single-d {
	height: 0.6875rem;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 0.6875rem;
}

.table-row-0.6875remdouble-d {
	height: 0.6875rem;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.5625rem;
	font-weight: 500;
	line-height: 0.6875rem;
}

.table-row-triple-d {
	height: 0.6875rem;
	color: #FFFFFF;
	font-family: Avenir;
	font-size: 0.53125rem;
	font-weight: 500;
	line-height: 0.6875rem;
}

.table-column-name {
	height: 1.125rem;
	color: #FFFFFF;
	font-family: Avenir;
	font-size: 0.8125rem;
	font-weight: 900;
	line-height: 1.125rem;
}

.info-small-blue {
	color: #48C8D7;
	font-family: Avenir;
	font-size: 0.625rem;
	font-weight: 900;
	line-height: 0.625rem;
  height: 0.625rem;
}

.info-small-blue:hover {
  color: #0B8897;
}

.info-small-orange {
	color: #FBAA6D;
	font-family: Avenir;
	font-size: 0.625rem;
	font-weight: 900;
  line-height: 0.625rem;
  height: 0.625rem;
}

.info-small-paragraph-gray {
	height: 2rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.6875rem;
	line-height: 1rem;
}

.info-medium-paragraph-gray {
	height: 1.375rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.8125rem;
	font-weight: 300;
	line-height: 1.375rem;
}

.info-medium-paragraph-blue {
	height: 0.75rem;
	color: #48C8D7;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 0.75rem;
}

.info-medium-blue {
	height: 0.8125rem;
	color: #48C8D7;
	font-family: Avenir;
	font-size: 0.8125rem;
	line-height: 0.8125rem;
}

.info-medium-blue:hover {
  color: #0B8897;
}

.info-medium-gray {
	height: 0.8125rem;
  color: #686768;
	font-family: Avenir;
	font-size: 0.8125rem;
	line-height: 0.8125rem;
}

.info-medium-light-gray {
	height: 0.8125rem;
  color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.8125rem;
	line-height: 0.8125rem;
}

.field-search-light-gray {
	opacity: 0.6;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 900;
  line-height: 0.875rem;
  height: 0.875rem;
}

.field-search-white {
	color: #FFFFFF;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 900;
  line-height: 0.875rem;
  height: 0.875rem;
}

.code-light {
	height: 1.5rem;
	color: #A2A2A2;
	font-family: "PT Mono";
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.code-fill {
	height: 1.5rem;
	color: #CFCFCF;
	font-family: "PT Mono";
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.details-blue {
	height: 0.75rem;
	color: #48C8D7;
	font-family: Avenir;
	font-size: 0.75rem;
	font-weight: 900;
	line-height: 0.75rem;
}

.details-blue:hover {
	color: #2D9DAA;
}

.details-gray {
	height: 0.75rem;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.75rem;
	font-weight: 900;
	line-height: 0.75rem;
}

.details-gray-copy {
	height: 1rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 1rem;
}

.workflow-title-gray {
	height: 2.125rem;
	color: #686768;
	font-family: Avenir;
	font-size: 1.5625rem;
	font-weight: 300;
  line-height: 2.125rem;
}

.dialog-box-title-light-gray {
	height: 0.9375rem;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 0.9375rem;
}

.dialog-box-title-gray {
	height: 0.9375rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 0.9375rem;
}

.info-title-small {
	height: 1.25rem;
	color: #686768;
	font-family: Avenir;
	font-size: 0.6875rem;
	font-weight: 900;
	line-height: 1.25rem;
}

.version-text-active {
	 color: #FFFFFF; 
	 font-family: Avenir;
	 font-size: 0.8125rem; 
	 font-weight: 300; 
	 line-height: 1.125rem;  
}

.version-text-disabled {
	color: #3A3A3A;  
	font-family: Avenir;
	font-size: 0.8125rem;
	font-weight: 300;
	line-height: 1.125rem;
}

.version-text-disabled:hover {
  color: #3A3A3A;
}


/* ---- Text Input Fields ---- */
/* To be phased out for new styles */


.text-field {
  height: 2.5rem;
  width: 100%;
  background-color: #FFFFFF !important;
  border: 1px solid #EDECEC;
  /* resize: none; */
}

.text-field:active {
  box-shadow: 0 0 1px 1px #48C8D7;
  border: 0;
}


/* to be replaced by new classes  */
.dialog-box-name {
	height: 30px;
	color: #686768;
	font-family: Avenir;
	font-size: 15px;
	font-weight: 500;
	line-height: 15px;
  padding: 20px 30px 20px 30px;
}

/* ---- Buttons ---- */
/* To be phased out to new styles */

/* - Button Colors - */
.button-gray {
  color: #686768;
  border: 1px solid #686768;
	text-align: center;
}
.button-gray:active {
  background-color: #686768;
  color: #FFFFFF;
}

.button-blue {
  color: #48C8D7;
  border: 1px solid #48C8D7;
	text-align: center;
}
.button-blue:active {
  background-color: #48C8D7;
  color: #FFFFFF;
}

.button-full-blue {
  background-color: #48C8D7;
  color: #FFFFFF;
	text-align: center;  
}

/* - Button Shapes - */
.button-context {
  border: 0;
}

.button-context:hover {
  border: 1px solid #EDECEC;
}

.button-context:active {
  border: 1px solid #EDECEC;
  background-color: #F9F9F9;
}

.button-square {
  background-color: #FFFFFF;
  border: 1px solid #EDECEC;  
}

.button-square:hover {
  background-color: #F1F5F7;
}

.button-square:active {
  background-color: #48C8D7;
}

.action-button {
	height: 4rem;
  border-radius: 2.5rem;
  min-width: 9rem; 
  /* width: 9rem;   */
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button:hover {
	opacity: 0.5;
}



/* ---- Dropdowns ---- */
/* To be phased out for new styles */


.dropdown-list-menu {
  background-color: #D8D8D8;
  padding: 1px;
}

/* TODO: remove styling for text, define box only  */
/* move text styles to text classes  */
.dropdown-list-item {
  height: 40px;
  width: 170px;
  display: flex;
  align-items: left;
  padding: 15px 25px 25px 10px;
  margin-bottom: 1px;
  background-color: #FFFFFF;
  color: #3A3A3A;
  font-size: 13px;
  font-weight: 300;	
  line-height: 18px;
  font-family: Avenir;
}

.dropdown-list-item:hover {
  background-color: #F1F5F7;
}

.dropdown-list-item:active {
  background-color: #48C8D7;
}



/* ---- Navbar ----- */

.navbar {
  height: 3.5rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #48C8D7;
  color: #FFFFFF;
  border-bottom: 1px solid;
}


/* ---- Login ---- */
.login-fullscreen-container {
  height: 80vh;
  display: flex;
  align-items: center;
}

.login-card input {
  width: 100%
}

.login-card ::-webkit-input-placeholder {
  color: #ccc
}

/* ---- Workflow list ---- */

.workflows-container {
  margin-top: 5rem;
}

.new-workflow-button {
  border: 1px solid #48C8D7;
  color: #48C8D7;
}

.workflows-list {
  border: 0;     
  background-color: #f6f6f6;      
}

.workflow-in-list {
  background-color: #ffffff;
  margin-bottom: 1px;
  color: #686768;
  font-weight: 500;
  color: #686768;
  border: 0;
}

.workflow-in-list:hover {
  background-color: #f8f8f8;
}



/* ---- Workflow page ---- */

/* Contains navbar + workflow. For some reason we need absolute positioning to get this to show up right,
   and when we set that we also need width:100%*/
.workflow-root {
  height: 100%;
	width: 100%;
	position: absolute;
}

/* Contains modulestack + output pane. Position below nav */
.workflow-container {
  display: flex;
  flex-flow: row;
  height: calc(100% - 3.5rem);
  margin-top: 3.5rem;
}

.modulestack-left {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  background-color: #F6F6F6;
}

.modulestack-header {
  color: #686768;
  padding: 0.625rem;
}

.modulestack-list {
  background-color: #F2F2F2; 
  padding: 0.625rem;
  border: 1px solid #EDECEC;
}

.outputpane-right {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  position: relative;
}

.outputpane-box {
  height: calc(100% - 3.5rem);
  width: 50%;
  background-color: #F2F2F2;
  padding: 0.9375rem;
  position: fixed;
}

.outputpane-header {
  height: 3rem;
  border: 1px solid #EDECEC;
  background-color: #FFFFFF;
  color: #A2A2A2;
}

.outputpane-data {
  height: calc(100% - 3rem);
  border: 1px solid #EDECEC;
  overflow: hidden; /* important as it prevents grid contents from interfering with window resizing */
}


/* ---- WfModule ---- */
/* TODO: make classes consistent with style guide */
/* TODO: rename classes-to-css-style  */

.module-card-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.module-card-info {
  width: calc(100% - 1rem);
}

.module-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wfModuleErrorMsg {
  border: 1px solid black;
  margin: 3px;
  border-radius: 3px;
  background-color: #ddd;
  text-align: center;
}

.wfmoduleStringInput{
  width: 100%;
  resize: none;
}

.wfmoduleNumberInput{
  width: 100%;
  resize: none;
}

.wfmoduleTextInput{
  width: 100%;
  resize: vertical;
}

.wfmoduleButton{
  width: 20%;
}

.wf-parameters {
  background-color: #FAFAFA;
}


/* ---- Wf Module status bars ---- */
/* To be phased out for new styles */

/* a dummy div around output status bar, for positioning purposes  */
.output-bar-container {
  border: 0;
}

/* base status  */
.module-output-bar-white {
  width: 0.4375rem;
  height: 100%;
  background-color: #FFFFFF;
}

/* currently selected and ready */
.module-output-bar-blue {
  width: 0.4375rem;
  height: 100%;  
  background-color: #BFDDE4;
}

/* TODO: change on module select, not hover  */
.module-output-bar-blue:hover {
  background-color: #DBECF1;
}

/* standby  */
.module-output-bar-orange {
  width: 0.4375rem;  
  height: 100%;  
  background-color: #FBAA6D;
}

/* error  */
.module-output-bar-red {
  width: 0.4375rem;  
  height: 100%;  
  background-color: #E24F4A;
}


/* ---- Dialog Boxes ---- */
/* TODO: redefine according to style sheet  */

.dialog-window {
  border: 0;
  width: 50rem;
}

.dialog-header {
  height: 5.5rem;
  padding: 4rem 6rem 4rem 6rem;
  background-color: #FFFFFF;
}

/* .dialog-header-close {
  margin-left: 330px;
  font-size: 0.9375rem;
	font-weight: 500;
  line-height: 0.9375rem;
  color: #686768;
} */

.dialog-body {
  background-color: #FAFAFA;
  padding: 4rem 6rem 4rem 6rem;
  border: 0;
}

.dialog-footer {
  background-color: #FAFAFA;  
  padding: 4rem 6rem 4rem 6rem;
  border-top: 0;  
}


/* ---- WfModuleContextMenu ---- */
/* TODO: redefine to fit style guide classes  */

.export-field-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.export-link {
  margin: 10px 60px 5px 0px;
}

.export-field {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  margin-bottom: 1.875rem;  
}

.export-field-text {
  height: 2.5rem;
  border: 1px solid #EDECEC;
  background-color: #FFFFFF !important;  
  color: #686768;
	font-family: Avenir;
	font-size: 0.875rem;
	font-weight: 500;
  line-height: 0.875rem;
}

.export-icon-box {
  width: 3.75rem; 
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  border: 1px solid #EDECEC;
  font-size: 0.9375rem;  
  background-color: #FFFFFF;
}


/*----- Icon Fonts ----*/
@font-face {
  font-family: 'Workbench-icon-font-v1';
  src: url('../fonts/Workbench-icon-font-v1.woff?7mkhko') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Workbench-icon-font-v1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-blue:before {
  content: "\e917";
  color: #48c8d7;
}
.icon-notification-filled:before {
  content: "\e90d";
  color: #fff;
}
.icon-notification:before {
  content: "\e916";
  color: #fff;
}
.icon-checkbox-fill:before {
  content: "\e915";
  color: #48c8d7;
}
.icon-chart:before {
  content: "\e909";
  color: #686768;
}
.icon-settings:before {
  content: "\e900";
  color: #686768;
}
.icon-close:before {
  content: "\e905";
  color: #686768;
}
.icon-edit:before {
  content: "\e906";
  color: #686768;
}
.icon-info:before {
  content: "\e907";
  color: #686768;
}
.icon-join:before {
  content: "\e908";
  color: #686768;
}
.icon-checkbox-unchecked:before {
  content: "\e90b";
  color: #686768;
}
.icon-sigma:before {
  content: "\e90e";
  color: #686768;
}
.icon-sort-right:before {
  content: "\e910";
  color: #686768;
}
.icon-sort-down:before {
  content: "\e913";
  color: #686768;
}
.icon-sort-up:before {
  content: "\e914";
  color: #686768;
}
.icon-checkbox-checked .path1:before {
  content: "\e901";
  color: rgb(72, 200, 215);
}
.icon-checkbox-checked .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-download:before {
  content: "\e903";
  color: #686768;
}
.icon-upload:before {
  content: "\e904";
  color: #686768;
}
.icon-doc:before {
  content: "\e90a";
  color: #686768;
}
.icon-duplicate:before {
  content: "\e90c";
  color: #686768;
}
.icon-filter:before {
  content: "\e90f";
  color: #686768;
}
.icon-full-screen:before {
  content: "\e911";
  color: #686768;
}
.icon-url:before {
  content: "\e912";
  color: #686768;
}
.icon-more:before {
  content: "\e918";
  color: #686768;
}
.icon-note:before {
  content: "\e919";
  color: #686768;
}
.icon-process:before {
  content: "\e91a";
  color: #686768;
}
.icon-search:before {
  content: "\e91b";
  color: #686768;
}
.icon-table:before {
  content: "\e91f";
  color: #686768;
}
.icon-bin:before {
  content: "\e920";
  color: #686768;
}
.icon-twitter:before {
  content: "\e921";
  color: #686768;
}
.icon-checkbox-gray .path1:before {
  content: "\e922";
  color: rgb(104, 103, 104);
}
.icon-checkbox-gray .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-alert:before {
  content: "\e926";
  color: #686768;
}
.icon-api:before {
  content: "\e927";
  color: #686768;
}
.icon-calendar:before {
  content: "\e928";
  color: #686768;
}
.icon-check:before {
  content: "\e92a";
  color: #686768;
}

/* Icon colors  */

.icon-gray {
  color: #686768;
}

.icon-light-gray {
  color: #B4B4B4;
}

.icon-blue {
  color: #48C8D7;
}

.icon-white {
  color: #FFFFFF;
}

.icon-orange {
  color: #FBAA6D;
}

/* Icon wrapping (boxes around icons)  */
/* TODO: trace down interference from prepackaged components  */
/* TODO: transition to classes defined in style guide  */

.module-icon {
  height: 15px;
  width: 15px;
}

.button-icon {
  height: 13px;
  width: 13px;
  margin: 0 auto;  
}

.context-button {
  height: 1.5625rem;
  width: 1.5625rem;
  border: 0;
}

.context-button:hover {
  background-color: #F9F9F9;
  border: 1px solid #CECECE;
}

.context-button:active {
  border: 1px solid #CECECE;  
  background-color: #EDECEC;
}

/* --- Scrolling List Div ---  */
.scolling-list {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

/* --- Data versions modal --- */
/* TODO: use Dialog box classes from style guide  */

.version-header {
  background-color: #FFFFFF;
  height: 2.5rem;
  width: 100%;
  margin: 1.25rem 1.875rem 1.25rem 1.875rem;  
}

.version-active {
  height: 2.5rem;
	width: 100%;
  background-color: #48C8D7;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;    
}

.version-disabled {
  background-color: #FFFFFF;
  height: 2.5rem;
  width: 100%;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;      
}

.version-disabled:hover {
  background-color: #F1F5F7;
}


/* WfParameter */

.version-box {
  border: 1px solid #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3rem;
}

.version-item {
  margin: 1.25rem;
  display: inline-block;
}

/* --- UpdateFrequencySelect --- */
/* TODO: shift to using inline Bootstrap classes  */

.update-freq-settings {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#updateFreqNum {
  display: inline;
  width: 20%;
}

#updateFreqPeriod {
  display: inline;  
  width: 30%;  
}

/* --- Editable text fields --- */

.editable-title-field {
  border: none; 
  outline: none;
  padding: 0;
  resize: none;
  width: 100%; 
}

.editable-notes-field {
  border: none; 
  outline: none;
  height: 100%; 
  width: 100%;   
  padding: 2rem 3rem 2rem 3rem;  
}

/* applied only when field is in edit mode  */
.editable-notes-field-active {
  background-color: #FFFFFF;  
  box-shadow: 0 0 1px 1px #48C8D7;
  padding: 2rem 3rem 2rem 3rem;
}

/* applied only when field is in idle mode  */
.editable-notes-field-idle {
  padding: 2rem 3rem 2rem 3rem;
}

.card .second-level {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  position: relative;
  border: 3px;
}

.card .first-level {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card .second-level .h2 {
  height: 20px;
  font-size: 17px;
  line-height: 25px;
  font-weight: bold;
}

.card .second-level .h3 {
  height: 17px;
  font-size: 17px;
  line-height: 25px;
  padding: 1px;
}

/* Start of CSS for the Module Library */
.module-library {
  height: calc(100% - 3.5rem);
  width: 50%;
  background-color: #F2F2F2;
  position: fixed;
  font-family: Avenir;
  color: #686768;
  overflow-y: auto;
  float:left;
  padding: 20px;
}

.module-library .nav-bar {
  background-color: #577485;
  height: 120px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  position: relative;    
  border-bottom: 1px solid;
  text-align: left;
  padding: 10px;
}

.module-library .h1 {
  height: 18px;
  font-size: 24px;
  font-weight: 300;
  line-height: 18px;
  padding: 20px;
}

.module-library .h2 .symbols {
  font-weight: bold; 
}

.module-library .nav-bar .h1 { /* Title of Module Library navigation bar */
  color: #FFFFFF;
}

.module-category {	
  height: 10px;	
  color: #686768;	
  font-family: Avenir;
  font-size: 16px;	
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  line-height: 13px;
  position: relative;
}

.module-name {	
  height: 15px;	
  color: #686768;	
  font-family: Avenir;	
  font-size: 15px;	
  font-weight: 500;	
  line-height: 15px;
}

.module-description {	
  color: #686768;
  font-family: Avenir;	
  font-size: 13px;	
  font-weight: 300;	
}

.module-metadata {	
  color: #A2A2A2;
  font-family: Avenir;	
  font-size: 14px;	
  line-height: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.react-autosuggest__container {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.import-module {
  height: 200px; 
  width: 450px;
  color: #686768;
  float: right;
  margin-right: 20px;
  font-size: 14px;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 3px 3px 3px #888888;
  position: fixed;
  z-index: 1000;
  right: 40px;
  margin-top: 10px;
}

.import-module-label {	
  height: 40px;	
  color: #686768;	
  font-family: Avenir;
  font-weight: 400;
  font-size: 16px;	
  padding: 20px;
  position: relative;
  padding-bottom: 10px;
}

.import-module-button {
  float: right;
  right: 40px;
  z-index: 1000;
  position: fixed;
  margin-top: 0px;
}

.import-module-buttons {
  float: right;
  margin-top: 55px;
  justify-content: flex-end;
  padding: 20px;
}
.module-library .p {  /* Description text */
    height: 14px;
    font-size: 13px;
    line-height: 13px;
    padding: 7px;
}
