/* File is getting large; time to divide into modules? */

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;  
  font-family: Avenir;
  background-color: #f6f6f6;    
}

/* height 100% needed on all parents so that output pane flexbox can fill available vertical screen space  */
#root {
  height: 100%;
}

/* ---- Text Type styles: cross-module ----- */
/* To Refactor: DRY out */

.setting-gray {
	color: #686768;
	font-family: Avenir;
	font-size: 13px;
	line-height: 13px;
}

.data-light-gray {	
  color: #A2A2A2;	
  font-family: Avenir;	
  font-size: 14px;	
  font-weight: 500;	
  line-height: 14px;
}

.data-gray {
	color: #686768;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
}

.data-paragraph-g {
	color: #686768;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

.data-pragraph-li {
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

.info-small-blue {
	color: #48C8D7;
	font-family: Avenir;
	font-size: 10px;
	font-weight: 900;
	line-height: 10px;
	text-align: right;
}

.info-small-blue:hover {
  color: #0B8897;
}

.info-small-orange {
	color: #FBAA6D;
	font-family: Avenir;
	font-size: 10px;
	font-weight: 900;
	line-height: 10px;
	text-align: right;
}

.field-search-lig {
	opacity: 0.6;
	color: #A2A2A2;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 900;
	line-height: 14px;
}

.field-search-whi {
	color: #FFFFFF;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 900;
	line-height: 14px;
}

/* ---- Element styles: cross-module ----- */

.button-blue {
	height: 40px;
	width: 89px;
	border: 1px solid #48C8D7;
	border-radius: 25px;
  color: #48C8D7;
}

.button-blue:hover {
  opacity: 0.5;
}

.button-gray {
	height: 40px;
	width: 89px;
	border: 1px solid #EDECEC;
	border-radius: 25px;
  color: #EDECEC;
}

.button-blue:hover {
  opacity: 0.5;
}



/* ---- Navbar ----- */

.navbar {
  height: 3.5rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #48C8D7;
  color: #FFFFFF;
  border-bottom: 1px solid;
}


/* ---- Login ---- */
.login-fullscreen-container {
  height: 80vh;
  display: flex;
  align-items: center;
}

.login-card input {
  width: 100%
}

.login-card ::-webkit-input-placeholder {
  color: #ccc
}

/* ---- Workflow list ---- */

.workflows-container {
  margin-top: 5rem;
}

.new-workflow-button {
  border: 1px solid #48C8D7;
  color: #48C8D7;
}

.workflows-list {
  border: 0;     
  background-color: #f6f6f6;      
}

.workflow-in-list {
  background-color: #ffffff;
  margin-bottom: 1px;
  color: #686768;
  font-weight: 500;
  color: #686768;
  border: 0;
}

.workflow-in-list:hover {
  background-color: #f8f8f8;
}

/* These context menu styles also apply to those on the Workflow page */
.context-menu-icon {
  /*height: 27px;	*/
  /*width: 27px;	*/
  /*border-radius: 3px;	*/
  background-color: #FFFFFF;
  border: 0;
}

.context-menu-icon:hover {
  background-color: #F9F9F9;
  border: 1px solid #CECECE;
}

.context-menu-icon:active {
  border: 1px solid #CECECE;  
  background-color: #EDECEC;
}

/* ---- Workflow page ---- */

/* Contains navbar + workflow. */
.workflow-root {
  height: 100%;
}

/* Contains modulestack + output pane. Position below nav */
.workflow-container {
  display: flex;
  flex-flow: row;
  height: calc(100% - 3.5rem);
  margin-top: 3.5rem;
}

.modulestack-left {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  background-color: #F6F6F6;
}

.modulestack-header {
  color: #686768;
  padding: 10px;
}

.modulestack-list {
  background-color: #F2F2F2; 
  padding: 10px;
  border: 1px solid #EDECEC;
}

.outputpane-right {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  position: relative;
}

.outputpane-box {
  height: calc(100% - 3.5rem);
  width: 50%;
  border: 2px solid #48C8D7;
  background-color: #F2F2F2;
  padding: 15px;
  position: fixed;
}

.outputpane-header {
  height: 3rem;
  border: 1px solid #EDECEC;
  background-color: #FFFFFF;
  color: #A2A2A2;
}

.outputpane-data {
  height: calc(100% - 3rem);
  border: 1px solid #EDECEC;
  overflow: hidden; /* important as it prevents grid contents from interfering with window resizing */
}


/* ---- WfModule ---- */

/* Contains the info and status bar for each workflow module */
.module-card-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.module-card-info {
  width: calc(100% - 1rem);
}

.border-selected-module {
  border: 2px solid #48C8D7;
}

.wfModuleErrorMsg {
  border: 1px solid black;
  margin: 3px;
  border-radius: 3px;
  background-color: #ddd;
  text-align: center;
}

.wfmoduleStringInput{
  width: 100%;
  resize: none;
}

.wfmoduleNumberInput{
  width: 100%;
  resize: none;
}

.wfmoduleTextInput{
  width: 100%;
  resize: vertical;
}

.wfmoduleButton{
  width: 20%;
}


/* ---- Status bars ---- */

.module-status-bar {
  width: 1rem;
}

.ready-bar {
  width: 100%;
  height: 100%;
  background-color: #48C8D7;
}

.busy-bar {
  width: 100%;
  height: 100%;
  background-color: #FBAA6D;
}

.error-bar {
  width: 100%;
  height: 100%;
  background-color: #E24F4A;
}

/* ---- WfModuleContextMenu ---- */
/* These may be replaced by the element-type classes */

.modal-content {
  border: 1px solid #EDECEC;
  box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.2);
}

.modal-header {
  background-color: #FFFFFF;
}

.modal-body {
  background-color: #FAFAFA;
  border-bottom: 0;
}

.modal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*margin: 1rem;*/
}

.modal-footer {
  background-color: #FAFAFA;  
  border-top: 0;
}

/*. rectangle-12 in InVision mockup */
.download-icon-box {  
	height: 40px;
	width: 58px;
	border: 1px solid #EDECEC;
	background-color: #FFFFFF;
}

/*. rectangle-1355 in InVision mockup */
.url-field {
	height: 40px;
	width: 440px;
	border: 1px solid #EDECEC;
	background-color: #FFFFFF !important;
}

/*----- Icon Fonts ----*/
@font-face {
  font-family: 'Workbench-icon-font-v1';
  src: url('../fonts/Workbench-icon-font-v1.woff?7mkhko') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Workbench-icon-font-v1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-blue:before {
  content: "\e917";
  color: #48c8d7;
}
.icon-notification-filled:before {
  content: "\e90d";
  color: #fff;
}
.icon-notification:before {
  content: "\e916";
  color: #fff;
}
.icon-Checkbox-fill:before {
  content: "\e915";
  color: #48c8d7;
}
.icon-Chart:before {
  content: "\e909";
  color: #686768;
}
.icon-Settings:before {
  content: "\e900";
  color: #686768;
}
.icon-Close:before {
  content: "\e905";
  color: #686768;
}
.icon-Edit:before {
  content: "\e906";
  color: #686768;
}
.icon-Info:before {
  content: "\e907";
  color: #686768;
}
.icon-Join:before {
  content: "\e908";
  color: #686768;
}
.icon-checkbox-unchecked:before {
  content: "\e90b";
  color: #686768;
}
.icon-Sigma:before {
  content: "\e90e";
  color: #686768;
}
.icon-sort-right:before {
  content: "\e910";
  color: #686768;
}
.icon-sort-down:before {
  content: "\e913";
  color: #686768;
}
.icon-sort-up:before {
  content: "\e914";
  color: #686768;
}
.icon-checkbox-checked .path1:before {
  content: "\e901";
  color: rgb(72, 200, 215);
}
.icon-checkbox-checked .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-download:before {
  content: "\e903";
  color: #686768;
}
.icon-upload:before {
  content: "\e904";
  color: #686768;
}
.icon-doc:before {
  content: "\e90a";
  color: #686768;
}
.icon-duplicate:before {
  content: "\e90c";
  color: #686768;
}
.icon-filter:before {
  content: "\e90f";
  color: #686768;
}
.icon-full-screen:before {
  content: "\e911";
  color: #686768;
}
.icon-URL:before {
  content: "\e912";
  color: #686768;
}
.icon-more:before {
  content: "\e918";
  color: #686768;
}
.icon-note:before {
  content: "\e919";
  color: #686768;
}
.icon-process:before {
  content: "\e91a";
  color: #686768;
}
.icon-search:before {
  content: "\e91b";
  color: #686768;
}
.icon-table:before {
  content: "\e91f";
  color: #686768;
}
.icon-bin:before {
  content: "\e920";
  color: #686768;
}
.icon-twitter:before {
  content: "\e921";
  color: #686768;
}
.icon-checkbox-gray .path1:before {
  content: "\e922";
  color: rgb(104, 103, 104);
}
.icon-checkbox-gray .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-alert:before {
  content: "\e926";
  color: #686768;
}
.icon-API:before {
  content: "\e927";
  color: #686768;
}
.icon-Calendar:before {
  content: "\e928";
  color: #686768;
}
.icon-check:before {
  content: "\e92a";
  color: #686768;
}


/* Scrolling List Div */
.scolling-list {
  width: 100%;
  height: 200px;
  overflow: scroll;
}

/* Data versions modal */
/* Ugly colors for dev only */

.version-selected {
  background-color: blue;
  color: white;
}

.version-disabled {
  background-color: white;
  color: blue;
}