@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito+Sans');
@import './components/Fonts.scss';
@import './components/Icons.scss';
@import './components/Buttons.scss';
@import './components/Accounts.scss';
@import './components/Spinner.scss';
@import './components/Navbar.scss';
@import './components/WorkflowList.scss';
@import './components/WorkflowPage.scss';
@import './components/Metadata.scss';
@import './components/Modules.scss';
@import './components/ModaleWindows.scss';
@import './components/OutputPane.scss';
@import './components/TableView.scss';
@import './components/CellEditor.scss';
@import './components/GoogleConnect.scss';
@import './components/UploadFile.scss';
@import './components/ModuleLibrary.scss';
@import './components/SocialLogins.scss';
@import './components/Input_components.scss';
@import './components/Modales.scss';
@import './components/Code_editor.scss';
@import './components/Chartbuilder.scss';
@import './components/Alerts.scss';



html {
  height: 100vh;
  /* sets the basis for `rem` styling units */
  font-size: 10px;
}

body {
  margin: 0px;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  background-color:#f6f6f6;
  color: #686768;
}

/* height 100% needed on all parents so that output pane flexbox can fill available vertical screen space.
  Not sure why position absolute is needed, but it gets push down the screen (not flush with top) otherwise. */

#root {
  height: 100vh;
	width: 100%;
  background-color:#f6f6f6;
}

::-webkit-scrollbar-thumb{
  width:0.2rem;
  opacity: 0.2;
}
