@mixin icon-button(
  $color,
  $bg: transparent,
  $disabled-color: $color,
  $disabled-bg: $bg,
  $focus-color: $color,
  $focus-bg: $bg,
  $active-color: $focus-color,
  $active-bg: $focus-bg
) {
  padding: rem(.5);
  border: 0;
  border-radius: 50%;
  font-size: rem(1);
  line-height: 1;

  color: $color;
  background: $bg;
  opacity: .6;

  &:disabled {
    color: $disabled-color;
    background: $disabled-bg;
  }

  &:hover, &:focus, &:active {
    opacity: 1;
  }

  &:hover, &:focus {
    color: $focus-color;
    background: $focus-bg;
  }

  &:active {
    color: $active-color;
    background: $active-bg;
  }
}

button.icon-button {
  @include icon-button(
    $color: $brand-text--dark,
    $disabled-color: $light-gray,
    $focus-bg: $SuperLightGray,
    $active-color: $page-background,
    $active-bg: $brand-text--darker
  );
}
