/* ---- Login ---- */

.account-fullscreen-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(#31D9ED 25%, #068CB9); /*fallback*/
  background-size: 100% auto;

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/account-icons-bgd.png");
    background-size: 100% auto;
    opacity: .6;
  }

  .container {
    position: relative; // show up atop background

    .account-bigbrand {
      text-align: center;
      margin-bottom: 1rem;
      .logo-container {
        display: inline-block;
        .logo {
          max-width: 32rem;
        }
      }
    }

    .account-card {
      background: rgba(250,250,250,0.2);
      height: auto;
      max-width: 40rem;
      margin: 0 auto;
      padding: 3rem 5rem;
      border: none;
      border-radius: 5px;

      .social-account-action-link {
        text-align: center;
        color: $white !important;
        &:hover {
          text-decoration: underline;
        }
      }

      .remove-account {
        @include content-1;
        @include action-button;
        @include button-white;
        margin:auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }

      .content-2 {
        cursor: default;
      }

      /* Registration form */

      form.account_form {
        input[type="text"], input[type="password"], input[type="email"] {
          display: block;
          width: 100%;
          height: 4rem;
          padding-left: 1rem;
          margin-bottom: 1rem;
          font-size: 1.5rem;
          background-color: #fff;
          border: 0;
          border-radius: 3px;
        }

        label {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 0;
        }

        input:active {
          box-shadow: 0 0 0px 1px $brand-workspace;
        }

        .newsletter {
          align-self: flex-start;
          display: flex;
          align-items: center;
        }

        .consent {
          width: 100%;
          @include content-1;
          color: $brand-text--dark;
          margin-top: 1rem;
          margin-bottom: 2rem;
        }

        .action-button {
          margin-top: 3rem;
        }
      }
    }

    form.locale-switcher {
      margin: 1rem auto;
      text-align: center;
      font-size: 1.4rem;

      .dropdown {
        display: inline-block;
        text-align: left;
      }

      .dropdown-item {
        font-size: 1.4rem;
      }

      .dropdown-toggle {
        background: transparent;
        border-color: white;

        &:active {
          color: white;
          background: rgba(255, 255, 255, 0.2);
          border-color: white;
        }

        i.icon {
          vertical-align: -2px;
          margin-right: .75rem;
        }
      }

      &.show .dropdown-toggle {
        background: rgba(255, 255, 255, 0.2);
      }

      &:not(.show) .dropdown-toggle:focus {
        outline: 1px dotted white;
      }
    }

    .sign-in {
      @include title-1;
      text-align: center;
      color: $brand-text--dark
    }

    a {
      @include content-1;
      color: $white;
    }

    // Social logins //
    .socialLoginWrap{
      width:100%;
      display: flex;
      justify-content: center;

      a {
        color:$brand-text--dark;
        text-decoration:none;
      }

      .socialLoginButton {
        background-color: #fff;
        border:2px solid transparent;
        border-radius: 10rem;
        margin-bottom: 1rem;
        padding:0 1.5rem;
        height: 4rem;
        width:22rem;
        font-size: 1.4rem;
        &:hover {
          background-color:$SuperLightGray;
        }
      }
    }
  }

  //404 , 403
  .account-card {
    .error-number {
      z-index: 5;
      @include font-sans-bold;
      font-size: 14rem;
      line-height: 14rem;
      letter-spacing: -0.3px;
      margin-bottom: 0.1rem;
      text-align:center;
      margin-top: .5rem;
      margin-bottom: 1rem;
      color:$white;

      a {
        height: 4rem;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }


      form.locale-switcher { //FIXME the dropdown does not work on this page. Hidding it for now.
        display: none;
      }
    }

    .title-1 {
      color: White;
    }

    fieldset {
      display: flex;
      align-items: center;
    }

    .message-body {
      color: $brand-text--dark;
      @include content-1;
      text-align: center;
      margin-bottom: 3rem;
      width: 100%;
      display: inline-block;
    }

  }

  .account-card :-webkit-input-placeholder {
    color: #ccc
  }

  .account_form .title-1 {
    margin-bottom:0;
  }

  ul.messages {
    display:none;
    // margin: 2rem; // do we needs those??
    // padding: 0;
    // list-style: none;
    // text-align: center;
    // @include font-sans-regular;
    // font-size: 1.4rem;
    //
    // li {
    //   display: none;
    //   margin: 1rem;
    // }
  }
}
