


//getting rid of Blue Focus
button:focus { outline:0 !important; }

/*overriding React styles for contextual button*/

.btn {
  animation: none;
}

.btn:focus {
  webkit-box-shadow:none;
  box-shadow: none;
}




//Context buttons ///////////

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle{

  background-color:$Vlight-gray;
  border: 0;
}



//Button when clicked only
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
  background-color:$Vlight-gray;
  color:$dark-gray;
  opacity: 1;
}

// BUTTON IN FOCUS, After click
.btn-secondary:focus {
  background-color:$Vlight-gray;
  color:$dark-gray;
  opacity: 1;
  border:0;
}

//Button in focus, onClick
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

//In WF list
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color:$dark-gray;
  border:0;
}

@mixin context-button {
  cursor: pointer;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:$dark-gray;
  border-radius: 5rem;
  opacity: 0.6;
  margin-right:0;
  font-size: 1.4rem;
  &:hover {
    border: none;
    color:$brand-text--dark;
    opacity: 1;
  }
}
.context-button {
  @include context-button;
}

.context-button.btn-secondary.active{
  background-color: #E7EAEB;
  border:0px;
  border-radius: 5rem;
  color:#686768;
  opacity:1;
}

.navbar {

  .context-button {
    width: 3rem;
    height: 3rem;
    color:$brand-text--dark;
    opacity:.8;
    &:hover {
      background-color: $dark-accent--soft;
      opacity: 1;
      color:$brand-text--darker;
    }
  }


  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    box-shadow: none;
    background: $light-accent--strong;
    opacity: 1;
    color:$white;
  }

  .btn-secondary:focus{
    background-color: $light-accent--strong;
  }
}

.wf-card {
  .context-button:hover{
    background-color: $dark-accent--soft;
  }
}


//* - Action button - */

@mixin action-button {
  font-weight: bold!important;
  cursor: pointer;
  border: 1px solid $brand-workspace;
  min-width: 7rem;
	height: 3.5rem;
  border-radius: 2.5rem;
	@include content-1;
  padding: 0 1.6rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    color: $light-gray;
    border-color: $light-gray;
    &:hover{
      background-color: transparent;
      cursor: default;
    }
  }
}
%action-button {
  @include action-button;
}
.action-button {
  @include action-button;
}

// In lesson left pannel:
.lesson {
  .action-button:disabled {
    color: $light-accent--Vstrong;
    border-color: $light-accent--Vstrong;
    &:hover{
      background-color: transparent;
      cursor: default;
    }
  }
}

.action-button .busy {
  color:red;
}

.action-button .spinner {
  $background-color: white; // default -- we'll override it
  $spinner-color: $brand-orange;
  position: absolute!important;

  // overlap into the border's margin. There's tons of room because we use
  // rounded buttons and the spinner is also round
  // https://projects.lukehaas.me/css-loaders/
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, $spinner-color 10%, rgba($spinner-color, 0) 42%);
  background: -webkit-linear-gradient(left, $spinner-color 10%, rgba($spinner-color, 0) 42%);
  background: -o-linear-gradient(left, $spinner-color 10%, rgba($spinner-color, 0) 42%);
  background: linear-gradient(to right, $spinner-color 10%, rgba($spinner-color, 0) 42%);
  position: relative;
  -webkit-animation: spinner-in-button 1.4s infinite linear;
  animation: spinner-in-button 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &::before {
    width: 50%;
    height: 50%;
    background: $spinner-color;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &::after {
    background: $brand-orange--light;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@mixin _texty-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  background: transparent;
  cursor: pointer;

  @include content-1;
  color: $workspace-action;
  font-weight: bold;

  &:hover {
    color: $brand-workspace;
  }

  &[disabled] {
    color: $text-muted;
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}

@-webkit-keyframes spinner-in-button {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-in-button {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button-white {
  color: white;
  border-color: $white;
  background-color: transparent;
  &:hover, &:hover .spinner::after {
    background-color: $light-accent--strong;
  }
  &:active, &:active .spinner::after {
    background-color: $light-accent--Vstrong;
  }
}

.button-white--fill {
  color: $brand-workspace;
  border-color: $white;
  &, .spinner::after {
    background-color: white;
  }
  &:hover, &:hover .spinner::after {
    background-color:$light-accent--strong;
    color: white;
  }
  &:active, &:active .spinner::after {
    background-color: $light-accent--Vstrong;
    border: 1px solid white;
  }
}

@mixin button-gray {
  color: $medium-gray;
  border-color: $medium-gray;
  background-color: transparent;
  &:hover {
    background-color: $dark-accent--soft;
  }
  &:active {
    background-color: $dark-accent--soft-M;
  }
}
.button-gray {
  @include button-gray;
}


@mixin button-blue {
  color: $workspace-action;
  border-color: $workspace-action;
  background-color: transparent;
  &:hover, &:hover .spinner::after {
    background-color: $brand-workspace--Vlight;
    color: $brand-workspace;
  }
  &:active, &:active .spinner::after {
    background-color: $workspace-action;
    color: white;
  }
}
.button-blue {
  @include button-blue;
}

@mixin button-blue--fill {
  background-color: $workspace-action;
  color: white;
  border-color:transparent;
  &:hover {
    background-color: $brand-workspace--Vlight;
    border-color: $workspace-action;
    color:$brand-workspace;
  }
  &:active {
    background-color: $brand-workspace;
    color: white;
  }
}

.button-blue--fill {
  @include button-blue--fill;
}

%button-red {
  color: $brand-red;
  border-color: $brand-red ;
  background-color: transparent;
  &:hover, &:hover .spinner::after {
    background-color: $error-prompt--light;
  }
  &:active, &:active .spinner::after {
    background-color: $error-prompt;
    color: white;
  }
}

.button-red {
  @extend %button-red;
}

@mixin button-pink-fill {
  color: white;
  background-color: $brand-learn;
  display: inline-flex;
  border:1px solid $brand-learn;
  &:hover {
    background-color: $brand-learn--light;
    border: 1px solid $brand-learn;
    color: $brand-learn;
  }
  &:active {
    background-color: $brand-learn;
  }
}

.button-pink-fill {
  @include button-pink-fill;
}



@mixin button-orange {
  color: $brand-orange;
  border-color: $brand-orange ;
  background-color: transparent;
  &:hover {
    background-color: $brand-orange--light;
  }
  &:active {
    background: $brand-orange;
    color: $white;
  }
}
.button-orange {
  @include button-orange;
}

@mixin button-orange--fill {
  color: white;
  border-color: $brand-orange;
  &:hover {
    color: $brand-orange;
    background-color: white;
  }
  &, .spinner::after {
    background-color: $brand-orange;
  }
  &:hover .spinner::after {
    background-color:$light-accent--strong;
    color: white;
  }
  &:active, &:active .spinner::after {
    background-color: $light-accent--Vstrong;
    border: 1px solid $brand-orange;
  }
}
.button-orange--fill {
  @include button-orange--fill;
}

.button-dark-blue {
  color: $document-blue;
  border-color: $document-blue ;
  background-color: transparent;
  &:hover {
    background-color: $document-blue--light;
    color: darken($document-blue,10%);
  }
  &:active {
    background: $document-blue;
    color: $white;
  }
}

// Style for button with Icon within
.button-icon {
  cursor: pointer;
  height: 3.5rem;
  width: 6rem;
  border: 2px solid $Vlight-gray;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  color:$medium-gray;
  border-radius: 0 3px 3px 0;
  font-size: 1.5rem;
  text-decoration: none;
  &:hover {
    background-color: $SuperLightGray;
    text-decoration:none;
    color: $brand-text--dark;
  }
}

// Application links

%action-link {
  cursor: pointer;
  color: $brand-workspace!important;
	&:hover {
		color: #2D9DAA!important;
		text-decoration: none;
	}
}
.action-link {
	@extend %action-link;
}
