////  * ---- Buttons ---- *

// Transition

.btn{
  -webkit-transition:all 0.2s;
}

// Context buttons - three dots buttons with menu

.context-button {
  cursor: pointer;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:#8b8b8b;
  border-radius: 5rem;
  opacity: 0.5;
  margin-right:0;
}

.context-button:hover {
  border: none;
  background-color: transparent;
  color:#8b8b8b;
  opacity: 1;
}

.context-button.btn-secondary.active{
  background-color: #E7EAEB;
  border:0px;
  border-radius: 5rem;
  color:#686768;
  opacity:1;
}

.context-button--icon {
  width: 1.4rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

//* - Action button - */

.action-button {
  cursor: pointer;
  text-align: center;
  min-width: 7rem;
	height: 4rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
	font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0 1.8rem 0 1.8rem;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.action-button:hover {
	opacity: 0.5;
}

.button-white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.button-white--fill {
  background-color: #FFF;
  color: #48C8D7;
  border:none;
}

.button-gray {
  color: #A2a2a2;
  border: 1px solid #a2a2a2;
  background-color: none;
}
.button-gray:active {
  background-color: #a2a2a2;
  color: #FFFFFF;
}

.button-blue {
  color: #48C8D7;
  border: 1px solid #48C8D7 ;
  background-color: transparent;
}


.button-blue--fill {
  background-color: #48C8D7;
  color: #FFFFFF;
  border:none;
}

.button-blue:active {
  background-color: #48C8D7 !important;
  color: #FFFFFF !important;
}

.button-orange {
  color: #FBAA6D;
  border: 1px solid #FBAA6D ;
  background-color: transparent;
}

.button-orange--fill {
  background-color:#FBAA6D;
  color: #FFFFFF;
  border:1px solid #FBAA6D;
}


/* help button */

.help-container{
  z-index: 2000;
  position: fixed;
  bottom: 9rem;
  left: 4.5rem;
}

.workflows-page .help-container{
  z-index: 2000;
  position: fixed;
  bottom: 9rem;
  left: 3.5rem;
}

.help-shortcut{
  margin: auto;
  background-color: #769BB0;
  height: 3rem;
  width:3rem;
  z-index: 1000;
  border-radius: 50px;
  //border:2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.10);
  cursor:pointer;
  -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
  box-shadow: 0.3rem 0.3rem 2.5rem 0 rgba(0,0,0,0.20);
}

.help-container a:hover{
  text-decoration: none;
}

/*overriding React styles for contextual button*/

.btn:focus, .btn.focus {
  webkit-box-shadow:none;
  box-shadow: none;
}

a:focus, a:hover{
  color:#8b8b8b;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 transparent;
}

.btn-secondary.active{
  background-color: rgba(255,255,255,0.4);
  color:transparent;
}

.show > .btn-secondary.dropdown-toggle {
  color:#fff;
  background-color: rgba(255,255,255,0.2);
  border-color: transparent;
}

/*checkbox-list*/

// All - none selectors

.mc-select-all{
  border: 0px;
  border-right:1px solid #b4b4b4;
  padding: 0 1rem 0 0;
  cursor: pointer;
}

.mc-select-none {
  border: 0px;
  padding: 0 0 0 1rem;
  cursor: pointer;
}

.mc-select-all:hover,
.mc-select-none:hover{
  color:#FBAA6D;
}

//Checkboxes

.checkbox-container {
  background-color: #FFFFFF;
  height: 3.5rem;
  width: 100%;
  margin-bottom: 1px;
  padding: 0 1rem;
  display:flex;
  align-items: center;
}

.list-wrapper{
  background-color: #ededed;
  resize: vertical;
  height: 12rem;
  border-radius: 3px;
  min-height: 6rem;
  overflow: auto;
  border: 1px solid #e9e9e9;
}

.list-scroll{
  overflow-y:hidden;
}

/*Solo-checkboxes*/
.checkbox-content{
  overflow:hidden;
}
.checkbox-wrapper{
  margin-top: 0.3rem;
  margin-right: 2rem;
  display:inline-block;
}

/*Bigger size checkbox for non webkit browsers*/

input[type=checkbox]
{
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -o-transform: scale(1.3); /* Opera */
}

/*Check box hack for Webkit supported browser: Chrome and Safari*/
input[type=checkbox]
{
  -webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	padding: 0.7rem;
	border-radius: 3px;
	display: inline-block;
	position: relative;
  margin-right: 0.5rem;
}

input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: inset 0px 1px 0px #FBAA6D;
}

input[type=checkbox]:checked {
	background-color: #FBAA6D;
	border: 1px solid #FBAA6D;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

input[type=checkbox]:checked:after {
  font-family:'Workbench';
	content: '\e904';
	font-size: 0.8rem;
	position: absolute;
	top: 1.5px;
	left: 2.5px;
	color: #fff;
}
