
.cell-edits-column{
	font-size: 1.3rem;
	line-height: 1.3rem;
	font-weight: 500;
	margin: 1rem;
}

.cell-edits-rows {
	margin: 1rem;
}

.cell-edits-row {
}

.cell-edits-row-number {
	display: inline-block;
	margin: 1rem;
}

.cell-edits-new-value{
	display: inline-block;
	margin: 1rem;
}
