
.cell-edits--column {
	margin-bottom: 1rem;
}

.cell-edits--row {
	background-color: #fff;
	width:none;
	display: flex;
}

.cell-edits--row .text-field {
	white-space: normal;
	padding:0;
	line-height:2rem;
	width:17rem;
	padding: 0.7rem;

}

.cell-edits--row .number-field{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding:0.7rem;
	line-height:2rem;
	width: 5rem;
	color:#b4b4b4;
}
