
/* Ace editor */

.ace-tomorrow .ace_gutter {
  background: $heading-bg !important;
  color:#fff!important;
}

.ace-tomorrow .ace_gutter-active-line {
  background-color: #fff!important;
  opacity: 0.2!important;
}
