.input-group-lg {
  .input-group-prepend button.color-picker {
    height: auto; // because we override font-size on body.
  }

  &>.react-select {
    padding: 0;
  }
}

.wf-parameter {

  .react-select {

    .react-select__control {
      @extend .module-parameter;
      min-height: 3.5rem;
      height: auto;
      cursor: text;
      max-height: 25rem;
      overflow-y: scroll;

    }

    // separator with carret
    .react-select__indicator-separator {
      margin: 1rem 0;
      display: none;
    }

    .react-select__indicator.react-select__dropdown-indicator,
    .react-select__indicator.react-select__dropdown-indicator {
      padding: 0 .5rem;
      cursor: pointer;
    }

    //carret container
    .react-select__value-container {
      padding: 0 .8rem;

      // Carret to open menu
      .react-select__indicator,
      .react-select__indicator {
        cursor: pointer;
        opacity: .6;
        padding: 0 .8rem;

        svg {
          color: $brand-text--dark;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    //value selected
    .react-select__single-value {
      color: $brand-text--darker;
    }

    .react-select__control--is-focused {
      box-shadow: none;
      border: $data-action--border!important;
      background-color: $Vlight-gray;
      @extend .content-1;
    }

    // placeholder when empty
    .react-select__placeholder {
      color: $placeholder;
      white-space: nowrap;

      & + div {
        margin: 0;
      }
    }
  }

  .multi-select-input-group {
    position: relative; // so we can position button absolute
    height: auto;

    // Style for selected values within multi select
    .react-select__multi-value {
      border-radius: 3px;
      border: 1px solid $brand-orange;
      background-color: $brand-orange--light;
      margin-left: 0;
      margin-right: .4rem;
      height: 2.7rem;

      .react-select__multi-value__label {
        @extend .content-1;
        color:$brand-orange;
      }
    }

    .react-select__multi-value__remove {
      cursor: pointer;
      border-radius: 0 3px 3px 0;
      color:$brand-orange;
      padding: 0;
      width: 2rem;
      justify-content: center;

      &:hover {
        color: $white;
        background-color: $brand-orange--medium-dark;
      }
    }

    button {
      cursor: pointer;
      position: absolute;
      right: 2.5rem;
      bottom: .2rem;
      font-size: 1.5rem;
      text-align: center;
      border: 0;
      background: transparent;
      color: lighten($brand-orange, 6%);
      &:hover {
        color: $brand-orange
      }
    }

    .react-select__value-container.react-select__value-container--is-multi.react-select__value-container--has-value {
      padding: 0 .2rem
    }
  }
}


// Menu when open
div>.react-select__menu {
  z-index: 2;
  border-radius: 0 0 5px 5px;
  margin-top: -.3rem;
  background-color: $white;
  border: $data-action--border;
  border-top-width: 1px;
  box-shadow: $menu-shadow;
  outline: none;

  .react-select__option {
    height: 3.5rem;
    background-color: $white;
    color: $brand-text--dark;
    @extend .content-1;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .react-select__option--is-focused {
    background-color: $dark-accent--soft;
    color:$brand-text--darker;
  }
  // notice when no selection found
  .react-select__menu-notice {
    @extend .info-1;
    color: $brand-text--dark;
  }
}


// Hide the reset (which did not work?)
.react-select__indicator.react-select__clear-indicator,
.react-select__indicator.react-select__clear-indicator {
  display: none;
}

// Add-delete additional column

.chart-series-multi-select {
  .buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: .5rem;
    cursor: default;

    button {
      background-color: transparent;
      color: $brand-text--dark;
      border: none;
      font-size: 1.6rem;
      padding-right: 0;
      opacity: .7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

}
