//dropdown select with aut-complete
.react-select__control {
  @extend .module-parameter;
  height: auto;

  .css-1rtrksz.react-select__value-container {
    cursor: text;
    padding: .2rem;
  }

  .react-select__placeholder {
    color:$brand-text--dark;
  }

  .css-d8oujb.react-select__indicator-separator {
    opacity: .5;
  }

  &.react-select__control--is-focused {
    box-shadow: none;
    border: $data-action--border!important;
  }

  // button to open dropdown
  .react-select__indicator {
    cursor: pointer;
    opacity: .6;

    svg {
      color:$brand-text--dark;
    }

    &:hover{opacity: 1;}
  }

  .react-select__multi-value {
    border-radius: 3px;
    border: 1px solid $brand-orange;
    background-color: $brand-orange--light;

    .react-select__multi-value__label {
      @extend .content-3;
      color:$brand-orange;
    }
  }
  .react-select__multi-value__remove {
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color:$brand-orange;

    &:hover {
    color: $white;
    background-color: $brand-orange;
    }
  }
}

.react-select__menu {
  z-index: 2;
  border-radius: 0 0 5px 5px!important;
  margin-top: -.3rem!important;
  background-color: $white;
  border: $data-action--border!important;
  border-top-width: 1px!important;
  box-shadow: $menu-shadow!important;
  outline: none;

  .react-select__option {
    height: 3.5rem;
    background-color: $white;
    color: $brand-text--dark;
    @extend .content-3;

  }
  .react-select__option--is-focused {
    background-color: $dark-accent--soft;
    color:$brand-text--darker;
  }
}
