/* ---- Data Module: data versions box */


.version-item {
  display: flex;
  align-items: center;
  width:14.5rem;
}

.frequency-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.modal-body.update-frequency-form {
  .big-radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    label {@extend %info-1;}

    .form-check-label {
      @extend %info-1;
      display: flex;
      align-items: center;
      .form-check-input {
        margin-bottom: .4rem;
      }
    }

    p {
      font-size: 1.3rem; // because body font-size is 10px
    }

    &>label {
      width: 7rem;
      margin-right: 1rem;
      flex: 0 0 auto;
      cursor: pointer;

      input { display: none; }
      color: $brand-workspace;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
      text-align: center;

      span {
        width: 100%;
        border: 1px solid $brand-workspace;
        padding: .75rem;
      }
    }
  }

  .big-radio-checked>label span {
    @extend %action-button;
    @extend %button-blue--fill;
  }
  .big-radio-unchecked>label span {
    @extend %action-button;
    @extend %button-blue;
  }

  .big-radio-unchecked {
    opacity: .5;
  }

  .big-radio-checked {
    opacity: 1;
  }

  .big-radio-auto-update-false {
    margin-top: 2rem;
  }

  .big-radio-auto-update-false .big-radio-details {
    // Line up with label, which is ~2 lines high
    padding-top: .75rem; // label padding
  }

  /* --- UpdateFrequencySelect --- */
  .update-freq-settings {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  input[name="timeNumber"] {
    display: inline;
    width: 5rem;
    @extend .parameter-base;
  }

  input[name="timeUnit"] {
    display: inline-block;
    width:10rem;
    @extend .parameter-base;
  }

  select {
    border-radius: 0px;
    @extend .parameter-base;
    height: 3.5rem!important;
    border-radius: 3px!important;
  }
}
