/* ---- Data Module: data versions box */
.update-frequency-modal {
  .big-radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .form-check-label {
      @include content-1;
      display: flex;
      align-items: center;
      line-height: 1rem!important;
      .form-check-input {
        margin-bottom: .4rem;
      }
    }

    p {
      @include content-1; // because body font-size is 10px
    }

    &>label {
      width: 8rem;
      margin-right: 1rem;
      flex: 0 0 auto;

      input { display: none; }
      color: $brand-workspace;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1;
      text-align: center;
    }

    .big-radio-details {
      margin-left: 1rem;
      cursor: default;
      label {
        @include content-1;
        color: $brand-text--dark;
      }
    }
  }

  .big-radio-checked>label .radio {
    cursor: default;
    @extend .action-button;
    @extend .button-blue--fill;
    &:hover {
      background-color: $brand-workspace;
      color: $white;
    }
  }
  .big-radio-unchecked>label .radio {
    cursor: pointer;
    @extend .action-button;
    @extend .button-gray;
  }

  .big-radio-unchecked {
    opacity: .6;
  }

  .big-radio-checked {
    opacity: 1;
  }

  .big-radio-auto-update-false {
    margin-top: 2rem;
  }


  .big-radio-auto-update-false .big-radio-details {
    // Line up with label, which is ~2 lines high
    padding-top: .75rem; // label padding
  }

  /* --- UpdateFrequencySelect --- */
  .update-freq-settings {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  input[name="timeNumber"] {
    display: inline;
    width: 5rem;
    @extend %module-parameter;
    text-align: right;
  }

  input[name="timeUnit"] {
    display: inline-block;
    width:10rem;
    @extend %module-parameter;
  }

  select {
    border-radius: 0px;
    @extend %module-parameter;
    height: 3.5rem!important;
    border-radius: 3px!important;
  }
}

.data-versions-modal {
  font-size: 1.4rem;

  .modal-content .modal-body {
    overflow: visible; // why do we have an "overflow: scroll" somewhere in our CSS?
    padding-bottom: 0;
  }

  ol {
    margin: -2rem -2rem 0 -2rem;
    padding: 0;
    list-style: none;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: $brand-text--dark;
    background: white;

    li {
      display: block;
    }

    label {
      display: flex;
      padding: 1rem 2rem;
      margin: 0;

      &:not(.selected) {
        cursor: pointer;
        &:hover {
          background: $hover-background;
        }
      }

      &.selected {
        color: white;
        background: $brand-workspace--medium;
      }

      &.unseen {
        &::after {
          @extend .icon;
          content: "\e917"; // .icon-notification
          position: relative;
          top: .3rem;
        }
      }

      input {
        display: none;
      }

      time {
        flex: 1 1 auto;
      }
    }
  }

  .modal-footer {
    display: flex;

    form.notifications {
      display: flex;
      margin: 0;
      margin-right: 2rem;
      padding-right: 2rem;
      border-right: 1px solid $Vlight-gray;

      .text {
        flex: 1 1 auto;

        p:last-child {
          margin-bottom: 0;
        }
        .status {
          font-size: 1.6rem;
          display: flex;
          align-items: center;

          .on {color:$brand-workspace;}

          i {
            margin-top: 0rem;
            margin-right:.5rem;
          }

          .icon-notification {color:$brand-workspace;}
          .icon-no-notification {color:$brand-red;}
          strong {
            text-transform: uppercase;
            margin-left: .5rem;
          }
        }
      }

      .options {
        flex: 0 0 auto;
        align-self: center;
        margin-left: 2rem;

        label {
          @extend .action-button;
          @extend .button-gray;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 8.5rem;

          input[type="checkbox"] { display: none; }
        }
      }
    }

    .actions {
      flex: 0 0 auto;

      button {
        @extend .action-button;
        @extend .button-blue;
      }
    }
  }
}
