// Dropdown menus -- Used in module context menus and WF context menus
.dropdown-menu {
  position: absolute;
  min-width: 12rem;
  margin-top: 0.5rem;
  border:2px solid $brand-workspace--medium;
  border-radius: 5px;
  box-shadow: $overlay-shadow;
  padding:0.5rem 0 0.5rem 0;
  background: white;
  color: $brand-text--dark;

  .dropdown-item {
    @extend .content-1;
    height: 3.5rem;
    border-radius: 0;
    border: 0;
    &:not(.active) { // [adamhooper, 2018-10-04] Bootstrap did something right, and the enclosing .dropdown-item rule breaks it
      background-color: white;

      &:hover {
        background-color: $dark-accent--soft;

      //i, span {color: $brand-text--darker;}
      }
      &:active {
        background-color: $dark-accent--medium;
      }
    }
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    cursor:pointer;

    i, span {color: $brand-text--dark;}
  }

  .dropdown-divider{
    opacity: 0.5;
  }

  i {
    margin-right: .75rem;
    width: 1.25rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
  }
}
