.embed_container, .embed_container body {
  height: 100%;
}

.embed_container body {
  position: relative;
}

.embed_container iframe {
  height: calc(100% - 5.5rem);
  width: 100%;
  position: absolute;
}

.embed_container .embed-footer {
  height: 6rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

// Footer

.embed-footer {
  display: flex;
  align-items: center;
  background-color: $white;
  border-top: 1px solid $dark-accent--medium;

  .metadata-stack {
    display: flex;
    margin-left: 1rem;
    .embed-footer-meta {
      height: 3rem;
      margin-left: 2rem;
      & a {
        text-decoration: none;
        color:#686768;
        &:hover {
          text-decoration: none;
          color:$brand-workspace;
        }
      }
      .title {
        @extend .title-4;
        font-weight: 400;
        color: $brand-text--dark;
      }
      .WF-meta {
        color:$medium-gray;
        font-weight: 100;
        display: flex;
        align-items: center;
        margin-top: .3rem;
        padding:0;

        .separator {
          margin:0 .5rem;
        }
      }
    }

    .embed-footer-logo{
      align-items: center;
      margin-left: 1rem;
    }

  }


  .embed-footer-button {
    margin-right: 1rem;
  }

  .embed-footer-button .icon{
    font-size: 2rem;
    cursor: pointer;
  }

  .embed-footer-button .icon :hover{
    font-size: 2rem;
    color:$brand-workspace;
  }

}


.embed--share-code{
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.embed-overlay {
  justify-content: center;
  align-items: center;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.8);
  display: none;
  &.open {
    display:flex;
  }
}
.embed-share-links {
  color: white;
  text-align: center;
  .embed-share-links--list {
    padding:0;
    margin:0;
    li {
      display: inline-block;
    }
  }
}
