.embed_container, .embed_container body {
  height: 100%;
}

.embed_container body {
  position: relative;
}

.embed_container iframe {
  height: calc(100% - 5.5rem);
  width: 100%;
  position: absolute;
}

.embed_container .embed-info {
  height: 5.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.embed-info-meta {
  height: 3rem;
  margin-left: 1rem;
}

.embed-info-meta a{
  text-decoration: none;
  color:#686768;
}

.embed-info-meta a:hover{
  text-decoration: none;
  color:$brand-workspace;
}

.embed-info-logo{
  align-items: center;
  margin-left: 1rem;
}

.embed-info-button {
  margin-right: 1rem;
}

.embed-info-button .icon{
  font-size: 2rem;
  cursor: pointer;
}

.embed-info-button .icon :hover{
  font-size: 2rem;
  color:$brand-workspace;
}

.embed--share-code{
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.embed-overlay {
  justify-content: center;
  align-items: center;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.8);
  display: none;
  &.open {
    display:flex;
  }
}
.embed-share-links {
  color: white;
  text-align: center;
  .embed-share-links--list {
    padding:0;
    margin:0;
    li {
      display: inline-block;
    }
  }
}
