.facet-checkbox-container{
  justify-content: space-between;

  .label {
    @extend .content-3;
    font-size: 1.2rem;
  }
  .facet-value {
    border: none;
    background-color: transparent;
    color:$brand-text--dark;
    width:15rem;
    &:hover{background-color: $SuperLightGray;}
  }
  .facet-value--edited{
    font-weight: bolder;
    color: $brand-text--darker;
  }
  .facet-count {
    border: none;
    text-align: right;
    overflow: hidden;
    margin:0 0.01rem;
  }

}
