

/* --- Text Sizing ---  */

.font404{
	font-size: 14rem;
	line-height: 14rem;
  @extend %font-lato-regular;
  letter-spacing: -0.3px;
	margin-bottom: 0.1rem;
}

.logo-1 {
	font-size: 2.4rem;
	line-height: 2.4rem;
	font-weight: 400;
  @extend %font-lato-regular;
  letter-spacing: -0.3px;
	margin-bottom: 0.1rem;
	cursor: default;
}

.logo-2 {
	font-size: 2rem;
	line-height: 2rem;
  @extend %font-lato-regular;
  letter-spacing: -0.3px;
	text-decoration: none;
	margin-bottom: 0.1rem;
	color:$white;
}

.title-1 {
	font-size: 2.5rem;
	font-weight: regular;
	line-height: 2.5rem;
	@extend %font-nunito-regular;
}

.title-2 {
	font-size: 2.2rem;
	line-height: 2.2rem;
  letter-spacing:0.8px;
  @extend %font-nunito-regular;

}

.title-3 {
	font-size: 1.8rem;
	line-height: 2.2rem;
  letter-spacing: 0.2px;
}

.title-4 {
	font-size: 1.3rem;
	font-weight: regular;
	line-height: 1.4rem;
}
.title-5 {
	font-size: 1.1rem;
	font-weight: regular;
	line-height: 2rem;
}

.content-1 {
	font-size: 1.4rem;
	font-weight: regular;
  line-height: 1.4rem;
  opacity: 0.6;
}
.content-2 {
	font-size: 1.4rem;
	font-weight: regular;
	line-height: 1.4rem;
}

.content-3 {
	font-size: 1.4rem;
	line-height: 2rem;
}

.table-content {
	font-size: 1.4rem;
	line-height: 2rem;
}

.content-4 {
	font-size: 1.1rem;
	font-weight: regular;
	line-height: 1.1rem;
}
.content-4 {
	@extend .content-4;
}
.content-5 {
	font-size: 1.2rem;
	line-height: 1.4rem;
  font-weight: regular;
}

%code-1 {
  font-family: "PT Mono";
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weigth: 400;
}
.code-1 {@extend %code-1;}


%info-1 {
	font-size: 1.2rem;
	line-height: 1.2rem;
  @extend %font-nunito-extra-light;
}
.info-1 {@extend %info-1;}


.info-2 {
	font-size: 1.4rem;
	line-height: 2rem;
  @extend %font-nunito-extra-light;
}

%info-3 {
  font-size: 1rem;
	line-height: 1rem;
  @extend %font-nunito-extra-light;
	cursor: pointer;
}
.info-3 {@extend %info-3;}

.table-1 {
	font-size: 1.3rem;
	font-weight: 200;
	line-height: 1.8rem;
}
.table-2 {
	font-size: 1rem;
	font-weight: regular;
	line-height: 1.1rem;
}
