.gdrive-connectAccount{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $Vlight-gray;
}

.gdrive-fileSelect{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $Vlight-gray;
}

.gdrive-connectAccount{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $Vlight-gray;
  display: flex;
  justify-content: center;
}

.gdrive-fileSelect{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $Vlight-gray;
}


.file-info p{
  margin:0;
}

.connected-account p{
  margin:0;
  margin-top: -1rem;
}
