.google-connect-parameter {
  padding-bottom: 1rem;
  border-bottom: 1px solid $Vlight-gray;
  text-align: center;

  button.connect {
    @extend .action-button;
    @extend .button-orange;
    display: inline-block;
  }

  button.disconnect {
    @extend .btn;
    @extend .btn-link;
  }
}

.google-file-select {
  padding-top: 1rem;
  display: flex;
  font-size: 1.4rem;
  overflow: hidden;
  align-items: center;

  .file-info {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    flex: 0 0 auto;
  }
}
