.lessons-page {
  background-color: $page-background;

  nav.navbar {
    background-color: $brand-learn;
    margin-bottom: 5rem;

    a {
      color:$white;
      decoration:none;
    }
  }

  .lessons-list--title {
    margin-bottom: 1rem;
  }

  ul {
    padding: 0;
  }

  .lessons {
    display: inline-block;
    list-style: none;
    margin:0;

    // each lesson card
    .lesson {
    padding:2rem 2.5rem;
    background-color: $white;
    color: $brand-text--dark;
    border-radius: 5px;
    width:50rem;
    height: 24rem;
    box-shadow: $lesson;

      .action-button {
        position: absolute;
        left:42rem;
        bottom:2rem
      }

    }

    .description {
      color:$brand-text--dark;
    }
  }
}
