article.lesson {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: 20rem;

  .description, ol.steps {
    @extend .content-3;
  }

  h1 { display: none; }

  &>.description { display: none; }

  .sections {
    flex-grow: 1;
    background-color: $table-header;
  }

  img {
    position:relative;
    width: 32rem;
    padding: 1rem;
    background-color: $dark-accent--medium;
  }

  .icon-insert {
    padding:0;
    background-color: transparent;
    padding: .5rem;
    width:3rem;
  }

  section {
    position: relative; // for confetti placement
    cursor: default;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6rem);
    width: 36rem;
    padding:2rem;
    overflow-y: auto;
    overflow-x: hidden;

    a {
      color:$white;
      text-decoration: underline;
    }

    &.not-current { display: none; }

    .backToLessons {
      @extend .info-1;
      font-size: 1.3rem;
      color:$white;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 1rem;
      &:hover{
        opacity: 1;
        text-decoration: underline;
      }
    }

    h2 {
      color:#fff;
      line-height: 3rem;
      margin-bottom: 0;
    }

    // Top part of section, outlining goals
    &>.description {
      margin-top: 2rem;
      color:#fff;

      p {
        margin-bottom: 2rem;
      }
    }

    .copy-txt, .answer {
      position: relative;
      width: 32rem;
      margin: -1rem 0 2rem 0;
      padding:.5rem 1.5rem;
      background-color: $dark-accent--medium;
      word-break: break-all;
      border-radius: .3rem;
      cursor: text;
      @extend %content-3;
    }

    .code-block {
      @extend .copy-txt;
      @extend .code-1;
    }

    .highlight {
      font-weight: normal;
      color: $brand-text--learn;
    }

    figure {
      margin: 1rem 0 2rem 0!important;
      max-width: 100%;
      margin: 0 auto; // in case image is too small
      &.half-width img {
        width: 50%;
      }

      figcaption {
        @extend .info-1;
        font-size: 1.3rem;
        line-height: 2.5rem;
        text-align: center;
      }
    }

    .instruction-detail, .question {
      position: relative;
      font-weight:400;
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: $white;
      width: 32rem;
    }

    //Q&A in lessons
    .question {
      margin-left: -2rem;
      margin-bottom: 1rem;
    }

    .answer {
      font-weight: 200;
      margin: 0rem 0 2rem -2rem;
    }



    code {
      @extend .code-1;
      background-color: $dark-accent--medium;
      color:white;
      padding: 0.5rem;
      border-radius:.3rem;
    }

    kbd {
      font-weight: normal;
      color: $brand-text--learn;
      background-color: transparent;
      margin: 0;
    }

    .icon-insert {

    }

    h3.instructions { // Instructions title
      color: $white;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &>.instructions {
      color:$white;

      .steps {
        list-style-position:inside;
        margin:0;
        padding:0;
      }
      ol {
        position: relative
      }

      li {
        margin-bottom: 1rem;
        list-style-type: none;
        padding-left: 2rem;

        // off setting those elements to make them larger
        figure img, figcaption, .instruction-detail, .image {
          left:-2rem;
        }

        .copy-txt {
          left: -2rem;
          margin-top: 1rem;
        }

        &::before {
          content: "\e938";
          color: $light-accent--Vstrong;
          font-size: .8rem;
          font-family: Workbench;
          position: absolute;
          margin-left: -2rem;
        }
        &.active::before {
          content: "\e938";
          color: $light-accent--Vstrong;
        }
        &.done::before {
          content: "\e904"; // icon-check
          color:$brand-learn;
          font-size: 1rem;
        }
      }
    }

    .confetti {
      position: absolute;
      left: 50%;
      top: 20%;
    }

    // Completion message at end ot lesson
    .completed {
      margin-top: 0;
      margin-bottom: 1rem;
      .summary {
        @extend h4;
        line-height: 2.5rem;
      }
    }
    // Suggestions to continue learning
    .next {
      margin-top: 3rem;

      h2 {
        margin-top: 2rem;
      }

      ol {
        margin-left: -4rem;

        li {
          list-style-type: none;

          &::before {
            display: none;
          }

          a {
            @extend .highlight;
            @extend .description;
            text-decoration: underline;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $table-header;
    border-top: 1px solid $dark-accent--medium;
    height: 6rem;
    flex: 0 0 auto;

    .buttons-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 3rem;
      flex: 0 0 auto;

      .action-button {
        width: 9rem;

        &.lesson-highlight {
          background-color: $brand-learn;
          border: $brand-learn;
          &:hover {
            background-color: $light-accent--strong;
            border: 1px solid $brand-learn;
          }
        }

        &:disabled {
          opacity: 0;
        }
      }

      .current-and-total {
        @extend .content-1;
        color:$white;
        white-space: nowrap;
      }
    }
  }
}

article.fullscreen {
  position: relative;
  top:0px;
  bottom:0px;
  width: 100%;
  position: absolute;
  top: 6rem;
  bottom: 0; // and no height
  z-index: 2;
  width: 100%;

  .sections {
    display: flex;
    justify-content: center;
  }

  figure {

    &.full img {
      width: 100%;
      &.no-border {
        background-color: transparent;
        padding-left: 0rem;
      }
    }

    &.half-width img {
      width: 50%;
    }

    &.three-quarter-width img{
      width: 75%;
    }
  }


  section.current {
    width: 100%;
    height: calc(100vh - 12rem); // accounts for both nav and footer

    a.backToLessons {
      display: none;
    }

  }

  .content {
    width: 80rem;
  }

  footer {
    display: flex;
    justify-content: center;

    .buttons-container {
      width: 80rem;
      justify-content: flex-start;
      padding-left: 2rem;

      button, div {
        margin-right: 5rem;
      }
    }
  }

  // start button in fullsceen lesson page, for lesson start
  a.start {
    margin-top: 3rem;
    @extend %action-button;
    @extend %button-pink-fill;
  }
}

// hide both navbar menu  and undo redo when fullscreen
article.fullscreen ~ .workflow-container .navbar {
  display: flex;
  justify-content: center;

  .navbar-elements {
    width: 80rem;
    padding:0 2rem;

    .dropdown, .group--undo-redo {
      display: none;
    }

    button[name="share"] {
      margin-right: 0;
    }
  }
}
