.lessons-page {
  background-color: $page-background;

  nav.navbar {
    background-color: $brand-pink;
    margin-bottom: 5rem;


    a {
      color:$white;
      decoration:none;
    }
  }

  .lessons-list--title {
    margin-left: 2rem;
  }

  .container {
    // display: flex;
    // justify-content: center;

    ul {
      padding: 0;
    }

    .lessons {
      list-style: none;
      margin:0;
      display: flex;
      justify-content: space-around;

      // each lesson card
      .lesson {
      cursor: pointer;
      margin:2rem;
      background-color: $white;
      color: $brand-text--dark;
      border-radius: 5px;
      width:50rem;
      height: 24rem;
      box-shadow: $button-area;

        .lesson-begin{
          padding:2rem 2.5rem;
          position: relative;
          width: 100%;
          height:100%;
        }
        a {
          text-decoration: none;
        }
        h2 {
          color:$brand-text--dark;
        }
      }

      .lesson:hover {
        box-shadow: $button-area--hover;
      }

      .description {
        color:$brand-text--dark;
      }
    }
  }
}
