// Metadata line for workflow list and workflow pages

//  WF list
.metadata-container{
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  color:$light-gray;
  cursor: default;
  @extend .content-3;

  .publicPrivate {
    color:$brand-workspace;
    &:hover{color:$link-hover-success;}
  }

  .separator {
    margin:0 0.5rem 0 0.5rem;
    text-align: center;
  }
}

// Rendered in WF page
.navbar .metadata {
  cursor: default;

  .publicPrivate {
    color:$white;
    cursor:pointer;
    &:hover{text-decoration:underline;}
  }
}

.WF-meta--item {
  margin-right: 0px;
  display: flex;
}
