// Metadata line for workflow list and workflow pages

//  WF list
.metadata-container{
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  color:$light-gray;
  @extend .content-3;

  .publicPrivate {
    color:$brand-workspace;
    &:hover{color:$link-hover-success;}
  }

  .separator {
    margin:0 0.5rem 0 0.5rem;
    text-align: center;
  }
}

.public-private-modal {
  .modal-body button {
    width: 100%;
  }
}

// Rendered in both workflow list _and_ navbar
button.public-private {
  border: 0;
  padding: 0;
  margin: 0;
  display: inline;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  nav .metadata-container & {
    &, .publicPrivate {
      color: white;
    }
    &:hover, .publicPrivate:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.WF-meta--item {
  margin-right: 0px;
  display: flex;
}

.workflow-root.in-lesson {
  .publicPrivate, .separator {display: none}
}
