// Metadata line for workflow list and workflow pages

// Default rendered in WF list
.WF-meta {
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
}

// Reneder in WF page
.navbar .WF-meta {
  cursor: default;
}

.WF-meta--item {
  margin-right: 0px;
  display: flex;
}

.metadataSeparator {
  margin:0 0.5rem 0 0.5rem;
  text-align: center;
}
