//Prompt for small devices and mobiles

.not-enough-px-warning { display: none; }

@media screen and (max-width: 890px) {

  .navbar {

    .links {
      margin-left: 3rem;
    }

    .group--undo-redo {
      display: none!important;

    }
    .nav-buttons button {
      margin-right: 1.5rem!important;
    }
    .dropdown .context-button {
      margin-right: 0!important;
    }

    .logo .logo {
      width: 2.1rem!important;
    }

    .logo img.logo-text {
      width: 12.2rem!important;
    }

    .editable-title--container input {
      font-size: 1.7rem!important;
      top: .2rem!important;
    }
    .metadata-container {
      font-size: 1.3rem;
    }
  }

  .nav-tabs .tab-group .nav-item .nav-link {
      padding: 1.4rem 2rem 1rem!important;
      font-size: 1.2rem!important;
  }

  article.report {

    .share-card .prompt, .url {
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {

  article.report {
    padding-top: rem(.8)!important;

    .share-card {
      padding-bottom: rem(.8);

      .prompt, .url{
        display: block!important;

        &>button, .copy {
          margin-left: 0!important;
          margin-top: rem(.3);
        }

        p {
          font-size: 1.2rem;
        }
      }

    }
  }
}

@media screen and (max-width: 710px) {
    .navbar {
      padding: .5rem .5rem .5rem 1rem!important;
      a {
        margin-right: 1rem!important;
      }
    }
    .metadata-container {
      font-size: 1.2rem!important;
    }
}

@media screen and (max-width: 650px) {
  .not-enough-px-warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient($brand-learn 5%, #FC68AD); /*fallback*/
    background-size: 100% auto;.background {background-size: cover;}
    &:hover {text-decoration: none;}

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/account-icons-bgd-mobile.png");
      background-size: 100% auto;
      opacity: .4;
    }

    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color:$white;
      z-index: 3;

      .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .warning {
        width:80%;
        font-size: 3.5rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .detail {
        margin-top: .5rem;
        font-size: 2rem;
      }

      .action-button {
        width: 11rem;
        height: 5rem;
        font-size: 2rem;
        margin-top: 3rem;
        color: $brand-learn;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  .workflow-root,.workflows-page {
    display: none;
  }

  // letting users access signup because why not
  .accounts {
    .not-enough-px-warning { display: none; }
  }

  // hide intercom
  #intercom-container {
    display: none;
  }
}
