//Prompt for small devices and mobiles

.not-enough-px-warning { display: none; }

@media screen and (max-width: 740px) {

  .navbar {
    padding: 1.1rem 2rem 1.1rem 2rem!important;

    .links {
      margin-left: 3rem;
    }

    .group--undo-redo {
      display: none!important;

    }
    .nav-buttons button {
      margin-right: 1.5rem!important;
    }
    .dropdown .context-button {
      margin-right: 0!important;
    }

    .logo .logo {
      width: 2.1rem!important;
    }

    .logo img.logo-text {
      width: 12.2rem!important;
    }

  }

  .nav-tabs .tab-group .nav-item .nav-link {
      padding: 1.4rem 2rem 1rem!important;
      font-size: 1.2rem!important;
  }
}
@media screen and (max-width: 650px) {

  .not-enough-px-warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient($brand-learn 25%, #FC68AD); /*fallback*/
    background-image: url("/static/images/mobile-bgd.png"), radial-gradient($brand-learn 10%, $brand-learn);
    background-size: 100% auto;.background {background-size: cover;}
    &:hover {text-decoration: none;}

    .brand-container {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      cursor: pointer;
      width:25rem;


      h1{
        font-size: 4rem;
      	line-height: 2.4rem;
        font-family: 'Lato';
        font-weight: normal;
        letter-spacing: -0.3px;
      	margin-left: 1rem;
        color:$white!important;
      }
    }


    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      color:$white;

      .video-container {
        position: relative;
        width:100%;
        padding-bottom: 56.25%;
        overflow: hidden;

        .product-vid {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .warning {
        width:80%;
        font-size: 3.5rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .detail {
        margin-top: .5rem;
        font-size: 2rem;
      }
      .action-button {
        margin-top: 3rem;
        color: $brand-learn;
        font-weight: bold;
        &:hover {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
  .workflow-root,.workflows-page {
    display: none;
  }
  // hide intercom
  #intercom-container {
    display: none;
  }
}
