//Prompt for small devices and mobiles

.not-enough-px-warning { display: none; }
@media screen and (max-width: 650px) {

  .not-enough-px-warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(#31D9ED 25%, #068CB9); /*fallback*/
    background-image: url("/static/images/mobile-bgd.png"), radial-gradient(#31D9ED 25%, #068CB9);
    background-size: 100% auto;.background {background-size: cover;}
    &:hover {text-decoration: none;}

    .brand-container {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      cursor: pointer;
      width:25rem;


      h1{
        font-size: 4rem;
      	line-height: 2.4rem;
        font-family: 'Lato';
        font-weight: normal;
        letter-spacing: -0.3px;
      	margin-left: 1rem;
        color:$white!important;
      }
    }


    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background-color: $light-accent--medium;
      color:$white;

      .product-vid {
        width: 100%!important;
      }

      .title {
        width:80%;
        font-size: 3.5rem;
        text-align: center;
        margin-bottom: 2rem;
      }
      .detail {
        margin-top: .5rem;
        font-size: 1.6rem;
      }
      .action-button {
        margin-top: 2rem;
      }
    }
  }
  .workflow-root,.workflows-page {
    display: none;
  }
  // hide intercom
  #intercom-container {
    display: none;
  }
}
