// Data version select

.line-item--data-version {
  height: 4rem;
  background-color: #FFFFFF;
  color: #686768;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 1px;
}

.line-item--data-version:hover {
  background-color: #F5F5F5;
}

.line-item--data-version--selected {
  height: 4rem;
  background-color: $brand-workspace;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
}

.input-dropdown {
  height: 4rem !important;
  color: #686768;
  background-color: #FFFFFF;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
  border-radius:0px;
  border: 1px solid $Vlight-gray
}

// Share workflow modal

.facebook-share {
  height: 2rem;
  width:6.5rem;
  background-color: #3c5b97;
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:3px;
  @extend %font-nunito-regular;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.facebook-share:hover{
  background-color:#2f4e87;
  color:#fff;
  text-decoration: none;
}

// Modal windows

.url-link{
  width: 100%;
  padding: 1.3rem 1.5rem 1.3rem 1.5rem;
  margin-bottom: 1rem;
}
