/* ---- Dialog Boxes ---- */

.modal-dialog{
  max-height:50rem;
  width: 48rem;
  border: 0;
  position:absolute;
  margin:auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.modal-content{
  border:0;
  border-radius:0px;
}

.modal-header {
  height: 6rem;
  padding: 2rem;
  background-color: #F5F7F8;
  border-bottom: 1px solid #eceeef;
}

.modal-header .modal-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-body{
  padding:0px;
}

.dialog-body {
  background-color: #FFF;
  padding: 2rem;
  border: 0;
  max-height: 40rem;
  overflow: scroll;
}

.list-body{
  background-color: #edecec;
  border: 0;
  max-height: 40rem;
  overflow: scroll;
}

.dialog-body p{
  font-size: 1.5rem;
  font-weight: 100;
}

.dialog-body.content-3{
  font-size: 1.5rem;
}

.close {
  font-size:2rem;
  color:#b4b4b4;
}

.icon-close {
  font-size:1.2rem;
  color:#b4b4b4;
}

.icon-close:hover{
  color:black;
}

.form-group {
  margin-bottom:0;
}


/* imported modal setting cancelled */
.modal-footer{
  border-top:0;
  display: block;
}

/* new style for dialog..footer */
.dialog-footer {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eceeef;
  background-color: #F5F7F8;
}

/* Data version modal */

.alert-setting-modal {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  border-right: 1px solid #E9E9E9;

}

.alert-setting {
  margin-right: 1rem;
  width:60%;
}

/* from Export Data modal, in WfModuleContextMenu  */

.download-icon-box {
	height: 3.5rem;
	width: 6rem;
	border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#b4b4b4;
  border-radius: 0px;
}


.download-icon-box:hover {
  background-color: #F8F8F8;
  decoration:none;
}


/* ---- Data Module: data versions box */


.version-item {
  display: flex;
  align-items: center;
  width:14.5rem;
}

.frequency-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.centered{
  margin:auto;
  text-align: center;
}

/* --- UpdateFrequencySelect --- */

.update-freq-settings {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#updateFreqNum {
  display: inline;
  width: 5rem;
}

#updateFreqUnit {
  display: inline;
  width:10rem;
  border-radius: 0px!important;
}

select {
  border-radius: 0px;
}



/* ImportModuleFromGitHub */

.import-module {
  border-bottom: 1px solid rgba(255,255,255, .1);
}

.import-module-button {
  cursor: pointer;
  color: #FAFAFA;
  padding-top: 2rem;
  opacity: 0.7;
  display:flex;
  justify-content: center;
}

.import-module-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;
}

.workflow-root.in-lesson .import-module-button {
  visibility: hidden;
}

.import-github-error {
  height: 4rem;
  color: #E24F4A;
  margin-top:2rem;
  padding-left:0rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.9rem;
}

.import-github-success {
  height: 4rem;
  color: #1CA8B9;
  @extend %font-nunito-extra-light;
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin-top: 2rem;
  padding-left: 0rem;
}

.test-button{
  cursor: pointer;
}
