/* ---- Dialog Boxes ---- */

.modal-dialog {
  border: 0;
  top:calc(100vh/10);
  max-height: 50rem;
  .modal-content{
    border:0;
    border-radius: 0;

    .modal-header {
      border-radius: 0;
      height: 6rem;
      padding: 2rem;
      background-color: $modal-color;
      border-bottom: 1px solid $white;
      display: flex;
      align-items: center;
      cursor: default;

      .modal-title {
        @extend .title-3;
        font-weight: bold;
        color: white;
        opacity: .9; // TODO why white+opacity? Let's pick the color we want.
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .close {
        cursor: pointer;
        font-size: 2.5rem;
        color: white;
        opacity: .6; // TODO why white+opacity? Let's pick the color we want.
        &:hover {
          opacity: 1;
        }
      }
    }

    .modal-body {
      padding: 0;
      background-color: white;
      padding: 2rem;
      border: 0;
      max-height: 70vh;
      overflow: auto;

      .info-2 {
        cursor: default;
      }

      /* from Export Data modal, in WfModuleContextMenu  */
      .url-link {
        color: $brand-text--dark;
        @extend .content-2;
        width: 100%;
        padding: 1.3rem 1.5rem;
        margin-bottom: 1rem;
        height: 3.5rem;
        border-radius: 3px 0 0 3px;
        border: 0px ;
        background-color: $Vlight-gray;
        &:focus {
          box-shadow: none;
        }
      }

      .info {
        @extend .info-2;
        color:$medium-gray;
      }

      .code-snippet {
        margin-top: .5rem;
        background-color: $dark-accent--medium;
        border-radius: 3px;
        padding: 1.5rem;

        .chart-embed {
          color: $brand-text--dark;
          @extend .content-3;
          margin-bottom: 0;
          border-radius: 3px;
          word-wrap:break-word;
        }
      }
    }

    //When a list is the content of the modal body
    .modal-body.list-body{
      background-color: $Vlight-gray;
      border: 0;
      max-height: 40rem;
      overflow: auto;
      padding: 0;
    }
  }

  /* imported modal settings */
  .modal-footer{
    border-top:0;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: flex-end;
    //border-top: 1px solid $Vlight-gray;
    background-color: $modal-footer;
  }


  /* ImportModuleFromGitHub */
  .import-module {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

  .import-module-button {
    cursor: pointer;
    color: #FAFAFA;
    padding-top: 2rem;
    opacity: 0.7;
    display:flex;
    justify-content: center;
  }

  .import-module-button:hover {
    cursor: pointer;
    color: white;
    opacity: 1;
  }

  .workflow-root.in-lesson .import-module-button {
    visibility: hidden;
  }

  .import-github-error {
    height: 4rem;
    color: $brand-red;
    margin-top:2rem;
    padding-left:0rem;
    font-size: 1.3rem;
    @extend %font-nunito-extra-light;
    line-height: 1.9rem;
  }

  .import-github-success {
    height: 4rem;
    color: $link-hover-success;
    margin-top: 2rem;
    padding-left: 0rem;
    font-size: 1.3rem;
    @extend %font-nunito-extra-light;
    line-height: 1.9rem;
  }

  .input-dropdown {
    height: 4rem !important;
    color: #686768;
    background-color: #FFFFFF;
  	font-size: 1.4rem;
  	font-weight: 500;
  	line-height: 1.4rem;
    border-radius:0px;
    border: 1px solid $Vlight-gray
  }

  // Share workflow modal

  .dl-file {
    @extend .info-1;
    color: $medium-gray;
  }

  .clipboard {
    @extend .info-1;
    margin-bottom:.5rem;
    text-transform: uppercase;
    cursor: pointer;
    color: $brand-workspace;
    &.copied {
      color: $brand-orange;
    }
  }

  .share-links {
    margin-top: 2rem;

    a {
      margin-right: 1.6rem;
      text-decoration: none;
      background-color: black; // override me in actual share links
      color: white;
      align-items: center;
      border-radius: 3px;
      @extend %font-nunito-regular;
      font-size: 1.3rem;
      padding: .5rem 1rem;

      i {
        margin-right: .8rem;
      }

      &.facebook-share {
        background-color: #4267b2;

        &:hover {
          background-color: #365899;
        }
      }

      &.twitter-share {
        background-color:  #1b95e0;

        &:hover {
          background-color: #0c7abf;
        }
      }
    }
  }
}
