/* ---- Dialog Boxes ---- */

.modal-dialog{
  max-height:50rem;
  width: 48rem;
  border: 0;
  position:absolute;
  margin:auto;
  top: 0; left: 0; bottom: 0; right: 0;

  .modal-content{
    border:0;
    border-radius:0px;

    .modal-header {
      border-radius: 0px;
      height: 6rem;
      padding: 2rem;
      background-color: $modal-color;
      border-bottom: 0;
      display: flex;
      align-items: center;
      cursor: default;

      .modal-title {
      @extend .title-3;
      font-weight: bold;
      color: $white;
      opacity: .9;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

        //Close modal button
        .icon-close {
          cursor: pointer;
          font-size:1.5rem;
          color:$white;
          opacity: .6;
          &:hover{opacity: 1}
        }
      }

      .close {
        cursor: pointer;
        font-size:2.5rem;
        color:$white;
        opacity: .6;
        &:hover{opacity: 1}

      }
    }

    //Contains content of modal window
    .modal-body{
      padding:0px;
      background-color: #FFF;
      padding:2rem;
      border: 0;
      max-height: 40rem;
      overflow: scroll;

      .info-2 {cursor: default;}

      /* from Export Data modal, in WfModuleContextMenu  */

      .url-link{
        width: 100%;
        padding: 1.3rem 1.5rem 1.3rem 1.5rem;
        margin-bottom: 1rem;
        height: 3.5rem;
        border-radius: 3px 0 0 3px;
        border: 0px ;
        background-color:$Vlight-gray;
        &:focus{box-shadow: none}
      }

      .info {
        @extend .info-2;
        color:$medium-gray;

      }
      .code-snippet{
        margin-top: .5rem;
        background-color: $dark-accent--medium;
        border-radius: 3px;
        padding: 1.5rem;

        .chart-embed {
          color: $brand-text--dark;
          @extend .content-3;
          margin-bottom: 0;
          border-radius: 3px;
          word-wrap:break-word;
        }
      }

    }

    //When a list is the content of the modal body
    .modal-body.list-body{
      background-color: $Vlight-gray;
      border: 0;
      max-height: 40rem;
      overflow: scroll;
      padding: 0;
    }
  }

  /* imported modal settings */
  .modal-footer{
    border-top:0;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $Vlight-gray;


    /* Option to toggle alert in modal footer in version select */
    .alert-setting-modal {
      width: 75%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 4rem;
      border-right: 1px solid $Vlight-gray;

      .alert-setting {
        margin-right: 1rem;
        width:60%;
      }
    }
  }
}


/* ImportModuleFromGitHub */

.import-module {
  border-bottom: 1px solid rgba(255,255,255, .1);
}

.import-module-button {
  cursor: pointer;
  color: #FAFAFA;
  padding-top: 2rem;
  opacity: 0.7;
  display:flex;
  justify-content: center;
}

.import-module-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;
}

.workflow-root.in-lesson .import-module-button {
  visibility: hidden;
}

.import-github-error {
  height: 4rem;
  color: #E24F4A;
  margin-top:2rem;
  padding-left:0rem;
  font-size: 1.3rem;
  @extend %font-nunito-extra-light;
  line-height: 1.9rem;
}

.import-github-success {
  height: 4rem;
  color: $link-hover-success;
  margin-top: 2rem;
  padding-left: 0rem;
  font-size: 1.3rem;
  @extend %font-nunito-extra-light;
  line-height: 1.9rem;
}

.test-button{
  cursor: pointer;
}

// Data version select

.line-item--data-version {
  height: 4rem;
  background-color: #FFFFFF;
  color: #686768;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 1px;
}

.line-item--data-version:hover {
  background-color: #F5F5F5;
}

.line-item--data-version--selected {
  height: 4rem;
  background-color: $brand-workspace;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
}

.input-dropdown {
  height: 4rem !important;
  color: #686768;
  background-color: #FFFFFF;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
  border-radius:0px;
  border: 1px solid $Vlight-gray
}

// Share workflow modal

.facebook-share {
  height: 2rem;
  width:6.5rem;
  background-color: #3c5b97;
  color:#fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius:3px;
  @extend %font-nunito-regular;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.facebook-share:hover{
  background-color:#2f4e87;
  color:#fff;
  text-decoration: none;
}
