.module-search {
  z-index: 3;
  position: absolute;
  top: 1.5rem;
  width: 28rem;
  @extend .content-1;
  box-shadow: $overlay-shadow;
  border-radius: .3rem;
  overflow: hidden; // stay inside the border-radius
  background: $white;
  margin-bottom: 5rem;

  // Make scrollbar always visible on Mac, as user tests show they don't know there's more menu otherwise
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(50,50,50,0.5);
  }

  ul, li {
    // reset styles. (we'll re-change this later.)
    display: block;
    margin: 0;
    padding: 0;
  }

  .module-search-field {
    background: $heading-bg;
    padding: 1rem;
    color: $input-alt;
    position: relative;

    input {
      // left padding for "search" icon; right padding for "close" button
      padding: .5rem 3.4rem .5rem;
      display: block;
      width: 100%;
      color: $input-alt;
      background: $input-alt-bg;
      border-radius: 2rem;
      border: 3px solid transparent;

      &:focus {
        border-color: $brand-workspace;
      }

      //search placeholder when empty
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
        opacity: .9;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $white;
        opacity: .9;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $white;
        opacity: .9;
      }

    }


    &::before {
      // "search" icon
      display: inline-block;
      position: absolute;
      top: 1.9rem;
      left: 2.4rem;
      font-size: 1.4rem;
      font-family: 'Workbench';
      content: "\e91a "; // .icon-search
    }

    button.close {
      border: 0;
      position: absolute;
      right: 2.4rem;
      top: 2.1rem;
      font-size: 1.4rem;
      margin: 0;
      padding: 0;
      text-shadow: none;
      color: $white;
      &:hover {
        color: white;
        opacity: 1;
      }
    }
  }

  &.lesson-highlight .module-search-field input {
    border-color: $brand-learn;
  }

  .module-search-result-groups {
    max-height: 38rem;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .module-search-result-group  {
    border-top: 1px solid $dark-accent--soft-M;
    margin-bottom: 1.5rem;
  }

  h4, .module-search-result {
    display: flex;
    align-items: center;
    margin: 0;
    height: 4rem;
    padding: 0 2rem;
  }

  h4 {
    @extend .info-2;
    color: $brand-text--medium;
    margin-top: 1rem;
    text-transform: uppercase;
  }

  .module-search-result {
    border: 2px solid transparent;
    color: $brand-text--dark;
    cursor: pointer;
    position: relative; // to position .tooltip

    i {
      width: 1.5rem;
      margin-right: 1rem;
    }

    &:hover {
      color: $brand-text--darker;
      background-color: $dark-accent--soft;
    }

    &:active {
      background-color: $dark-accent--medium;
    }

    &.lesson-highlight {
      background-color: $brand-learn--medium;
    }
  }
}

.popover.module-search-result {
  margin-left: 2rem;
  border-width: $module-popover-border-width;
  border-color: $brand-workspace;
  border-radius: 5px;
  box-shadow: $menu-shadow;
  padding: 1rem;

  //transition-delay: .2s;
  transition: opacity .5s;



  .popover-inner {
    background-color: white;
    border-radius: 3px;

    .popover-header {
      padding:0;
      @extend .content-1;
      margin-bottom: .5rem;
      color: $brand-text--dark;
    }

    .popover-body {
      padding:0;
      @extend .info-3;
    }
  }

  h3 {
    font: inherit;
    background-color: transparent;
    border-bottom: none;
  }

  span.arrow {
    left: -8px;
    margin-top: -4px; // Bootstrap's calculations assume a much smaller arrow

    &::before {
      border-right-color: $brand-workspace;
      border-bottom-color: transparent;
      top: -1px;
      left: -1px;
      border-width: 9px 9px 9px 0;
    }
    &::after {
      left: $module-popover-border-width;
      border-width: 8px 8px 8px 0;
    }
  }
}
