.module-stack {
  width: $module-stack-width;
  flex: 0 0 auto;
  padding-top: 1.5rem;
  background-color: $WF-background;
  overflow-y: scroll;
  position: relative;

  .in-between-modules {
    position: relative;
  }

  .add-module-search {
    width: $module-width;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 40rem; // so there's always a scrollbar, and clicking "Add Module" doesn't add one
    padding: 0 1rem;
    position: relative;

    button.search {
      display: block;
      width: 100%;
      border-radius: 2rem;
      border: 1px solid $brand-workspace;
      background: transparent;
      cursor: pointer;
      text-transform: uppercase;
      color: $heading-bg;
      font-size: 1.3rem;
      padding: .75rem;
    }
  }

  .add-module-in-between-search {
    width: $module-width;
    margin-left: 1rem;
    position: relative;

    &.searching {
      z-index: 1; // appear above other modules/in-betweens
    }

    button.search {
      // The whole element is one big button. Most of the button appears to
      // be invisible; but the big borders are part of the button, so they're
      // clickable/hoverable.
      display: block;
      width: 100%;
      height: 1rem;
      cursor: pointer;
      border: .4rem solid $page-background;
      right: -1rem;
      top: -.5rem;
      font-size: 1rem;
      color: transparent;
      background: transparent;

      i {
        position: absolute;
        right: -1.4rem;
        top: -.3rem;
        font-size: 1.6rem;
        line-height: 1;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: .8rem;
      }

      &:hover {
        background: $brand-workspace;

        i {
          background: $brand-workspace;
          color: $white;
        }
      }
    }
  }

  .module-drop-target {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; // go over <button>
    background: $brand-workspace;
    border: .25rem solid transparent;

    &.is-drag-hovering {
      background: $brand-orange;
    }
  }
}
