.module-stack {
  width: $module-stack-width;
  flex: 0 0 auto;
  padding-top: 1.5rem;
  background-color: $WF-background;
  overflow-y: scroll;
  position: relative;

  .in-between-modules {
    position: relative;
    margin:0;
  }

  .add-module-search {
    width: $module-width;
    margin:0 $module-margin;
    margin-top: 1.2rem;
    margin-bottom: 40rem; // so there's always a scrollbar, and clicking "Add Module" doesn't add one
    position: relative;

    button.search {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      width: 24rem;
      border-radius: 2rem;
      border: 1px solid $module-action;
      background: transparent;
      cursor: pointer;
      text-transform: uppercase;
      color: $medium-blue;
      font-size: 1.4rem;
      height: 3.5rem;
      opacity: .6;
      &:hover{
        background-color: $module-action;
        opacity: 1;
      }
      i {
        font-size: 1.8rem;
        margin-right:.5rem;
      }
    }

    &.lesson-highlight button.search {
      border:2px solid $brand-learn;
      color: $brand-learn;
      &:hover{background-color: $brand-learn--light}
    }
  }

  .add-module-in-between-search {
    width: $module-width;
    margin-left: $module-margin;
    position: relative;

    &.searching {
      z-index: 2; // appear above other modules/in-betweens
    }

    button.search {
      // The whole element is one big button. Most of the button appears to
      // be invisible; but the big borders are part of the button, so they're
      // clickable/hoverable.
      display: block;
      width: 27rem;
      height: .5rem;
      cursor: pointer;
      z-index:2;
      border: .1rem solid $WF-background;
      top: -1rem;
      font-size: 1rem;
      color: transparent;
      background: transparent;
      margin: .1rem 0 .1rem 0;

      i {
        position: absolute;
        right: -1.8rem;
        top: -.5rem;
        font-size: 1.2rem;
        line-height: 1;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background: $brand-workspace;

        i {
          background: $brand-workspace;
          color: $white;
        }
      }
    }

    &.lesson-highlight {
      button.search {
        background: $brand-learn;

        i {
          background: $brand-learn;
          color: $white
        }
      }
    }
  }

  .module-drop-target {
    display: block;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: $module-width;
    margin:0 $module-margin;
    height: 0.5rem;

    &.is-drag-hovering {
      opacity: 1;
      background: $brand-workspace;
    }
  }
}
