/* --- Module Library --- */

.module-library {
  height: 100%;
  background-color: $module-library-background;
  color: $white;
}


.workflow-root.in-lesson .module-library {
  background-color: transparent;
  color: $brand-text;
}

.module-library--open {
  width: 200px;
  flex: 0 0 200px;
}



.module-library--closed {
  width: 6rem;
  flex: 0 0 6rem;
}

.library-closed--toggle{
  height:6rem;
  border-bottom: 1px solid rgba(255,255,255, .1);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

//Contains Brand and Search
.library-header {
  position: relative;
  text-align: left;
  padding: 2rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}

.library-header a:hover {
  text-decoration: none;
}

.brand--ML {
  display: flex;
  align-items: center;
  cursor: pointer;
}

//Search bar

.search-bar {
  margin-top: 1.5rem;
  border-radius: 30px;
  height:3.5rem;
  border: 3px solid transparent;
  background-color: rgba(250,250,250,0.2);
}

.search-bar:active{
  border:2px solid #48C8D7;
}

// Outline when hover on top of ML
.search-container:hover .search-bar{
  border:3px solid #48C8D7;
}

.module-library--open .icon-sort-up-vl-gray,
.module-library--open .icon-sort-down-vl-gray {
  font-size: 0.6rem;
  padding-bottom: 0.1rem;
  margin-right: 2rem;
}

/* To conceal the transition animation when selecting from Library in collapsed state */
.hide-animation {
  display: none;
}

// Entire module list

.ML--module-list {
  overflow-y: scroll;
  height:calc(100vh - 40rem);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.ML--module-list .list {
  margin-top: 0.2rem;
}


// When category is open: category name
.card .first-level {
  height: 4rem;
  width: 100%;
  opacity: 0.4;
  display: flex;
  align-items: center;
}

// When category is open: module name
.card .second-level {
  opacity: 0.7;
  position: relative;
  height: 4rem;
  padding-left: 2.5rem;
}

.card .second-level:hover {
  background-color: #4E6878;
  opacity: 1;
}

// div containing module handle
.ml-handle{
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity:0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ml-handle:hover{
  opacity:0.6;
}

.module-library--open .card,
.module-library--closed .card {
  border: 0;
  background: transparent;
  border-radius: 0;
}

.module-library--closed > .card,
.module-library--closed > .list {
  border-bottom: 1px solid rgba(255,255,255, .1);
}

.category-name {
  cursor:default;
  margin-left: 2rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6rem;
}

.closed-ML--category{
  cursor: pointer;
  height: 4rem;
  width: 100%;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closed-ML--category:hover{
  background-color: #4E6878;
  opacity:1;
}

// modules in open categories

.ml-module-card {
  width: 200px;
  cursor: pointer;
}

.ml-icon{
  font-size: 1.4rem;
}

.ml-icon-container{
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-module-name{
  margin-left:0.6rem;
}


// Modules in closed library

.module-category--open .ml-list-mini {
  background-color:#547081;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  left: 6rem;
  top: -0.1rem;
  overflow-y: scroll;
  max-height: calc(70vh);
  border-right: 1px solid #4A6676;
  border-top: 1px solid #4A6676;
  border-bottom: 1px solid #4A6676;
  box-shadow: 0.5rem 0.5rem 2.5rem 0 rgba(0, 0, 0, 0.1);
}

.module-category--open .ml-list-mini .ml-module-card {
  width: 15rem;
}

.module-category--open .ml-list-mini .ml-module-card .ml-icon {
  font-size: 1.2rem;
}

.module-category--open .ml-list-mini .ml-module-card .ml-module-name{
  margin-left: 0.4rem;
}


.card .ml-list-mini .second-level{
  padding-left: 1rem;
}


/* --- the Search Modules within the Module Library header - ModuleSearch.js --- */

//Style for search icon
.ml-icon-search{
  font-size: 1.4rem;
}

//style for close icon in ML search
.ML-search--close{
  opacity: 0.6;
}

.search-close:hover{
  opacity: 1;
}

/*Actual search with autosuggest component*/
.react-autosuggest__container {
  padding-left:1rem;
  width: 100%;
  background-color:transparent;
}

.react-autosuggest__container input {
  border: 0px solid #DDDDDD;
  color:white;
  background-color:transparent;
}
/* If we want to style the placeholder differently than the typed text */
 .react-autosuggest__input::placeholder {
  color: rgba(250,250,250,0.5);
}

/* does not accept a 'color' parameter  */
.react-autosuggest__input {
  width: 100%;
  height: 100%;
  padding-left: 0.3rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container {
  display: none;
}

/*search result*/
.react-autosuggest__suggestions-container--open {
  margin-top: 2.7rem;
  margin-left: -6.2rem;
  display: block;
  position: absolute;
  border: 0px;
  background-color: #577485;
  color:#fff;
  font-weight: 300;
  font-size: 1.6rem;
  width: 100%;
  z-index: 2;
  overflow-y: scroll;
  height:calc(100vh - 40rem);
}

.react-autosuggest__suggestions-list {
  padding: 0;
  margin-bottom: 0rem;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 0;
  margin: 0;
}

.react-autosuggest__suggestion-inner {
  cursor: pointer;
  height: 4rem;
  padding: 0.8rem 0  0.5rem 2.5rem;
  color: #fff;
  opacity: 0.7;
  display:flex;
  align-items: center;
}

.react-autosuggest__suggestion--highlighted .react-autosuggest__suggestion-inner  {
  background-color: #4E6878;
  width:100%;
  opacity:1;
}

.suggest-handle{
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  position: absolute;
  left: 0rem;
  width: 100%;
  height: 4rem;
}

.suggest-handle:hover{
  opacity: 0.6;
}

.react-autosuggest__section-container {
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 1.3rem;
  color: #FFF;
  opacity: .4;
  height: 4rem;
}

.react-autosuggest__section-title div{
  padding-top: 0.4rem;
}

.ml-description {
  display: none;
}

.ml-divider {
  margin-top: 1.5rem;
  border-top: 1px solid rgba(255,255,255, .2);
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

/* AddNotificationButtonClosed */

// Absolute position used to make element appear outside of Module Library div
.alert-closed-ML {
  background-color: #4E6878 !important;
  z-index: 100;
  position: absolute;
  left: 6rem;
  top: 30rem;             // does not match up with symbol in Module Library
}

/* ImportModuleFromGitHub */

.import-module {
  border-bottom: 1px solid rgba(255,255,255, .1);
}

.import-module-button {
  cursor: pointer;
  color: #FAFAFA;
  padding-top: 2rem;
  opacity: 0.7;
  display:flex;
  justify-content: center;
}

.import-module-button:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 1;

}

.import-github-error {
  height: 4rem;
  color: #E24F4A;
  margin-top:2rem;
  padding-left:0rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.9rem;
}

.import-github-success {
  height: 4rem;
  color: #1CA8B9;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.9rem;
  margin-top: 2rem;
  padding-left: 0rem;
}

.test-button{
  cursor: pointer;
}
