.module-stack {
  flex: 0 0 auto; // auto-width: width of contents (including scrollbar)
  padding-top: 1.5rem;
  background-color: $WF-background;
  overflow-y: scroll;
  position: relative;

  .in-between-modules {
    position: relative;
    margin: 0;

    &.read-only {
      height: .5rem;
    }
  }

  .add-module-search {
    width: $module-width;
    margin: 0 $module-margin;
    top:1.2rem;
    margin-bottom: 40rem; // so there's always a scrollbar, and clicking "Add Module" doesn't add one
    position: relative;

    button.search {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26rem;
      border-radius: 2rem;
      border: 2px solid $module-action;
      background: transparent;
      cursor: pointer;
      text-transform: uppercase;
      color: $table-element;
      font-size: 1.4rem;
      height: 3.5rem;
      opacity: .8;
      &:hover{
        background-color: $module-action;
        opacity: 1;
      }
      i {
        font-size: 1.8rem;
        margin-right:.5rem;
      }
      span {margin-top: .1rem;}
    }

    &.lesson-highlight button.search {
      border:2px solid $brand-learn;
      color: $brand-learn;
      &:hover{background-color: $brand-learn--light}
    }
  }

  .add-module-in-between-search {
    width: $module-width;
    margin-left: $module-margin;
    position: relative;
    height: .5rem;

    &.searching {
      z-index: 2; // appear above other modules/in-betweens
    }

    button.search {
      // The whole element is one big button. Most of the button appears to
      // be invisible; but the big borders are part of the button, so they're
      // clickable/hoverable.
      display: block;
      width: 26rem;
      height: .5rem;
      cursor: pointer;
      border: .1rem solid transparent;
      top: -1rem;
      font-size: 1rem;
      color: transparent;
      background: transparent;
      margin: 0;
      padding: 0;
      &::before {
        content: '';
        position: absolute;
        top: -1rem;
        bottom: -1rem;
        left: 0;
        right: 0;
      }

      i {
        position: absolute;
        left: 12.5rem;
        top: -.6rem;
        font-size: 1.2rem;
        line-height: 1;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
      }

      &:hover {
        background: $brand-orange;

        i {
          background: $brand-orange;
          color: $white;
        }
      }
    }

    &.lesson-highlight {
      button.search {
        background: $brand-learn;

        i {
          background: $brand-learn;
          color: $white
        }
      }
    }
  }

  .module-drop-target {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: $module-width;
    margin: 0 $module-margin;
    height: 0.5rem;
    z-index: 1;
    background: transparent;

    &.is-drag-hovering {
      opacity: 1;
      background: $brand-orange;
    }

    &::before {
      content: '';
      position: absolute;
      top: -2.5rem;
      bottom: -2.5rem;
      left: 0;
      right: 0;
    }
  }

  &.zen-mode {
    .wf-module:not(.zen-mode),
    .in-between-modules {
      display: none;
    }

    .wf-module.zen-mode {
      .wf-card {
        width: 50rem;
      }

      &::after {
        display: none; // nix the little line after each module
      }

      // No need to collapse the epxanded python module - this is solo module display
      .context-collapse-button {display: none;}

      .module-card-header {height: 4.5rem;}


      /* a dummy div around output status bar, for positioning purposes  */
      .output-bar-container {
        position: absolute;
        height: 100%;
        width:100%;

        /* all good & selected */
        .module-output--selected {
          &:after {
          margin-left: 50.2rem
          }
        }

        /* standby  */
        .module-output-bar-orange {
          :after {
          margin-left: 50.3rem
          }
        }

        /* error  */
        .module-output--error, .module-output--error-selected {
          &:after {
            margin-left: 50.5rem;
            height: 4rem;
          }
        }
      }

    }
  }
}
