.module-stack {
  flex: 0 0 auto; // auto-width: width of contents (including scrollbar)
  padding-top: 1.5rem;
  background-color: $WF-background;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;

  .in-between-modules {
    position: relative;
    margin: 0;
    &:last-child {
      height:1rem;

      .module-search {
        top:0;
      }
    }
  }

  .caught-error { // when a module does not load
    text-align: center;
    color: $error-prompt;
    @extend %content-1;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid $error-prompt;
    background-color: white;
    margin: 0 $module-margin-right 0 $module-margin-left;
    width: 28rem;
  }

  // Big button to call the module search at the bottom of stack
  .add-module-search {
    width: $module-width;
    margin: 0 $module-margin-right 0 $module-margin-left;
    top: 1.5rem;
    margin-bottom: 20rem; // so there's always a scrollbar, and clicking "ADD STEP" doesn't add one //FIXME @adam Would be much better to have the scrollbar not pushing the table, and not displayed when there is no need to.
    position: relative;

    button.search {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $module-width;
      border-radius: 2rem;
      border: 1px solid $brand-workspace;
      background: transparent;
      cursor: pointer;
      text-transform: uppercase;
      color: $brand-workspace;
      @extend .content-1;
      font-weight: bold;
      height: 3.5rem;
      opacity: .85;
      &:hover {
        background-color: $brand-background;
        opacity: 1;
      }
      i {
        font-size: 1.5rem;
        margin-right: .7rem;
      }
      span {
        margin-top: .1rem;
      }
    }
  }

  // Button to call the module search between modules
  .add-module-in-between-search {
    width: $module-width;
    margin-left: $module-margin-left;
    position: relative;
    height: 1.5rem;

    &.searching {
      z-index: 3; // appear above other modules/in-betweens
    }

    .add-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: default;

      button.search {
        display: block;
        position: absolute;
        width: $module-width;
        height: 100%;
        cursor: pointer;
        border: 0;
        font-size: 1rem;
        color: transparent;
        background: transparent;
        border-radius: 1rem;

        i {
          position: absolute;
          left: 50%;
          margin-left: -.4rem;
          top: 3px;
          font-size: 1rem;
        }
      }

      &:hover button.search {
        background: $brand-background--action;
        transition-delay: .1s;
        cursor: pointer;

        i {
          background: transparent;
          color: darken($brand-workspace, 5%);
          transition-delay: .1s;
        }
      }
    }

    &.lesson-highlight {
      button.search {
        background: $brand-learn;

        i {
          background: $brand-learn;
          color: $white
        }
      }
    }
  }

  // Drop zone to place a module between others in the stack
  .module-drop-zone {
    display: block;
    position: absolute;
    top: -5rem;
    bottom: -5rem;
    width: 100%;
    z-index: 2;

    i {
      display: none;
    }

    &.is-drag-hovering .highlight {
      pointer-events: none;
      margin: 5rem $module-margin-right 0 $module-margin-left;
      border-radius: 1rem;
      height: 1.5rem;
      background-color: $brand-background--action;

      i {
        display: block;
        color: darken($brand-workspace, 5%);
        position: relative;
        left: 50%;
        top: 3px;
        font-size: 1rem;
      }
    }
  }

  // Module stack in zen mode
  &.zen-mode {
    .wf-module:not(.zen-mode),
    .in-between-modules {
      display: none;
    }

    .wf-module.zen-mode {
      .module-card {
        width: 50rem;
      }

      &::after {
        display: none; // nix the little line after each module
      }

      // No need to collapse the epxanded python module - this is solo module display
      .context-collapse-button {display: none;}

      .module-card-header {height: 4.5rem;}

      // Notes are the same width as module-stack

      textarea[name="notes"], .editable-notes-read-only {
        width: 50rem;
      }
    }
  }
}
