
//Module library when open
.module-library--open {
  height: 100vh;
  background-color: $dark-blue;
  color: $white;
  width: 18rem;
  flex: 0 0 20rem;

  .card {
    background-color: transparent;
    border: 0;
    border-radius: 0;

    .ml-icon-search {
      font-size: 1.4rem;
    }
  }

  .ML-header {
    height:6rem;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    padding: 0 2rem 0 2rem;

    .brand--ML {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
    }
  }

  // Search and list of modules container
  .ML-list--container {

    .ML-search--container {
      padding: 1.5rem 1.5rem;
      display: flex;
      justify-content: center;

      .ml-icon-search {
        font-size: 1.4rem;
      }

      .icon-search-white:before{
        opacity: 0.5;
      }

      //button to close the search
      .ML-search--close{
        opacity: 0.6;
      }
      .ML-search--close:hover{
        opacity: 1;
      }
    }
  }

  // Search highlight when hover on top of ML

  .ML-search-field {
    border-radius: 30px;
    height:3.5rem;
    border: 3px solid transparent;
    background-color: rgba(255,255,255,0.2);
  }

  .ML-list--container:hover .ML-search-field {
    border-color: $brand-blue;
  }

  .ML-list--container .ML-search-field.lesson-highlight {
    border-color: $brand-pink;
  }

  // ENTIRE module list
  .ML--module-list {
    max-width: 100%;
    height:calc(100vh - 40rem);
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 -1px 0 $light-accent--medium, 0 1px 0 $light-accent--medium;

    // Module category
    .ML-cat {
      height: 4rem;
      width: 100%;
      opacity: 0.4;
      display: flex;
      align-items: center;

      .category-name {
        cursor:default;
        margin-left: 2.5rem;
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 1.6rem;
      }
    }

    .list {
      margin-top: 0.2rem;
    }
  }

  // Modules IN MODULE LIST + ADD DATA ALERT

  .ml-module-name{
    margin-left:0.5rem;
  }

  .ml-icon-container{
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ml-module-card {
    cursor: pointer;
    border: 3px solid transparent;
    background-color: transparent;
    border-radius: 0;

    &.lesson-highlight {
      border-color: $brand-pink;
    }
  }

  .ML-module {
    background-color: transparent;
    opacity: 0.7;
    position: relative;
    height: 4rem;
    padding-left: 1.5rem;

    .ml-icon {
      font-size: 1.4rem;
    }



    // Module handle container
    .ml-handle {
      padding: 0 0.2rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      opacity:0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .ml-handle:hover{
      opacity:0.6;
    }
  }
  .ML-module:hover{
    background-color: $dark-accent--soft;
    opacity: 1;
  }

  .ml-divider {
    margin-top: 1.5rem;
    border-top: 1px solid $light-accent--strong;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
  }
  //Do not display module descriptions
  .ml-description {
    display: none;
  }


  /*search result*/

  .react-autosuggest__suggestions-container--open {
    margin-top: 2.2rem;
    margin-left: -6.2rem;
    display: block;
    position: absolute;
    border: 0px;
    background-color: $dark-blue;
    color:$white;
    font-weight: 300;
    font-size: 1.6rem;
    width: 18 rem;
    z-index: 2;
    overflow-y: scroll;
    height:calc(100vh - 40rem);

    .react-autosuggest__section-title {
      display: flex;
      align-items: center;
      padding-left: 2.5rem;
      font-size: 1.3rem;
      color: $white;
      opacity: .4;
      height: 4rem;
      margin-bottom: .2rem;

      div{
        padding-top: 0.4rem;
      }
    }

    .react-autosuggest__suggestions-list {
      padding: 0;
      margin-bottom: 0rem;
      list-style-type: none;

      .react-autosuggest__suggestion {
        border: 3px solid transparent;

        &.lesson-highlight {
          border-color: $brand-pink;
        }
        padding: 0;
        margin: 0;

        .react-autosuggest__suggestion-inner {
          cursor: pointer;
          height: 4rem;
          padding-left: 2rem;
          color: $white;
          opacity: 0.7;
          display:flex;
          align-items: center;

          .suggest-handle{
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            opacity: 0;
            position: absolute;
            left: 0rem;
            width: 100%;
            height: 4rem;
          }

          .suggest-handle:hover{
            opacity: 0.6;
          }
        }
      }
    }
  }
}



.workflow-root.in-lesson {

  .module-library {
    width: 17rem;
    background-color: $WF-background;
    border-right: $dark-accent--soft;

    .ML-list--container:hover .ML-search-field {
      border:3px solid $brand-pink;
    }

    .ML-header {
      padding-left: 1.5rem;
      background-color: $brand-pink;

      .ML-toggle{
        visibility: hidden;
      }
    }

    // Modules and data alerts

    .ML-module {
      padding-left: 1rem;
      color:$brand-text--dark;
      opacity: 0.7;
    }

    .ML-module:hover {
      opacity: 1;

      .icon-grip {
        opacity: 0.6;
      }
    }

    // Search, modules container and search results

    .ML-list--container {

      .ML-search--container {
        padding: 1.5rem 1.5rem;
        display: flex;
        justify-content: center;

        .ml-icon-search:before {
          color:$brand-text--dark;
        }

        .ML-search-field {
          background-color: $white;
        }
      }

      //Entire list of module
      .ML--module-list {
        box-shadow: 0 -1px 0 $dark-accent--soft, 0 1px 0 $dark-accent--soft;

        //category name
        .ML-cat {
          color:$brand-text--dark;

          .category-name {
            margin-left: 1rem;
          }
        }
      }

      .react-autosuggest__suggestions-container--open {
          margin-left: -5.7rem;
          background-color: $WF-background;
          color: $brand-text--dark;
          width:17rem;

        .react-autosuggest__section-title {
          color: $brand-text--dark;
          padding-left: 1.5rem;
        }

        .react-autosuggest__suggestion-inner {
          padding: 1rem;
          color: $brand-text--dark;

          .ml-icon-search:before {
            color: $brand-text--dark;

          }
        }

        .react-autosuggest__suggestion-inner:hover {
            opacity: 1;

            .icon-grip {
                opacity: 0.6;
            }
        }

      }
    }
  }
  .ml-divider {
    visibility: hidden;
  }
}



//// Module library closed


.module-library--closed {
  background-color: $dark-blue;
  height:none;
  width: 6rem;
  flex: 0 0 6rem;

  .library-closed--toggle{
    height:6rem;
    border-bottom: 1px solid $light-accent--medium;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .ml-icon {
    font-size: 1.4rem;
  }

  .card {
    background-color: transparent;
    border: 0;
    border-radius: 0;

    .ml-icon-search {
      font-size: 1.4rem;
    }
  }

  .closed-ML--category{
    cursor: pointer;
    height: 4rem;
    width: 100%;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$white;

    .module-category--wrapper{
      width:100%;
    }
  }
  .closed-ML--category:hover{
    background-color: $dark-accent--soft;
    opacity:1;
  }

  // Modules lists when hover
  .ml-list-mini {
  background-color:$dark-blue;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  left: 6rem;
  top: -0.1rem;
  overflow-y: scroll;
  max-height: calc(70vh);
  border:0;
  box-shadow: 0.5rem 0.5rem 2.5rem 0 $dark-accent--medium;
  }

  .ML-module {
    padding:0 0.5rem 0 1rem;
    color:$white;
    width: 15rem;
    height: 4rem;
    justify-content: space-between;
    opacity: 0.7;
    align-items: center;

    .ml-module-name{
      margin-left:0.6rem;
    }

    .ml-handle {
      opacity: 0;
    }

    .ml-icon {
      font-size: 1.2rem;
    }
  }

  .ML-module:hover {
    opacity: 1;
    background-color: $dark-accent--soft;

  }

  .ML-module:hover .ml-handle {
    opacity: .6;
  }

  /* AddNotificationButtonClosed */
  .alert-closed-ML {
    background-color: $dark-blue;
    z-index: 100;
    position: absolute;
    left: 6rem;
    top: 30rem;
  }
}



//ML Search results with autosuggest component*/

.react-autosuggest__container {
  padding-left:1rem;
  width: 100%;
  background-color:transparent;

  .react-autosuggest__input {
    width: 100%;
    height: 100%;
    padding-left: 0.3rem;
    @extend %font-nunito-regular;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  // text when typing in search
  input {
    border: 0px;
    color:$white;
    background-color:transparent;
  }

  //Placeholder text in search box
  .react-autosuggest__input::placeholder {
   color: $placeholder--light;
  }

  //Search result list
  .react-autosuggest__suggestion--highlighted {
    .react-autosuggest__suggestion-inner  {
    background-color: $dark-accent--soft;
    width:100%;
    opacity:1;
    }
  }
}


// ml search for lesson

.workflow-root.in-lesson {
  .react-autosuggest__input::placeholder {
  color:$placeholder;
  }
  .react-autosuggest__input {
    color: $brand-text--dark;
  }
}
