.wf-card{
  width: $module-width;
  margin: 0 $module-margin; // most of the in-between margin comes from .add-module-in-between-search
  background-color: #f8f8f8;
  position: relative;
  &:hover {background:#fcfcfc;}

  // Header of module in stack. Includes everything showm when collapsed.
  .module-card-header {
    clear:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 1rem 0 1.5rem;
    height:4rem;

    a {
      text-decoration:none;
    }

    .module-id--group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      &:hover .context-collapse-button{opacity:1;}

      .WFmodule-name{
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
      }

      .WFmodule-icon {
        font-size: 1.2rem;
      }

      .context-collapse-button {
        border: 0;
        width: 1rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color:$light-gray;
        border-radius: 5rem;
        margin-right:.5rem;
        opacity: 0.5;

        &.lesson-highlight {
          color: $brand-learn;
          font-weight: bold;
          //border:1px solid $brand-learn;
          opacity: 1;
        }
      }
    }

    .context-buttons--container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    // Context buttons - three dots buttons with menu
    .context-button {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.2rem;
      height: 2.2rem;

      // Actual icon of context menu in module
      .context-button--icon {
        font-size: 1.2rem;
      }

      // Cheap fix issue for alignment
      .icon-note {
        margin-top: -.2rem;
      }

      .help-button {
        margin-top:-0.54rem;
        margin-left: -.045rem;
        opacity: 1;
      }

    }

    // Alert icons in modules when notifications are set
    .notification-badge{
      display: flex;
      opacity: 0.6;
      margin-right: 0.4rem;
      &:hover {opacity:1;}

      .notification-badge-icon{
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
  .module-content {
    position:relative;
    width:100%;
    padding:0;



    .module-card-params {
      padding: 0 1.5rem 1rem 1.5rem;

      // Spacing on top of each parameter, excpet the first one in module
      .wf-parameter:not(:first-child) {
        margin-top: 0.8rem;
      }

      //spacing for add/remove param button
      .wf-parameter.wf-parameter-checkbox {
        margin-top: 0.4rem;
      }
      //only for chartbuilder
      .param-line-margin{
        margin-top:1rem!important;
      }
    }
  }
  .wf-module-error-msg {
    border: 0px;
    padding: 1rem 1.5rem;
    margin:0 1.5rem;
    border-radius: 0px;
    background-color: $error-prompt;
    color: #fff;
    font-size: 1.2rem;
    @extend %font-nunito-regular;
    text-align: left;
  }

  &.dragging {
    opacity: .6;
    outline: .5rem solid $brand-orange;
  }
}


/* ---- Wf Module status bars ---- */

/* a dummy div around output status bar, for positioning purposes  */
.output-bar-container {
  position: absolute;
  height: 100%;
  width:100%;

  /* all good & selected */
  .module-output--selected {
    height: 100%;
    border: 2px solid $module-action;
    display: flex;
    align-items: center;
    flex-direction: row;
    &:after {
    border: solid transparent;
    content: " ";
    border-left-color: rgba(118,155,176,0.3);
    border-width: 1.8rem 0 1.8rem 1rem;
    margin-left: 26.2rem
    }
  }

  /* standby  */
  .module-output-bar-orange {
    height: 100%;
    border:2px solid rgba(251,170,109,0.7);
    display: flex;
    align-items: center;
    flex-direction: row;
    :after {
    border: solid transparent;
  	content: " ";
  	border-left-color: rgba(251,170,109,0);
  	border-width: 2rem 0 2.25rem 1rem;
    margin-left: 26.3rem
    }
  }

  /* error  */
  .module-output--error {
    height: 100%;
    border:2px solid rgba(0,114,110,0);
    display: flex;
    align-items: center;
    flex-direction: row;
    &:after {
    	content: " ";
    	position: absolute;
    	border:2px solid rgba(232,114,110,0.3);
      margin-left: 26.5rem;
      height: 4rem;
    }
  }

  /* error & selected */
  .module-output--error-selected {
    height: 100%;
    border:2px solid rgba(232,114,110,0.5);
    display: flex;
    align-items: center;
    flex-direction: row;
    &:after {
      content: " ";
    	position: absolute;
    	border:2px solid rgba(232,114,110,0.3);
      margin-left: 26.5rem;
      height: 4rem;
    }
  }
}


// Module placeholder: either DND or placeholder while module is being rendered.
.wf-module {
  &.lesson-highlight .module-content {
    outline: 2px solid $brand-learn;
    outline-offset:-2px;
  }
}

.wf-module--placeholder{
  width: 18rem;
  display: flex;
  padding-left:1.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
  background-color:$medium-blue;
  position: relative;
  height:4rem;
  box-shadow: $menu-shadow;
  font-size: 1.2rem;
}

/*** Module Parameters spacing ***/

.label-margin{
  color:#b2b2b2;
}

.wf-card .label{
  margin-bottom: 0px;
}

.help-button {
  cursor: pointer;
  border-radius:5rem;
  width:2.5rem;
  height:2.5rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color:$strong-gray;
  opacity: 0.5;
  margin-right:0;
}

.help-button:hover {
  border: none;
  background-color: transparent;
  color:$strong-gray;
  opacity: 1;
  decoration:none;
}

/*Charts module using Chartbuilder*/

.svg-credit-data {
  display:none;
}

.grid-lines{
  opacity: 0.5;
}

.zero{
  opacity: 0.3;
}

.chartbuilder-svg{
  border:1px #f1f1f1 solid;
}

svg .svg-background{
  opacity: 1;
  fill:#fff;
  border: 1px red;
}

// Overcome Bootstrap putting buttons over one another. Fixes the problem:
// [x][column 1] (x is button for open color picker)
// [ ][column 2] (should appear _underneath_ open color picker
.input-group-prepend button.color-picker {
  z-index: auto;
}
