
///// Metadata is in style.scss (also appear in WF list)

//No navbar at login / signup

.navbar-login {
  display:none;
}

.navbar .links {
  font-size: 1.5rem;
  a {
    padding: 0 1rem;
  }
}

//// navbar wf list
.navbar {
  display:flex;
  align-items: center;
  height: 6rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: $brand-workspace;
  color: #FFFFFF;
  padding: 0.5rem 4rem 0.5rem 4rem;
}

//// navbar wf page
.workflow-container .navbar {
  padding-left: 2rem;
}

// Brand logo

img.logo {
  vertical-align: middle;
  margin-right: 0.7rem;
  width: 2.2rem;
}

//// context button for workflow page and workflow list

.navbar .context-button,
.workflow-container .navbar .context-button
 {
  cursor: pointer;
  border:0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin-right: 3rem;
  border-radius: 5rem;
  opacity:0.8;
}

.navbar .context-button:hover,
.workflow-container .navbar .context-button:hover {
  background: rgba(255,255,255,0.1);
  opacity: 1;
}

.navbar .context-button.context-button.btn-secondary.active,
.navbar .context-button.btn-secondary.active,
.workflow-container .navbar .context-button.btn-secondary.active {
  background: rgba(255,255,255,0.3);
  opacity: 1;
}

// convert color of context button for to be white in navbar

.navbar .context-button--icon {
  font-size: 1.5rem;
  color: #fff;
}

//convert colors of metadata line to be visible on blue background-color

.workflow-container .navbar .t-f-blue {
  color:white;
  text-decoration: underline;
}

.workflow-container .navbar .t-m-gray {
  color:white;
}

//// Readonly signout navbar

.nav--link {
  cursor: pointer;
  margin-right: 5rem;
  width:5rem;
}

.nav--link:hover{
  text-decoration: underline;
  color: #fff;
}


//// Workflow page

.workflow-container .navbar .action-button {
  margin-right: 4rem;
}

// Workflow title

.title-metadata-stack {
  width: 100%;
}

.editable-title--container{
  margin-right: 3.5rem;
  min-width: 32rem;
}

.editable-title--field {
  min-width: 100%;
  border: none;
  outline: none;
  padding: 0;
  resize: none;
  background: none;
  @extend %font-nunito-regular;
  font-size: 1.8rem;
	line-height: 2.4rem;
  color: #FFFFFF;
  padding-right:1.5rem;
}

.editable-title--field:hover{
  background-color: rgba(250,250,250,0.2);
}

.workflow-root.in-lesson .navbar {
  background-color: $brand-learn;

  .WF-meta {
    display: none;
  }

  .attribution, .test-duplicate-button, .test-share-button {
    display: none;
  }
}
