.navbar-workflows .context-button {
  cursor: pointer;
  border:0;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  margin-right: 3rem;
  border-radius: 5rem;
  opacity:0.8;
}

.navbar-workflows .context-button:hover {
  background: rgba(255,255,255,0.1);
  opacity: 1;
}

.navbar-workflows .context-button.btn-secondary.active{
  background: rgba(255,255,255,0.3);
  opacity: 1;
}

.navbar-workflows .context-button--icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: #fff;
}
