.outputpane-header {
  flex: 0 0 auto; // fixed vertical size (unlike grid, which grows)
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding:1.5rem;

  .table-info-container {
    display: flex;
    margin-left: 3.25rem;
    align-items: center;
    height: 3.5rem;

    .table-info {
      text-align: center;
      margin-right: 3rem;
      height: 3rem;
      background-color: transparent;
      width:7rem;

      .data {
        @extend .content-2;
        text-transform: uppercase;
        color: $labels;
        cursor: default;
      }
      .value {
        @extend .content-1;
        color: $brand-text--dark;
        margin-top: .7rem;
      }
    }

    // Row Action buton and menu
    .dropdown .table-action {
      @extend .action-button;
      @extend .button-orange--fill;
      min-width: 16.5rem;
      border-radius: .3rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("../images/caret-down.png");
      background-repeat: no-repeat;
      background-size: 1.3rem;
      background-position: 95% 51%;
      padding:0 2rem 0 0;

      &:active {
        background-color: lighten($brand-orange,18%);
        color: $brand-orange;
      }

      &:focus {
        background-color: lighten($brand-orange,23%);
        color: darken($brand-orange,10%);
      }

      &.disabled {
        pointer-events: none; // REACT not taking care of it
        @extend .button-dark-blue;
        opacity: .9;
        min-width: 16.5rem;
        cursor: default;

        &:hover {
          background-color: transparent;
          color: $table-header;
        }
        &:focus {
          background-color: transparent
        }
      }
    }

    .dropdown-menu {
      border: 2px solid $data-action--border;

      &.show {
        button {
          @extend .dropdown-item;
          color:$brand-text--dark;

          &:hover {
            color:$brand-text--dark;
          }

        }
      }
    }

  }

  // button to export data in table header

  .export-table {

    @extend .action-button;
    display: flex;
    align-items: center;
    margin-right: 2.25rem;
    margin-left: 2.5rem;
    border-color: transparent;
    color: $table-header;
    background-color: white;
    cursor: pointer;

    &:hover{
      background-color: $dark-accent--soft;
    }
    font-size: 1.4rem;

    .icon-download {
      font-size: 1.5rem;
      margin-right:1rem;
    }
    .feed {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid $table-header--light;
    }
  }
}
