
.wf-parameter-radio {

  .button-group {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    // each radio group
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 1.5rem;
      margin-bottom: 0;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8rem;
        width: 1.8rem;
        background-color: $light-gray;
        border-radius: 1.5rem;
        margin-right: .5rem;

        &:after {  // the circle checkmark
          content: '';
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 1rem;
          background-color: $white;
        }
      }
    }

    input[type=radio] {
      display: none;
      position: absolute;

      &:checked + .button {
        background-color: $brand-orange;
      }
    }
  }
}
