.module-card-params {

  //header
  thead tr {
    height:2.5rem;
  }

  //body
  tbody tr {
    @extend .content-3;
    height:3.5rem;
    border-top: 1px solid $dark-accent--soft;
  }

  .table td {
    max-width: 15rem;
    overflow-x: hidden;
    border:0;
  }


  .reorder-info {
    @extend .info-3;
  }

  .reorder-position  {
    @extend .info-3;
    text-align: center;
  }

  .reorder-from, .reorder-to {
    text-align: center;
  }
}
