article.report {
  flex: 1 1 auto;
  display: flex; // share-card on left, report-iframe-container on right
  align-items: flex-start;
  justify-content: center; // on big page, show everything in the middle horizontally
  overflow-y: auto; // allow scrolling (report-iframe-container is variable height)
  padding: 2rem;
  background-color: $WF-background;

  .empty-report {
    @include title-2;
  }

  .share-card {
    flex: 0 0 auto;
    width: 35rem;
    padding: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;
    background: $dark-accent--soft-M; // FIXME use a non-RGBA color
    @include font-nunito-bold;
    font-size: 1.4rem;
    line-height: 1.8rem;

    .prompt {
      display: flex;
      align-items: center;

      .status {
        flex: 1 1 auto; // take up most space
      }

      button {
        @include action-button;
        @include button-orange--fill;
        @include font-nunito-bold;
        text-transform: uppercase;
      }
    }



    h4 {
      margin-top: 2rem;
      font: inherit;
    }

    .url {
      .copy {
        @include font-nunito-regular;
        border-radius: .3rem;
        background: white;
        padding: .8rem 1rem;
        word-break: break-all;
      }
    }

    .accessible-to {
      @include content-1;
      margin-top: .5rem;
    }
  }

  .report-iframe-container {
    flex: 1 1 auto;
    max-width: 80rem;
    border: 1px solid $document-blue;
    border-radius: .5rem;
    overflow: hidden;
    line-height: 0; // take no space at all
  }

  iframe {
    width: 100%;
    border: 0;
  }
}
