article.report {
  flex: 1 1 auto;
  display: flex; // share-card on left, report-container on right
  align-items: flex-start;
  justify-content: center; // on big page, show everything in the middle horizontally
  overflow-y: auto; // allow scrolling (report-container is variable height)
  padding: 2rem;
  background-color: $WF-background;

  .share-card {
    flex: 0 0 auto;
    width: 30rem;
    padding: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;
    background: $item-border;
    @include font-sans-bold;
    font-size: 1.4rem;
    line-height: 1.8rem;

    .prompt {
      //display: flex;
      align-items: center;
      padding-bottom: 1.5rem;

      p {margin-bottom: 1rem;}

      .status {
        flex: 1 1 auto; // take up most space
      }

      button {
        @include action-button;
        @include button-orange--fill;
        @include font-sans-bold;
      }
    }



    h4 {
      margin-top: 2rem;
      font: inherit;
    }

    .url {
      .copy {
        @include font-sans-regular;
        border-radius: .3rem;
        background: white;
        padding: .8rem 1rem;
        word-break: break-all;
      }
    }

    .accessible-to {
      @include content-1;
      margin-top: .5rem;
    }
  }

  .report-container {
    flex: 1 1 auto;
    max-width: 90rem;
    border: 1px solid $item-border;
    border-radius: .5rem;
    overflow-x: hidden;
    overflow-y: visible;
    background: white;
  }

  header {
    margin: 2rem;
  }

  .block-chart .block-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    padding-bottom: 2/3 * 100%; // 3:2 aspect ratio
    position: relative; // so we can position iframe

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .add-block-prompt {
    text-align: center;
    position: relative;

    &:hover::before {
      // Show a line on hover
      display: block;
      content: '';
      height: .2rem;
      position: absolute;
      top: calc(50% - .1rem);
      background: $brand-orange;
      left: 2rem;
      right: 2rem;
    }

    &>* {
      display: inline-block;
      margin: .5rem;
      position: relative; // Buttons appear above the line
    }
  }

  section.block {
    display: flex;
    margin: 2rem;

    .block-main {
      flex: 1 1 auto;
    }

    .block-actions {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        margin: 1rem;
      }
    }
  }

  .block-text .block-main {
    // Reset awful "1em is 10px"
    font-size: 1.6rem;
    form {
      textarea {
        font-family: monospace;
        padding: .5em;
        display: block;
        width: 100%;
        height: 10em;
      }
      .buttons {
        display: flex;
        justify-content: flex-end;
        button {
          margin: .5em;
        }
      }
    }
  }

  .block-table .block-main {
    // Reset awful "1em is 10px"
    font-size: 1.6rem;
  }

  .markdown {
    // Reset awful "1em is 10px"
    font-size: 1.6rem;

    h1 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 1em 0;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin: .83em 0;
    }
    h3 {
      font-size: 1.17em;
      font-weight: bold;
      margin: 1em 0;
    }
    h4 {
      font-size: 1em;
      font-weight: bold;
      margin: 1.33em 0;
    }
    p {
      margin: 1em 0;
    }
  }
}
