// Social logins //

.socialLoginWrap{
  width:100%;
  display: flex;
  justify-content: center;
}

.socialLoginWrap a{
  text-decoration:none;
}

.socialLoginButton{
  background-color: #fff;
  border:1px solid #e1e1e1;
  border-radius: 10rem;
  margin-bottom: 1rem;
  padding:0 1.5rem;
  height: 4rem;
  width:22rem;
  font-size: 1.4rem;
}

.socialLoginButton:hover{
  background-color:#f9f9f9;
}
