/* Table */

.row-number {
  color:#b4b4b4;
  text-align: center;
  font-size: 1.1rem!important;
}
// Shrinking font sizes based on number of digits
// TODO: Can we make the font size a variable?
.row-number-3 {
  color:#b4b4b4;
  text-align: center;
  font-size: 1.0rem!important;
}
.row-number-4 {
  color:#b4b4b4;
  text-align: center;
  font-size: 0.9rem!important;
}
.row-number-5 {
  color:#b4b4b4;
  text-align: center;
  font-size: 0.8rem!important;
}
.row-number-6 {
  color:#b4b4b4;
  text-align: center;
  font-size: 0.7rem!important;
}

// This is the only way to disable a react-data-grid editing feature we don't want
// https://github.com/adazzle/react-data-grid/issues/822
.drag-handle { display: none; }

.react-grid-Canvas{
  background-color: #EBEEF1;
}

.react-grid-HeaderRow{
  background-color: #EBEEF1;
}

.react-grid-HeaderCell{
  background-color: #7A9BB0;
  color:white;
  border-right:1px solid #95B5C9;
  border-bottom:0px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.react-grid-HeaderCell:active {
  background-color: #95B5C9;
}

.react-grid-HeaderCell__draggable{
  width:8px!important;
}

.react-grid-HeaderCell__draggable:hover,
.react-grid-HeaderCell__draggable:active {
  background-color: #95B5C9;
}

.react-grid-Cell--locked:last-of-type{
  border-right: 1px solid #EBEEF1;
}

.react-grid-Grid{
  border:#b4b4b4;
}

.react-grid-Cell{
  border-color:rgba(237,237,237,1);
  padding-right:1rem;
  padding-left:1rem;
  border-right: none;
  border-bottom: none;
}

.react-grid-Cell:not(.editing) .react-grid-Cell__value{
  font-size: 1.2rem;
}

.react-grid-Row--odd .react-grid-Cell{
  background-color: #EEF7FA;
}

.react-grid-Row--odd:hover .react-grid-Cell,.react-grid-Row--even:hover .react-grid-Cell{
  background-color: #D8F0F6;
}

//Click and edit a cell
.react-grid-Cell:focus,
.react-grid-Cell input.editor-main {
	border: none;
	border-radius: 0;
	outline: 2px solid #FBAA6D;
	background-color: #fff;
}
