.tabs {
  font-size: 1.6rem;

  &>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;

    &>li {
      display: inline-flex; // editor + dropdown-menu
      flex-direction: row;
      white-space: nowrap;

      border: 1px solid $light-gray;

      .tab-name, .editable-tab-name {
        white-space: pre; // do not collapse whitespace
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 1rem 0 1rem 1rem;
        font: inherit;
        color: inherit;
        cursor: pointer;
        border: 0;
        outline: 0;
        background: transparent;
      }

      .editable-tab-name {
        position: relative;

        span {
          opacity: 0;
        }

        input {
          font: inherit;
          position: absolute;
          left: 0;
          top: 0;
          padding: 1rem 0 1rem 1rem;
          width: 100%;
          background: transparent;
          border: 0;
          outline: 0;
        }
      }

      &.selected {
        font-weight: bold;
        outline: 3px solid $brand-workspace;
      }
    }
  }
}
