.tabs {
  $tabs-background: darken($WF-background,5%);
  $tabs-border: $brand-orange;
  @extend .content-1;
  border-top: 2px solid $tabs-border;
  background: $tabs-background;
  color: $brand-text--medium;
  padding-bottom: .3rem;
  padding-left: 1.5rem;

  // list of tabs
  &>ul {
    padding: 0;
    list-style: none;
    display: inline;

    // single tab
    &>li {
      display: inline-flex; // editor + dropdown-menu
      margin: -4px 0 0 -3px; // make border overlap with border-top of entire .tabs bar // tabs are overlapping and masking separators
      flex-direction: row;
      white-space: nowrap;
      border-top: 0px;
      border: 2px solid transparent;
      padding: .8rem 0 .6rem 0;
      z-index: 1;
      align-items: center;

      &.pending {
        // This is a tab that doesn't exist yet: the user clicked "+" and
        // JS hasn't heard a response from the server.
        //
        // There's no dropdown menu on tabs that don't exist yet, so pad instead.
        padding-right: 2rem;
      }

      .tab-name, .editable-tab-name {
        @extend .content-1;
        white-space: pre; // do not collapse whitespace
        display: inline-block;
        position: relative;
        margin: 0 .5rem 0 1.5rem;
        padding: 0;
        color: inherit;
        cursor: pointer;
        border: 0;
        outline: 0;
        background: transparent;
      }

      .editable-tab-name {
        // Contains a <span> (styled like .tab-name) and a <input>.
        // Make the <input> position:absolute so the width is auto-calculated
        // by the <span>.
        position: relative;

        span {
          opacity: 0;
        }

        input {
          @extend .content-1;
          position: absolute;
          left: 0;
          top: -.3rem;
          padding: 0;
          width: 100%;
          background: transparent;
          border: 0;
          outline: 0;
        }
      }

      .dropdown {
        margin: 0 .5rem 0 0;
        opacity: 0;

        button.toggle {
          @extend .context-button;
          font-size: .7rem;
          position: relative;

          i {
            margin-left: .1rem;
          }
        }
        &:hover .toggle {
          background-color: $dark-accent--medium;
        }

        .dropdown-menu {
          margin-bottom: .6rem;
          margin-right: -.9rem;
          background-color: transparent;
          border-color: transparent;
          padding-bottom: 1rem;
          box-shadow: none;
          border-radius: 0px;

          .dropdown-items-container { // created in order to have space between tabs and menu while moving the mouse from one another
            border: 2px solid $tabs-border;
            background-color: $white;
            border-radius: .5rem;
            box-shadow: $menu-shadow;
            padding: .5rem 0;

            .dropdown-item:active {
              color: $brand-text--darker;
            }
          }
        }
      }

      .separator {
        width: 100%;
        border-right: 1px solid $dark-accent--strong;
        height: 2rem;
      }

      // when tab is selected
      &.selected {
        border-color: $tabs-border;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: $white;
        z-index: 2;
        box-shadow: none;
        color: $brand-text--darker;

        .separator {
          border-color: transparent;
        }

      }
      &:hover {
        .dropdown {
          opacity: 1;
        }
      }
    }
  }

  button.new-tab {
    position: relative;
    top: .5rem;
    font-size: 2.1rem;
    margin-left: 2.1rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    background: $light-accent--Vstrong;
    border: 0;
    padding: 0;
    color: $tabs-border;
    cursor: pointer;
    &:hover {
      background-color: $white;
    }
  }

}
