

.dropzone {
  height:8rem;
  border: 3px dashed $brand-orange;
  color:$brand-orange;
  margin-bottom: 1.5rem;
}


// Version box, before and after loading

.versionSelect--uploadFile {
  margin-top: 1rem;
  border-top: 1px solid $Vlight-gray;
  padding-top: 2rem;
  margin-bottom: 0.8rem;
}



.uploader{

  .upload-box {
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    /*positioning of 'replace button after loading'*/
    .dropzone-button{
      position:absolute!important;
      right:1.5rem;
      bottom:1rem;
    }

    // Button 'browse' before loading and 'replace' after loading
    .react-fine-uploader-file-input-container {
      display: flex!important;
      align-items: center;

      .react-fine-uploader-file-input {
        cursor: pointer!important;
      }
    }
  }
  /*Progress bar*/

  ////////Containers
  .react-fine-uploader-gallery-total-progress-bar-container,
  .react-fine-uploader-gallery-progress-bar-container {
    position: relative;
    top: 0;
    left:0;
    background-color:transparent;
    box-shadow: none;
    width: 24.5rem;
    height:2px;
    margin: 0;
    margin-bottom: .5rem;


    //Upload bar
    .react-fine-uploader-gallery-total-progress-bar {
     height:2px;
     opacity:1;
     width: 24.5rem;
     position: relative;
     left: 0;
     background: $brand-orange;
     box-shadow: none;
    }
  }
}
