

.dropzone{
  height:8rem;
  border: 3px dashed $brand-orange;
  opacity: 0.6;
  color:$brand-orange;
  margin-bottom: 1.5rem;
}


// Version box, before and after loading

.versionSelect--uploadFile{
  border-top: 1px solid $Vlight-gray;
  padding-top: 2rem;
  margin-bottom: 0.8rem;
}




.upload-box{
  padding-bottom: 0.5rem;

  /*positioning of 'replace button after loading'*/
  .dropzone-button{
    position:absolute!important;
    right:1.5rem;
    bottom:1rem;
  }

  // Button 'browse' before loading and 'replace' after loading
  .react-fine-uploader-file-input-container{
    display: flex!important;
    align-items: center;

    .react-fine-uploader-file-input{
      cursor: pointer!important;
    }
  }
}

/*Progress bar*/

////////Containers
.react-fine-uploader-gallery-total-progress-bar-container,
.react-fine-uploader-gallery-progress-bar-container{
  background-color:transparent;
  box-shadow: none;
  width: 23rem;
  height:2px;

  ///placing container before and after loading

  //Empty -->loading
  .loader-empty{
    top:13rem;
    left:-.5rem;
  }
  //Loaded -->Replace
  .loader-replace{
    top:9rem;
    left:12rem;
  }
  //Upload bar
  .react-fine-uploader-gallery-total-progress-bar{
   height:2px;
   opacity:1;
   width: 23rem;
   background: $brand-orange;
   box-shadow: none;
  }
}
