.module-card-params {

    .value-parameter .value-list {
      margin-top: 1rem;
      padding: 0;
      list-style: none;
      max-height: 30rem;

    .ReactVirtualized__Grid:focus {
      outline: none;
    }
    .ReactVirtualized__Grid__innerScrollContainer .value {
      @extend .content-3;
      font-size: 1.3rem;
      display: inline;

      .checkbox {
        display: inline-block;
        vertical-align: middle;

        &::after {
          top: -2px;
        }
      }

      .name {
        vertical-align: middle;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 19rem;
        margin-top: .1rem;

      }

      .count {
        margin-top: .1rem;
        vertical-align: middle;
        display: inline-block;
        font-weight: 200;
        float: right;
      }
    }
  }
}
