//////////////////* ---- Workflow list ---- */

.workflows-page {
  background-color: $page-background;

  a { text-decoration: none; }

  .lesson-banner {
    width:32rem;
    height:10rem;
    border:3px solid $brand-learn;
    color:$brand-learn;
    background-color: $brand-learn--Vlight;
    border-radius: 15px;
    display: block;
    margin:4rem;
    padding:1.5rem;
    display: none;

    &:hover {
      background-color: $brand-learn--light;
    }
    &:active {
      background-color: $brand-learn--med-light;
    }

    .content-1 {
      margin-bottom: .2rem;
    }

    .icon-star {
      font-size: 2.2rem;
      margin-right: .5rem;
    }

    p {
      @include content-1;
      margin-top: .5rem;
    }
  }

  .button-blue:hover {
    background-color: $light-accent--strong;
  }

  &>form.create-workflow {
    margin: 5rem 0 0;
    text-align: center;

    button {
      @include action-button;
      @include button-blue--fill;
      display: inline-block; // respect <form>'s text-align: center;
      height: 4rem;
      font-size: 1.5rem;

      &:hover {
        background-color: $brand-workspace--Vlight;
      }
      &:active {
        background-color: darken($brand-background,20%);
        color:$brand-workspace;
      }
    }
  }

  .workflow-lists {
    border: 0;
    margin: 4rem auto 10rem;
    background-color: transparent;
    width: 95%; // for thin displays
    max-width: 80rem; // for desktop display

    &>.nav {
      display: flex;
      justify-content: space-between;
    }

    .workflow-tabs {
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      @include title-3;
      text-transform: uppercase;
      margin-left: 2rem;

      a {
        color: inherit;
      }

      .nav-item {
        position: relative;
        color: darken($medium-gray,7%);
        float: left;
        border-radius: 1rem 1rem 0 0;
        background-color: darken($page-background,3%);
        &:hover {
          color: $brand-text--dark;
        }

        .nav-link {
          float: left;
          padding: 1.4rem 4rem 1.2rem 4rem;
          text-decoration: none;
          border: none;
        }

        &.active {
          background-color: $white;
          z-index: 3;
          color: lighten($brand-text--dark,13%);
        }

        // Need pseudo to create round corner, for both nav-item and nav-link in order to get 4 of them per tab.

        // first and last tab need content (round corners)
        &:last-child::after, &:last-child .nav-link::after,
        &:first-child::before, &:first-child .nav-link::before {
          content: "";
        }

        // active tab always need content (round corners)
        &.active::before, &.active::after,
        &.active .nav-link::before, &.active .nav-link::after {
        content: "";
        }

        // position all pseudos at bottom
        &::before, &::after,
        & .nav-link::before, & .nav-link::after {
          position: absolute;
          bottom: 0;
          z-index: 1;
        }

        // Squares (on top of circled)
        &::before, &::after {
          background-color: pink;
          width: 1rem;
          height: 1rem;
        }
        // position those squares
        &::before { left: -1rem; }
        &::after { right: -1rem; }

        // Circles (below square)
        & .nav-link::after, & .nav-link::before {
          width: 2rem;
          height: 2rem;
          border-radius: 1rem;
          background: blue;
          z-index: 2;
        }
        //position circles
        & .nav-link::before { left: -2rem; }
        & .nav-link::after { right: -2rem; }

        // Color squares when tab is active
        &.active::before, &.active::after {
          background-color: $white;
        }
        // Color circles when tab is active
        &.active .nav-link::before, &.active .nav-link::after {
          background-color: darken($page-background,3%);
        }

        // Color circles first and last tab
        &:first-child .nav-link::before,
        &:last-child .nav-link::after {
          background: $page-background;
        }
        // Color square first and last tab
        &:last-child::after,
        &:first-child::before {
          background: darken($page-background,3%);
        }

        // Color squares first and last tab when active
        &:first-child.active::before, &:last-child.active::after, {
          background-color: $white;
        }
      }
    }

    .sort-menu {
      @include content-1;
      margin-right: 2rem;

      .dropdown {
        position: relative;
        bottom: -.2rem;
        cursor: pointer;

        &>button {
          @include context-button;
          @include button-blue;
          color: $workspace-action;
          height: 3rem;
          font-weight: bold;
          width: auto;
          border: 1px solid transparent;
          opacity: 1;
          padding: 0 1rem;
          &:hover {
            border: 1px solid $workspace-action;
          }

          &:after {
            background-color: $dark-accent--medium;
          }

          i {
            font-size: .8rem;
            margin-left: .7rem;
            // Line up with "Sort" text
            position: relative;
            top: .2rem;
          }
        }

        .dropdown-menu {
          margin-top: .5rem;
          border-radius: .5rem;
        }
      }
    }

    .tab-content {
      // when shared WF tab is empty
      .placeholder, form.create-workflow {
        @include content-1;
        background-color: $white;
        height: 7rem;
        display: flex;
        padding-left: 2.5rem;
        align-items: center;
        cursor: default;
        border-radius: .5rem;
        margin: 1px;
      }
      form.create-workflow button {
        @include content-1;
        text-decoration: underline;
        @include action-button;
        @include button-blue;
        cursor: pointer;
        &:hover {
          color: $link-hover-success;
          background-color: $SuperLightGray;
        }
      }
    }

    .workflow-list {
      background-color: $page-background; // background of list

      // WF list
      .workflow {
        height: 6.5rem;
        margin-bottom: 1px;
        border: 0;
        border-radius: 0;
        padding: 0 2.5rem;
        background: white;
        display: flex;
        align-items: center;

        &:first-child {
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
        }
        &:last-child {
          border-bottom-left-radius: .5rem;
          border-bottom-right-radius: .5rem;
          margin-bottom: 0px;
        }

        .metadata-container {
          color: $dark-gray;
          button {
            font-weight: bold;

          }
        }

        &:hover {
          background-color: $SuperLightGray;
          text-decoration: none;
        }

        a {
          // Make most of the list item clickable to open the link.
          // The only part that isn't <a> is the context menu
          display: block;
          flex: 1 1 auto;
          height: 100%;
          width: 100%;
          padding-top: 1.2rem;
        }

        .workflow-title {
          @include content-1;
          font-weight: bold;
          margin-bottom: .2rem;
          color: $brand-text--dark;
        }

        .context-button {
          width: 3rem;
          height: 3rem;
          &:hover {
            background-color: #f0f0f0;
          }
          &.context-button.context-button.btn-secondary.active{
            background-color: $Vlight-gray;
          }
        }
      }
    }
  }
}
