//////////////////* ---- Workflow list ---- */

.workflows-page {

  a {text-decoration: none;}

  .lesson-banner {
    width:50%;
    min-width:30rem;
    height:10rem;
    border:3px solid $brand-learn;
    color:$brand-learn;
    background-color: $brand-learn--Vlight;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:4rem;
    padding:1.5rem;
    &:hover {
      background-color: $brand-learn--light;
    }
  }

  .button-blue:hover {
    background-color: $light-accent--strong;
  }

  .new-workflow-button {
    margin-top: 2rem;
  }

  .workflows-list--title {
    cursor: default;
    margin-left: 2.4rem;
    margin-bottom: 1rem;
  }

  // context buttons
  .workflow-item .context-button {
    width: 3rem;
    height: 3rem;
    &:hover {
    background-color: #f0f0f0;
    }
    &.context-button.context-button.btn-secondary.active{
      background-color: $Vlight-gray;
    }
  }

  .workflows-list {
    border: 0;
    margin-top: 1.5rem;
    background-color: transparent;
    width:75%;
    padding:1.5rem 1.5rem 25rem 1.5rem;


    // background list
    .workflows-item--wrap {
      padding:1px 1px 1px 1px;
      background-color: $Vlight-gray;
    }

    .workflow-item {
      height: 7rem;
      margin-bottom: 1px;
      border: 0;
      border-radius:0;
      padding: 0 2.5rem;
      background:#fff;
      display:flex;
      align-items:center;
      justify-content: space-between;
      z-index: 3;

      &:hover {
      background-color: $SuperLightGray;
      text-decoration: none;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
