.params {
  .param-string {
    .autosize {
      @include autosize-with-textarea;
    }

    .invisible-size-setter, textarea {
      @include module-parameter;
      height: auto; // unset module-parameter height: our height varies
      resize: none;
    }
  }
  //CSV textare are resizable
  .param-string textarea[name="csv"] {
    resize: vertical;
  }
}

@import 'Code';
