.param-checkbox {
  // just a row, in which we can align right the checkbox

  .checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    label {
      font-size: 1.3rem;
      line-height: 1.2rem;
      display: inline;
      color: $brand-text--dark;
      margin-bottom: 0;
      cursor: pointer;
    }

    input {
      cursor: pointer;
    }
  }

  &.param {
    margin-top: $param-group-margin;
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.param.param-statictext + .param-checkbox {
  // checkbox following Static text get its own margin-top.
  margin-top: 1.2rem;
}
