.param-checkbox {
  margin-top: 0.4rem; // instead of default
  display: flex;
  align-items: center;

  &.param {
    margin-top: $param-margin;
  }

  label {
    display: inline;
    color: $brand-text--dark;
  }
}
