.param-checkbox { // just a row, in which we can align right the checkbox

  .checkbox-container {
    display: flex;
    align-items: center;

    label {
      font-size: 1.3rem;
      line-height: 1.2rem;
      display: inline;
      color: $brand-text--dark;
      margin-bottom: 0;
    }
  }

  &.param {
    margin-top: $param-group-margin;
    display: flex;
    flex-direction: row-reverse;
    .checkbox-container {

    }
  }
}
