.react-select.column, .react-select.multicolumn {

  .react-select__control {

    @extend %module-parameter;
    padding: 0; // override %module-parameter: react-select padding is _inside_
    display: flex; // override %module-parameter: react-select CSS is built around flex
    cursor: text; // because when you click inside, react-select lets you type
    position: relative;
  }

  .react-select__indicators {
    position: absolute;
    right: 0;
    align-self: center;
    height: 100%;

    // separator with carret
    .react-select__indicator-separator {
      margin: 1rem 0;
      display: none;
    }

    .react-select__indicator.react-select__dropdown-indicator {
      padding: 0 .5rem 0 0;
      cursor: pointer;
    }
  }


  //carret container
  .react-select__value-container {
    padding: 0 .8rem;

    // Carret to open menu
    .react-select__indicator,
    .react-select__indicator {
      cursor: pointer;
      opacity: .6;
      padding: 0 .8rem;

      svg {
        color: $brand-text--dark;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  // value selected
  .react-select__single-value {
    color: $brand-text--darker;
    padding-right: 2rem;
  }

  .react-select__control.react-select__control--is-focused { // extra specificity above .react-select__control, to trump .react-select__control:hover
    box-shadow: none;
    border-color: $data-action--border;
  }

  // placeholder when empty
  .react-select__placeholder {
    color: $placeholder;
    white-space: nowrap;

    & + div {
      margin: 0;
    }
  }
}

.react-select.multicolumn {
  .react-select__control {
    min-height: 3.5rem;
    height: auto;
    cursor: text;
  }

  // Style for selected values within multi select
  .react-select__multi-value {
    border-radius: 3px;
    border: 1px solid $brand-orange;
    background-color: $brand-orange--light;
    margin-left: 0;
    margin-right: .4rem;
    height: 2.7rem;

    .react-select__multi-value__label {
      @extend .content-1;
      color:$brand-orange;
    }
  }

  .react-select__multi-value__remove {
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    color:$brand-orange;
    padding: 0;
    width: 2rem;
    justify-content: center;

    &:hover {
      color: white;
      background-color: $brand-orange--medium-dark;
    }
  }

  .react-select__value-container.react-select__value-container--is-multi.react-select__value-container--has-value {
    padding: 0 2.5rem 0 .2rem;
    max-height: 20rem;
    overflow-y: scroll;
  }
}

// Menu when open (it's attached to <body>, not in the spot of the DOM where the <Select> is)
div>.react-select__menu {
  z-index: 2;
  border-radius: 0 0 5px 5px;
  margin-top: -.2rem; // overlap the border of the .react-select__control
  background-color: white;
  border: 2px solid $data-action--border;
  box-shadow: $menu-shadow;
  outline: none;

  .multicolumn-select-all-none {
    border-bottom: 1px solid $Vlight-gray;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 8px 12px;

    button {
      display: inline-block;
      font: inherit;
      border: 0;
      padding: 0;
      margin: 0;
      background: inherit;
      color: inherit;
      cursor: pointer;

      &:first-child {
        padding-right: 1rem;
      }

      &:hover {
        color: $brand-text--medium;
      }

      &:not(:first-child)::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 2rem;
        border-left: 1px solid $table-border;
        vertical-align: middle;
      }
    }
  }

  .react-select__option {
    height: 3.5rem;
    background-color: $white;
    color: $brand-text--dark;
    @extend .content-1;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .react-select__option--is-focused {
    background-color: $dark-accent--soft;
    color:$brand-text--darker;
  }
  // notice when no selection found
  .react-select__menu-notice {
    @extend .info-1;
    color: $brand-text--dark;
  }
}

// Hide the reset (which did not work?)
.react-select__indicator.react-select__clear-indicator,
.react-select__indicator.react-select__clear-indicator {
  display: none;
}
