.param-gdrivefile {
  padding-top: 1rem;
  font-size: 1.4rem;

  .change-file {
    @include content-1;
    cursor: pointer;
    border: 0;
    margin-top: -.2rem;
    background-color: transparent;
    color: $brand-workspace;
    text-align: left;
    padding: 0;
  }

  .file-info {
    @include module-parameter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2.5rem; // space for the "Change" button
  }

  button.change-file {
    // The "Change" button is not always visible. We'll set it to
    // position:absolute so it doesn't actually affect flow; we position
    // it using a negative `margin-top` -- the .file-info above it has a
    // margin-bottom that makes space for it.
    @include action-link;
    display: inline-block;
    position: absolute;
    margin-top: -2.5rem;
    color: $brand-orange;
    &:hover {
      color: $dark-orange;
    }
  }
}
