.param-gdrivefile {
  padding-top: 1rem;
  font-size: 1.4rem;
  align-items: left;

  .not-signed-in {
    display: none
  }

  .change-file {
    @include content-1;
    cursor: pointer;
    border: 0;
    margin-top: -.2rem;
    background-color: transparent;
    color: $brand-workspace;
    text-align: left;
    padding: 0;
  }

  .file-info {
    @include module-parameter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button.change-file {
    display: inline-block;
    position: relative;
    @include action-link;
    color: $brand-orange;
    &:hover {
      color: $dark-orange;
    }
    margin-bottom: 1rem; // [adamhooper, 2019-06-10] margin should really be on top of the next element, .param-checkbox
  }
}
