.param {
  &:not(:first-child) {
    margin-top: $param-margin;
  }

  &>label {
    display: block;
    @extend %content-1;
    color: $labels;
    cursor: pointer;
    margin: 0; // override Bootstrap
  }
}
