.param {
  &:not(:first-child) {
    margin-top: $param-margin;
  }

  & > label {
    display: block;
    @extend %content-1;
    color: $labels;
    cursor: default;
    margin: 0; // override Bootstrap
  }
}
