.param-radio {

  &:last-child {
    margin-bottom: -3rem;
    margin-top: 1.5rem;
    z-index: 1; // needs z-index in order to be on top of submit button
    position: relative;
    max-width: 20rem;
  }

  .button-group {
    display: flex;
    align-items: center;

    // each radio group
    label{
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      margin-bottom: 0;
      line-height: 1.3rem;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8rem;
        width: 1.8rem;
        background-color: $light-gray;
        border-radius: 1.5rem;
        margin-right: .5rem;

        &:after {  // the circle checkmark
          content: '';
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 1rem;
          background-color: $white;
        }
      }
    }

    input[type=radio] {
      display: none;
      position: absolute;

      &:checked + .button {
        background-color: $brand-orange;
      }
    }
  }
}

// Exec button will not be displayed on read only
.workflow-root.read-only {
  .param-radio:last-child {
      margin-bottom: 0;
  }
}
