.param-radio {
  .radio-options {
    display: flex;
    align-items: center;

    // each radio group
    label {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      margin-bottom: 0;
      line-height: 1.3rem;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8rem;
        width: 1.8rem;
        background-color: $light-gray;
        border-radius: 1.5rem;
        margin-right: 0.5rem;

        &:after {
          // the circle checkmark
          content: '';
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 1rem;
          background-color: $white;
        }
      }
    }

    input[type='radio'] {
      display: none;
      position: absolute;

      &:checked + .button {
        background-color: $brand-orange;
      }
    }
  }
}

.workflow-root:not(.read-only) .params > .param-radio:last-child {
  // A top-level radio param that shows up right before an "execute" button
  // should appear _beside_ the button, not above it.
  margin-bottom: -3rem;
  margin-top: 1.5rem;
  z-index: 1; // needs z-index in order to be on top of submit button
  position: relative;
  max-width: 20rem;
}
