.param-secret {
  .oauth-connect-parameter {
    padding-bottom: 1rem;
    border-bottom: 1px solid $Vlight-gray;
    text-align: left;

    button.connect {
      @extend %action-button;
      @extend .button-orange;
      display: inline-block;
    }

    button.disconnect {
      @extend .info-1;
      border:0;
      font-weight: normal;
      @extend .btn-link;
      @extend %action-link;
      color: $brand-orange;
      &:hover {
        color: $dark-orange;
        text-decoration: none;
      }
    }

    .secret-name {
      @extend .info-1;
      margin:0;
      font-weight: normal;
    }

    .disconnect {
      @extend .content-1;
      padding: 0!important;
      margin-top:.3rem;
      font-weight: normal;
    }
  }
}
