.submit-button {
  margin-top: 1rem;
  text-align: right;


  button {
    @extend .action-button;
    @extend .button-orange--fill;
    display: inline-block; // override whatever .action-button does

    // Now resize: this button can be a good deal smaller than a typical .action-button
    min-width: 0;
    min-height: 0;
    width: auto;
    height: auto;
    font-size: 1.1rem;


    i::before {
      vertical-align: -2px; // font bug? glyph isn't centered?
      margin-left: 3px;
    }
    &:disabled {
      @extend .button-blue;
      opacity: .6;
      cursor: default;

      &:hover {
      background-color: transparent;
      cursor: default;
      }
      &:active {
        color: $brand-workspace;
      }
    }
    &:active {
      border: 1px solid $brand-orange;
    }
    &:hover {
      background-color: $brand-orange--medium;
      color: white;
    }
  }
}
