@include media-when-we-pin-main-nav-sidebar {
  .page main.workflows {
    max-width: 100%; // <table> always takes full width
  }
}

main.workflows {
  padding-bottom: rem(2); // the <table> has a white background. Add padding below to suggest end-of-page

  header {
    padding-bottom: rem(2); // smaller than on most pages
  }

  form.create-workflow {
    margin: 0;

    button {
      @include action-button;
      @include button-blue--fill;
      height: 4rem;
      font-size: 1.5rem;
    }
  }

  .workflow-list {
    background: white;
    margin: rem(2) (-$main-padding);
    padding: 0 $main-padding rem(2);

    @include media-when-we-pin-main-nav-sidebar {
      margin: rem(2) (-$main-padding-desktop);
      padding: 0 $main-padding-desktop rem(2);
    }
  }

  table {
    width: 100%;
    border-collapse: separate; // so th { position:sticky } keeps border
    border-spacing: 0;

    td {
      border-bottom: 1px solid $item-border;
    }

    tr.changing {
      // signal to the user that we're busy
      color: $text-muted;
      pointer-events: none;
    }

    thead th {
      padding: rem(3) rem(.5) rem(1);
      border-bottom: 2px solid $brand-learn;
      white-space: nowrap; // "sort" icon shouldn't wrap
      position: sticky;
      top: 0;
      background: white;
      z-index: 1; // cover button.context-menu when scrolling and sticky

      a {
        color: inherit;
        display: block;
      }

      svg {
        margin-left: rem(.5);
      }
    }

    td, th {
      padding: rem(1) rem(.5);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }

      &.owner, &.updated, &.privacy {
        // These columns are "optional". We only show them:
        // * when they make sense (e.g., "owner" doesn't make sense on "owned" workflows)
        // * when they fit (e.g., on mobile they may not fit)
        // Override this using &.owned, &.shared-with-me and &.example selectors below
        display: none;
      }
    }

    td.title {
      padding: 0;

      a {
        color: inherit;
        display: block;
        padding: rem(1.25) rem(.5) rem(1) 0;
      }
    }

    td.actions {
      // .actions is present when workflows are editable
      width: 1px;
      padding: 0;
    }
  }

  .workflow-list.owned {
    table {
      td, th {
        &.updated {
          display: table-cell;
        }

        @include media-when-we-pin-main-nav-sidebar {
          &.privacy {
            display: table-cell;
          }
        }
      }
    }
  }

  .workflow-list.shared-with-me, .workflow-list.example {
    table {
      td, th {
        &.owner {
          display: table-cell;
        }

        @include media-when-we-pin-main-nav-sidebar {
          &.updated, &.privacy {
            display: table-cell;
          }
        }
      }
    }
  }
}

