{%  extends 'base_no_intercom.html' %}
{% load account i18n_icu %}

{% block title %}
    {% trans_html "py.templates.403.title"  default="403 Forbidden" %}
{% endblock %}

{% block body %}
  <div class="account-fullscreen-container">
    <div class="background"></div>
    <div class="account-card">
      <div class="error-number">403<div>
      <div class="title-1 text-center mb-5">{% trans_html "py.templates.403.description" default="The account you are logged in does not have access to this page" %}</div>
      <a href="{% url "workflows" %}" style="width:200px" class="button-white action-button mx-auto mb-3">{% trans_html "py.templates.403.goBack.link" default="Go back to my workspace" %}</a>
    </div>
  <div>
{% endblock %}
