{%  extends 'base_no_intercom.html' %}
{% load account i18n %}

{% block title %}
    404 Page not found
{% endblock %}

{% block body %}
  <div class="login-fullscreen-container">
    <div class="login-card">
      <div class="font404 text-center mt-3 t-white mb-5">404<div>
      <div class="title-1 text-center mb-5 t-white">Not the number you're looking for</div>
      <a href="{% url "account_login" %}" style="width:200px" class="button-white action-button mx-auto mb-3">{% trans "Go back to my workspace" %}</a>
    </div>
  <div>
{% endblock %}
