{%  extends 'base_no_intercom.html' %}
{% load render_bundle from webpack_loader %}
{% load account i18n %}

{% block title %}
    404 Page not found
{% endblock %}


{% block head %}
  {% render_bundle 'login' 'css' %}
{% endblock %}

{% block body %}
  <div class="login-fullscreen-container">
    <div class="title-2 mb-4 t-white">Page not found found</div>
    <div class='text-center'>
        <a href="{% url "account_login" %}" class="content-3 t-white-u ">{% trans "Back to my workspace" %}</a>
    </div>
  <div>
    {% render_bundle 'login' 'js' %}
{% endblock %}
