{% extends 'minimum.html' %}
{% load analytics_tags %}
{% load json_filters %}

{% load_analytics_ids as analytics_ids %}

{% block headscripts_globals %}
  <script type="text/javascript">window.initState = {{initState|json_in_script_tag}}</script>
{% endblock %}

{% block analytics %}
  {% if analytics_ids.google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_ids.google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ analytics_ids.google_analytics_id }}');
    </script>
  {% endif %}
{% endblock analytics %}
