{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n_icu %}
{% block title %}{% trans_html "py.templates.course.workbenchTraining.title" default="Workbench Training" %}{% endblock %}

{% block body %}
  <div class="page">
    <nav class="main-nav"><!-- filled in by React --></nav>
    <main class="lessons-page">
      <header>
        <h1>
          {% if course.slug %}
            {{ course.title }}
          {% else %}
            {% trans_html "py.templates.course.tutorials.link" default="Tutorials" %}
          {% endif %}
        </h1>
      </header>
      <div class="course">
        <div class="introduction">{{course.introduction_html|safe}}</div>
        <ul class="lessons">
          {% for lesson in lessons %}
            <li class="lesson">
              <a href="{{lesson_url_prefix}}/{{lesson.slug}}">
                <h2>{{lesson.title}}</h2>
                <div class="description">{{lesson.header.html|safe}}</div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </div>
  {% render_bundle 'lessons' 'js' %}
{% endblock %}
