{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n_icu %}
{% block title %}{% trans_html "py.templates.course.workbenchTraining.title" default="Workbench Training" %}{% endblock %}

{% block body %}
  <div id="root">
    <div class="lessons-page">
      <div class="navbar-wrapper"></div>
      <div class="container">
        <div class="courses-nav">
          <ul>
            <!-- "Training" has a special URL -->
            <li class="{% if not course.slug %}active{% endif %}">
              <a href="/lessons/{{course.locale_id}}">{% trans_html "py.templates.course.tutorials.link" default="TUTORIALS" comment="This must be all-caps for styling reasons" %}</a>
            </li>
            {% for c in courses %}
              <li class="{% if c is course %}active{% endif %}">
                <a href="/courses/{{c.locale_id}}/{{c.slug}}">{{c.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="course">
          <div class="introduction">{{course.introduction_html|safe}}</div>
          <ul class="lessons">
            {% for lesson in lessons %}
              <li class="lesson">
                <a href="{{lesson_url_prefix}}/{{lesson.slug}}">
                  <h2>{{lesson.title}}</h2>
                  <div class="description">{{lesson.header.html|safe}}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% render_bundle 'lessons' 'js' %}
  </div>
{% endblock %}
