{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}Workbench{% endblock %}

{% block body %}
  <div id="root">
    <div class="lessons-page">
      <div class="navbar-wrapper"></div>
      <div class="container">
        <div class="mx-auto lessons-list">
          <h3 class="lessons-list--title">TUTORIALS</h3>
          <ul class="lessons">
            {% for lesson in lessons %}
              <li class='lesson'>
                <form class='container' method="post" action="{{lesson.get_absolute_url}}">{% csrf_token %}
                  <a class='lesson-button' onclick="this.parentElement.submit()">
                    <h2>{{lesson.title}}</h2>
                    <div class="description">{{lesson.header.html|safe}}</div>
                  </a>
                </form>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% render_bundle 'lessons' 'js' %}
  </div>
{% endblock %}
