{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    {% render_bundle 'login' 'css' %}
  </head>

  <body>

    <div class="container">
      <div class="row" id="pwd-container">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
          <div class="modal-dialog">
            <div class="loginmodal-container">
              <h1 class="text-center">CJ Workbench</h1><br>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-4">
        </div>
      </div>
    </div>

    <!-- JavaScript scripts -->
    {% render_bundle 'login' 'js' %}

  </body>
</html>

