{%  extends 'base_no_intercom.html' %}
{% load i18n_icu %}

{% block title %}
   {% trans_html "py.templates.oauth_token_request_denied.title" default="OAuth Error" %} 
{% endblock %}

{% block body %}
  <div class="oauth-error">
    <p>
      {% trans_html "py.templates.oauth_token_request_denied.description" default="The authorization server refused to let you log in." %}
    </p>
    <p>
      {% trans_html "py.templates.oauth_token_request_denied.suggestRetry" default="If this is your first time seeing this error, please close this window and retry." %}
    </p>
    <p>
      {% trans_html "py.templates.oauth_token_request_denied.contactUs" default="Otherwise, please contact us so we can figure out what's wrong." %}
    </p>
  </div>
{% endblock %}
