{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    {% render_bundle 'login' 'css' %}
  </head>

  <body>

  <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded border-bottom-1">
    <a class="navbar-brand mb-0 mr-auto" href="http://blog.cjworkbench.org">CJ Workbench</a>
    <a class="nav-link" href="http://blog.cjworkbench.org">Blog</a>
  </nav>

  <div class="login-fullscreen-container">
    <div class="container">
      <div class="card card-block login-card mx-auto drop-shadow" style="width: 20rem;">
         <h1 class="text-center">CJ Workbench</h1>
         <form method="post">
           {% csrf_token %}
           {{ form }}
           <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
         </form>
         <hr />
         <p>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>
  </div>

    <!-- JavaScript scripts -->
    {% render_bundle 'login' 'js' %}

  </body>
</html>
