{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load i18n_icu %}

{% block title %}{% trans_html "py.templates.workflow.title" default="Workbench" %}{% endblock %}

{% block body %}
  <div id="root"></div>
  {% render_bundle 'workflow' 'js' %}

  <div class="not-enough-px-warning">
    <div class="banner">
      <div class="video-container">
        <iframe data-src="https://player.vimeo.com/video/295956416" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <script>
        "use strict";

        window.addEventListener('load', function() {
          const warning = document.querySelector('.not-enough-px-warning');

          function onResize () {
            if (warning.offsetHeight) {
              window.removeEventListener('resize', onResize);
              const iframe = warning.querySelector('iframe');
              iframe.src = iframe.getAttribute('data-src');
            }
          }

          window.addEventListener('resize', onResize);
          onResize(); // initial check
        })
      </script>
      <div class="warning">{% trans_html "py.templates.workflow.widerScreen" default="You need a wider screen to enjoy Workbench" %}</div>
      <div class="detail">{% trans_html "py.templates.workflow.minimumRequirement" default="Min 650px wide" %}</div>
      <div class="detail">{% trans_html "py.templates.workflow.optimizedForDesktop" default="Experience optimized for web browsers" %}</div>
      <a href="{% url "account_login" %}" class="button-white--fill action-button mx-auto">{% trans_html "py.templates.workflow.signupLink.link" default="Signup" %}</a>
    </div>
    <div class="background"></div>
  </div>
{% endblock %}
