.chart-series-select {
  .column-param {
    padding: 0; // negate .form-control

    .react-select__control {
      // Line up with color selector
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
