.color-picker-popover {
  margin-left: 2rem;
  border: 2px solid $brand-workspace--medium;
  box-shadow: $menu-shadow;
  border-radius: 5px;

  .popover-body {
    padding: 1rem;
  }

  button.color-choice {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 0.3rem;
    margin: 0 0.6rem 0.6rem 0;
    border: none;

    &:last-of-type {
      margin-right: 0;
    }
  }

  button.choose-custom-color {
    // These override Bootstrap's styles
    transition: none; // animating color changes is so annoying
    border: none;
    width: 3rem;
  }

  input {
    @include module-parameter;
    width: 6em;

    &:invalid {
      border-color: $error-prompt;
    }
  }

  .arrow::before {
    top: -1px;
    border-bottom-color: $brand-workspace--medium;
  }

  // Arrow  and placement when popup is below or on-top of field
  &.bs-popover-bottom {
    margin-top: 0.8rem;
  }

  &.bs-popover-top {
    margin-bottom: 0.8rem;
  }
}
